<section class="content admin">
  <div class="container">
    <div class="row menu">
      <div class="col-xs-12">
        {{>admin-menu}}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <h4>Projetos</h4>
        <table id="listProjects" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Início</th>
              <th>Término</th>
              <th>Cidade</th>
              <th>Estado</th>
              <th>Status</th>
            </tr>
          </thead>

          <tfoot>
            <tr>
              <th>Nome</th>
              <th>Início</th>
              <th>Término</th>
              <th>Cidade</th>
              <th>Estado</th>
              <th>Status</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</section>

<script>
$(function(){
  $('#listProjects').dataTable( {
    "processing": true,
    "serverSide": true,
    "ordering": false,
    "lengthChange": false,
    "language": {
      sEmptyTable: "Nenhum registro encontrado",
      sInfo: "Mostrando de _START_ até _END_ de _TOTAL_ registros",
      sInfoEmpty: "Mostrando 0 até 0 de 0 registros",
      sInfoFiltered: "(Filtrados de _MAX_ registros)",
      sInfoPostFix: "",
      sInfoThousands: ".",
      sLengthMenu: "_MENU_ resultados por página",
      sLoadingRecords: "Carregando...",
      sProcessing: "Processando...",
      sZeroRecords: "Nenhum registro encontrado",
      sSearch: "Pesquisar",
      oPaginate: {
        sNext: "Próximo",
        sPrevious: "Anterior",
        sFirst: "Primeiro",
        sLast: "Último"
      },
      oAria: {
        sSortAscending: ": Ordenar colunas de forma ascendente",
        sSortDescending: ": Ordenar colunas de forma descendente"
      }
    },
    "columnDefs": [
        {
          "render": function ( data, type, row ) {
            return "<a href='/admin/projects/"+row[6]+"'>"+data+"</a>"
          },
          "targets": 0
        },
        {
          "visible": false,
          "targets": [ 6 ]
        }
    ],
    "ajax": {
      "url": "/projects_admin",
      "dataType": "jsonp"
    }
  });
});
</script>
