<section class="content admin">
  <div class="container">
    <div class="row menu">
      <div class="col-xs-12">
        {{>admin-menu}}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-right"><a href="/admin/projects">Voltar para a lista de projetos</a></div>
        <h3>Visualizar projeto</h3>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <form class="form-inline" action="/project/update" method="post">
          <input type="hidden" name="route" value="/admin/projects/{{model.id}}">
          <input type="hidden" name="id" value="{{model.id}}">
          <div class="panel panel-default">
            <div class="panel-body panel-list">
              <div class="list-group">
                <div class="list-group-item">
                  <div class="row">
                    <div class="col-xs-6">
                      <strong>Nome do projeto</strong><br>
                      {{model.name}}
                    </div>
                    <div class="col-xs-6">
                      <div class="form-group">
                        <label for="status">Status do projeto</label>
                        <select name="status" id="status" class="form-control" data-selected="{{model.status}}">
                          <option value="Inscrito">Inscrito</option>
                          <option value="Habilitado">Habilitado</option>
                          <option value="Aprovado">Aprovado</option>
                          <option value="Recusado">Recusado</option>
                          <option value="Em andamento">Em Andamento</option>
                          <option value="Encerrado">Encerrado</option>
                          <option value="Descontinuado">Descontinuado</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="list-group-item">
                  <div class="row">
                    <div class="col-xs-6">
                      <strong>Em qual cidade seu projeto vai acontecer?</strong><br>
                      {{model.state}}
                    </div>
                    <div class="col-xs-6">
                      <strong>Em qual estado seu projeto vai acontecer?</strong><br>
                      {{model.city}}
                    </div>
                  </div>
                </div>
                <div class="list-group-item">
                  <div class="row">
                    <div class="col-xs-6">
                      <strong>Linha de atuação</strong><br>
                      {{model.state}}
                    </div>
                    <div class="col-xs-6">
                      <strong>Período de duração</strong><br>
                      <i class="fa fa-calendar-o"></i>  {{model.startDateFormated}} à {{model.endDateFormated}}
                    </div>
                  </div>
                </div>
                <div class="list-group-item">
                  <strong>No que consiste o projeto?</strong><br>
                  {{model.state}}
                </div>
                <div class="list-group-item">
                  <strong>Qual a periodicidade das atividades do projeto?</strong><br>
                  {{model.state}}
                </div>
                <div class="list-group-item">
                  <strong>Onde as atividades do projeto serão realizadas?</strong><br>
                  {{model.periodOfActivities}}
                </div>
                <div class="list-group-item">
                  <strong>O projeto necessita de suprimentos?</strong><br>
                  {{model.suppliesNeeded}}
                </div>
                <div class="list-group-item">
                  <strong>Qual o principal objetivo do projeto, e quais os resultados pretende alcançar?</strong><br>
                  {{model.objective}}
                </div>
                <div class="list-group-item">
                  <strong>Planilha orçamentária</strong><br>
                  <a href="{{model.costSpreadsheet}}"><i class="fa fa-download"></i> Download</a>
                </div>
                <div class="list-group-item">
                  <strong>Proponente primário</strong><br>
                  <a href="/admin/users/{{model.owner.id}}" target="_blank">{{model.owner.name}}</a>
                </div>
                <div class="list-group-item">
                  <strong>Proponente secundário</strong><br>
                  <a href="/admin/users/{{model.secondaryTenderer.id}}" target="_blank">{{model.secondaryTenderer.name}}</a>
                </div>
                <div class="list-group-item">
                  <strong>Participantes</strong><br>
                  <i class="fa fa-users"></i> {{model.participants.length}} de {{model.maxParticipants}}<br>
                  {{#each model.participants}}
                  <a href="{{avatar}}" target="_blank">{{name}}</a>, &nbsp;
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Alterar status</button>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
$(function(){
  $('#status').each(function(){
    var $elm = $(this);
    var $selected = $elm.data('selected');

    $elm.children('option').each(function(){
      var $option = $(this);
      if($option.attr('value') === $selected) $option.attr('selected', 'selected');
    })
  });
});


</script>
