<section class="content admin">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        {{>admin-sidebar}}
      </div>
      <div class="col-xs-9">
        <header>
          <h3>Admin > Projetos</h3>
        </header>
        <hr>
        content
      </div>
    </div>
  </div>
</section>
