<section class="content profile-about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        {{>admin-menu}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <header>
          <h3>Admin</h3>
        </header>
        <hr>
      </div>
    </div>
  </div>
</section>
