<section class="content profile-about">
  <div class="container">
    <div class="row">
      {{#if flash}}
      <div class="col-xs-12">
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>{{flash}}</strong>
        </div>
      </div>
      {{/if}}

      <div class="col-xs-3">
        {{>user-sidebar}}
      </div>
      <div class="col-xs-9">
        <header>
          {{#unless notUpdateProfile}}<div class="pull-right"><a href="/profile/update" class="btn btn-primary"><i class="fa fa-pencil"></i> Atualizar dados do perfil</a></div>{{/unless}}
          <h3>Sobre</h3>
        </header>
        <hr>
        <div class="panel panel-default">
          <div class="panel-body panel-list">
            <div class="list-group">
              <div class="list-group-item">
                <strong>Nome Completo</strong><br>
                {{userSelected.name}}
              </div>
              <div class="list-group-item">
                <strong>Data de nascimento</strong><br>
                {{userSelected.birthFormated}}
              </div>
              <div class="list-group-item">
                <strong>Matrícula</strong><br>
                {{userSelected.registrationNumber}}
              </div>
              <div class="list-group-item">
                <strong>Área do People Value</strong><br>
                {{userSelected.area}}
              </div>
              <div class="list-group-item">
                <strong>Subarea do People Value</strong><br>
                {{userSelected.subarea}}
              </div>
              <div class="list-group-item">
                <strong>e-mail</strong><br>
                {{userSelected.email}}
              </div>
              <div class="list-group-item">
                <strong>Telefone 1:</strong><br>
                {{userSelected.phone}}
              </div>
              <div class="list-group-item">
                <strong>Telefone 2:</strong><br>
                {{userSelected.celphone}}
              </div>
              {{#unless isUserSelected}}
              <div class="list-group-item">
                <strong>* Número do cartão do plano de saúde:</strong><br>
                {{userSelected.healthInsuranceCard}}
              </div>
              <div class="list-group-item">
                <strong>* Modalidade do plano de saúde:</strong><br>
                {{userSelected.healthPlanMode}}
              </div>
              <div class="list-group-item">
                <strong>* Nome da operadora do plano de saúde:</strong><br>
                {{userSelected.healthPlanOperator}}
              </div>
              <div class="list-group-item">
                <strong>* Peso:</strong><br>
                {{userSelected.weight}}
              </div>
              <div class="list-group-item">
                <strong>* Altura:</strong><br>
                {{userSelected.height}}
              </div>
              <div class="list-group-item">
                <strong>* Tipo sanguíneo:</strong><br>
                {{userSelected.bloodType}}
              </div>
              <div class="list-group-item">
                <strong>* Contato para emergência:</strong><br>
                {{userSelected.emergencyContact}}
              </div>
              <div class="list-group-item">
                <strong>* Informações médicas:</strong><br>
                {{userSelected.medicalInformation}}
              </div>
              {{/unless}}
            </div>
          </div>
        </div>
        <p class="help-block small">* Apenas você e os gestores do programa #VEMPROJOGO! terão acesso a estas informações.</p>
    </div>
  </div>
</section>
