<section class="content profile-edit">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        {{>user-sidebar}}
      </div>
      <div class="col-xs-9">
        <div class="content">
          <header>
            <h3>Atualize os dados do seu perfil para ativar sua conta</h3>
          </header>
          <hr>
          <form action="/profile/update" method="post" id="activeProfile">
            {{flash}}
            <input type="hidden" name="active" value="true" />
            <div class="form-group">
              <label for="registrationNumber">Matrícula</label>
              <input type="text" class="form-control" name="registrationNumber" id="registrationNumber" value="{{model.registrationNumber}}" disabled>
            </div>

            <div class="form-group">
              <label for="name">Nome</label>
              <input type="text" class="form-control" name="example-input-last-name" id="name" value="{{model.name}}" disabled>
            </div>

            <div class="form-group">
              <label for="email">E-mail</label>
              <input type="text" class="form-control" name="email" id="email" value="{{model.email}}" disabled>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="area">Área do People Value</label>
                  <input type="text" class="form-control" name="area" id="area" value="{{model.area}}" disabled>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="subarea">Subarea do People Value</label>
                  <input type="text" class="form-control" name="subarea" id="subarea" value="{{model.subarea}}" disabled>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="phone">Telefone 1</label>
                  <input type="text" class="form-control phone" name="phone" id="phone" value="{{model.phone}}">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="celphone">Telefone 2</label>
                  <input type="text" class="form-control phone" name="celphone" id="celphone" value="{{model.celphone}}">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-4">
                <div class="form-group">
                  <label for="healthInsuranceCard">Número do seu cartão do plano de saúde</label>
                  <input type="text" class="form-control" name="healthInsuranceCard" id="healthInsuranceCard" value="{{model.healthInsuranceCard}}">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label for="healthPlanMode">Modalidade do seu plano de saúde</label>
                  <input type="text" class="form-control" name="healthPlanMode" id="healthPlanMode" value="{{model.healthPlanMode}}">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label for="healthPlanOperator">Nome da operadora do seu plano de saúde</label>
                  <input type="text" class="form-control" name="healthPlanOperator" id="healthPlanOperator" value="{{model.healthPlanOperator}}">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-4">
                <div class="form-group">
                  <label for="weight">Seu peso</label>
                  <input type="text" class="form-control" name="weight" id="weight" value="{{model.weight}}">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label for="height">Sua altura</label>
                  <input type="text" class="form-control" name="height" id="height" value="{{model.height}}">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label for="bloodType">Seu tipo sanguíneo</label>
                  <input type="text" class="form-control" name="bloodType" id="bloodType" value="{{model.bloodType}}">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="emergencyContact">Contato para emergência</label>
              <input type="text" class="form-control" name="emergencyContact" id="emergencyContact" value="{{model.emergencyContact}}">
              <p class="help-block small">Nome(s) e telefone(s)</p>
            </div>

            <div class="form-group">
              <label for="medicalInformation">Informações médicas</label>
              <textarea class="form-control" name="medicalInformation" id="medicalInformation" rows="3">{{model.medicalInformation}}</textarea>
              <p class="help-block small">Indicação de hospital, doença pré-existente, alergias, uso de medicamentos etc</p>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="password">Defina uma senha</label>
                  <input type="password" class="form-control" name="password" id="password" value="{{model.password}}">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="passwordComparison">Confirme sua senha</label>
                  <input type="password" class="form-control" name="passwordComparison" id="passwordComparison" value="{{model.passwordComparison}}">
                </div>
              </div>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" name="accept"> Eu declaro que li e estou de acordo com o <a href="/docs/regulamento-do-programa-vemprojogo-revisao-03.03.pdf" target="_blank">regulamento do programa #VEMPROJOGO</a>
              </label>
            </div>

            <button type="submit" class="btn btn-primary">Atualizar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
$(function(){
  $application.activeProfile();
});
</script>