<section class="content profile-timeline">
  <div class="container">
    <div class="row">
      {{#if flash}}
      <div class="col-xs-12">
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>{{flash}}</strong>
        </div>
      </div>
      {{/if}}

      <div class="col-xs-3">
        <div class="sidebar">
          {{>user-sidebar}}
        </div>
      </div>
      <div class="col-xs-9">
        <div class="content">
          {{#unless hidePostStatus}}
          <!-- post -->
          <div class="post">
            <div class="panel panel-info">
              <div class="panel-heading">Alguma novidade?</div>
              <div class="panel-body">
                <form action="/post" method="post" id="post" enctype="multipart/form-data">
                  <div class="form-group">
                    <textarea class="form-control" name="text" id="post-status" placeholder="Conte a seus amigos..."></textarea>
                  </div>
                  <div class="form-group file-inline">
                    <label for="filePhoto">Anexar foto</label>
                    <input type="file" name="filePhoto" id="filePhoto">
                  </div>
                  <div class="pull-right"><button type="submit" class="btn btn-primary">Publicar</button></div>
                  {{!-- <a href="#" class="btn btn-primary buttonPhoto"><i class="fa fa-camera"></i> Anexar foto</a>
                  <div id="pathPreview"><a href="#" class="photoRemove"><i class="fa fa-times"></i> Remover foto</a><span id="pathFileName">x</span></div> --}}
                  <div id="photoPreview"><a href="#" class="btn btn-default photoRemove"><i class="fa fa-times"></i></a><span class="thumbnail"><img src=""></span></div>
                </form>
              </div>
            </div>
          </div>
          <!-- /post -->
          {{/unless}}
          <div class="posts">
            {{!-- modal for post likes --}}
            <div class="modal fade" id="postLikes" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content"></div>
              </div>
            </div>
            {{!-- /modal for post likes --}}
            {{!-- modal for comment likes --}}
            <div class="modal fade" id="commentLikes" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content"></div>
              </div>
            </div>
            {{!-- /modal for comment likes --}}
            {{#each model}}
            <div class="post" id="post-{{id}}">
              <div class="panel panel-default">
                <div class="panel-body">
                  <header>
                    <div class="user">
                      <div class="pull-left">
                        <a href="#" class="avatar"><img class="media-object" src="{{owner.avatar}}"></a>
                      </div>
                      {{#if post.isMe}}
                      <div class="pull-right">
                        <div class="btn-group">
                          <button type="button" class="btn btn-link btn-xs dropdown-toggle edit-post" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#" class="deletePost" data-post="{{id}}">Deletar post</a></li>
                          </ul>
                        </div>
                      </div>
                      {{/if}}
                      <a href="{{#if isMe}}/timeline{{else}}/friend/{{owner.id}}/timeline{{/if}}">{{owner.name}}</a><br>
                      <div class="date small">{{formatedCreated}}</div>
                    </div>
                  </header>
                  {{post.text}}
                  {{#if post.photo}}<span class="thumbnail"><img src="/post/{{post.id}}/img" alt=""></span>{{/if}}
                  <br>
                  {{#if post.isLiked}}
                    <a href="#" class="likePost" data-action="dislike" data-post="{{post.id}}" data-user="{{../currentUser.id}}">Descurtir</a>
                  {{else}}
                    <a href="#" class="likePost" data-action="like" data-post="{{post.id}}" data-user="{{../currentUser.id}}">Curtir</a>
                  {{/if}}
                  <footer>
                    <header>{{post.comments.length}} <i class="fa fa-comments-o"></i> <span class="comments-length" data-length="{{post.comments.length}}">Comentários</span> / <a href="/post-likes/{{post.id}}" data-toggle="modal" data-target="#postLikes">{{post.likes.length}} <i class="fa fa-thumbs-o-up"></i> <span class="likes-length" data-length="{{post.likes.length}}">Curtidas</span></a></header>
                    <div class="comments">
                      <ul class="list-group">
                        {{#each post.comments}}
                        <!-- comment -->
                        <li class="list-group-item" id="comment-{{id}}">
                          <div class="comment">
                            <div class="pull-left">
                              <a href="#" class="avatar"><img class="media-object" src="{{owner.avatar}}"></a>
                            </div>
                            {{#if canDelete}}
                            <div class="pull-right">
                              <div class="btn-group">
                                <button type="button" class="btn btn-link btn-xs dropdown-toggle edit-comment" data-toggle="dropdown" aria-expanded="false">
                                  <i class="fa fa-trash-o"></i>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                  <li><a href="#" class="deleteComment" data-comment="{{id}}">Deletar comentário</a></li>
                                </ul>
                              </div>
                            </div>
                            {{/if}}
                            <a href="{{#if isMe}}/timeline{{else}}/friend/{{owner.id}}/timeline{{/if}}">{{owner.name}}</a><br>
                            <div class="date small">{{formatedCreated}}</div>
                          </div>
                          {{body}}
                          <footer>
                            {{#if isLiked}}
                            <a href="#" class="likeComment" data-action="dislike" data-comment="{{id}}" data-user="{{../../currentUser.id}}">Descurtir</a> 
                            {{else}}
                            <a href="#" class="likeComment" data-action="like" data-comment="{{id}}" data-user="{{../../currentUser.id}}">Curtir</a>
                            {{/if}} / <a href="/comment-likes/{{id}}" data-toggle="modal" data-target="#commentLikes">{{likes.length}} <i class="fa fa-thumbs-o-up"></i> <span class="likes-length" data-length="{{likes.length}}">Curtidas</span></a>
                          </footer>
                        </li>
                        <!-- /comment -->
                        {{/each}}
                      </ul>
                    </div>
                    <footer>
                      <form action="/comment" method="post" id="comment">
                        <div class="form-group">
                          <input type="hidden" name="postId" value="{{contextId}}">
                          <input type="text" class="form-control" name="body" id="body" placeholder="Deixe seu comentário...">
                        </div>
                      </form>
                    </footer>
                  </footer>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
ie = /MSIE\s([\d.]+)/.test(navigator.userAgent);

// $.validator.addMethod("extension", function(value, element, param) {
//         param = typeof param === "string" ? param.replace(/,/g, "|") : "png|jpe?g";
//         return this.optional(element) || value.match(new RegExp(".(" + param + ")$", "i"));
//       }, $.validator.format("Please enter a value with a valid extension."));

$('.deletePost').click(function(){
  var $id = $(this).data('post');
  var url = '/post/'+$id;
  io.socket.request({
    method: 'delete',
    url: url,
    params: {},
    headers: {}
  });
});

$('.deleteComment').click(function(){
  var $id = $(this).data('comment');
  var url = '/comment/'+$id;

  io.socket.request({
    method: 'delete',
    url: url,
    params: {},
    headers: {}
  });
});

$(function(){
  $application.timeline();

  //-----
  $('.buttonPhoto').on('click', function(){
    $('input[name=filePhoto]').click();
  });

  $('.likePost').on('click', function(e){
    e.preventDefault();
    var $elm = $(this);
    var $post = $elm.data('post');
    var $user = $elm.data('user');
    var $action = $elm.data('action');

    var url = '/post/'+$post+'/'+$action;
    $.post(url, {post: $post, owner: $user}, function( data ) {
      location.reload();
    });
  });

  $('.likeComment').on('click', function(e){
    e.preventDefault();
    var $elm = $(this);
    var $comment = $elm.data('comment');
    var $user = $elm.data('user');
    var $action = $elm.data('action');

    var url = '/comment/'+$comment+'/'+$action;
    $.post(url, {comment: $comment, owner: $user}, function( data ) {
      location.reload();
    });
  });

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#photoPreview img').attr('src', e.target.result);
      }

      reader.readAsDataURL(input.files[0]);
    }
  }

  if(!ie) {
    $('input[name=filePhoto]').change(function(){
      readURL(this);
      $('#photoPreview').css('display', 'inline-block');
    });
  }
  // $('input[name=filePhoto]').change(function(){
  //   if(ie) {
  //     // var path = $('input[name=filePhoto]').val();
  //     //     path = path.replace("C:\\fakepath\\", "");
  //     // $('#pathFileName').html(path);
  //     // $('#pathPreview').css('display', 'inline-block');
  //   } else {
  //     readURL(this);
  //     $('#photoPreview').css('display', 'inline-block');
  //   }
  // });

  $('.photoRemove').click(function() {
    if (ie) {
      // $('#pathPreview').css('display', 'none');
    } else {
      readURL(this);
      $('#photoPreview').css('display', 'none');
    }
    $('input[name=filePhoto]').val('');
  });
  //-----

  io.socket.on('user {{currentUser.id}} post', function(result) {
    if(result.verb === 'deleted') $('#post-'+result.id).fadeOut('slow');
  });

  io.socket.on('user {{currentUser.id}} comment', function(result) {
    if(result.verb === 'deleted') $('#comment-'+result.id).fadeOut('slow');
  });
});
</script>
