<section class="content profile-timeline">
  <div class="container">
    <div class="row">
      {{#if flash}}
      <div class="col-xs-12">
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>{{flash}}</strong>
        </div>
      </div>
      {{/if}}

      <div class="col-xs-3">
        <div class="sidebar">
          {{>user-sidebar}}
        </div>
      </div>
      <div class="col-xs-9">
        <div class="content">
          <div class="posts">
            {{!-- modal for post likes --}}
            <div class="modal fade" id="postLikes" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content"></div>
              </div>
            </div>
            {{!-- /modal for post likes --}}
            {{!-- modal for comment likes --}}
            <div class="modal fade" id="commentLikes" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content"></div>
              </div>
            </div>
            {{!-- /modal for comment likes --}}
            <div class="post" id="post-{{id}}">
              <div class="panel panel-default">
                <div class="panel-body">
                  <header>
                    <div class="user">
                      <div class="pull-left">
                        <a href="#" class="avatar"><img class="media-object" src="{{model.owner.avatar}}"></a>
                      </div>
                      {{#if model.isMe}}
                      <div class="pull-right">
                        <div class="btn-group">
                          <button type="button" class="btn btn-link btn-xs dropdown-toggle edit-post" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#" class="deletePost" data-post="{{id}}">Deletar post</a></li>
                          </ul>
                        </div>
                      </div>
                      {{/if}}
                      <a href="{{#if isMe}}/timeline{{else}}/friend/{{model.owner.id}}/timeline{{/if}}">{{model.owner.name}}</a><br>
                      <div class="date small">{{formatedCreated}}</div>
                    </div>
                  </header>
                  {{model.text}}
                  {{#if model.photo}}<span class="thumbnail"><img src="/post/{{model.id}}/img" alt=""></span>{{/if}}
                  <br>
                  {{#if model.isLiked}}
                    <a href="#" class="likePost" data-action="dislike" data-post="{{model.id}}" data-user="{{currentUser.id}}">Descurtir</a>
                  {{else}}
                    <a href="#" class="likePost" data-action="like" data-post="{{model.id}}" data-user="{{currentUser.id}}">Curtir</a>
                  {{/if}}
                  <footer>
                    <header>{{model.comments.length}} <i class="fa fa-comments-o"></i> <span class="comments-length" data-length="{{model.comments.length}}">Comentários</span> / <a href="/post-likes/{{model.id}}" data-toggle="modal" data-target="#postLikes">{{model.likes.length}} <i class="fa fa-thumbs-o-up"></i> <span class="likes-length" data-length="{{model.likes.length}}">Curtidas</span></a></header>
                    <div class="comments">
                      <ul class="list-group">
                        {{#each model.comments}}
                        <!-- comment -->
                        <li class="list-group-item" id="comment-{{id}}">
                          <div class="comment">
                            <div class="pull-left">
                              <a href="#" class="avatar"><img class="media-object" src="{{owner.avatar}}"></a>
                            </div>
                            {{#if canDelete}}
                            <div class="pull-right">
                              <div class="btn-group">
                                <button type="button" class="btn btn-link btn-xs dropdown-toggle edit-comment" data-toggle="dropdown" aria-expanded="false">
                                  <i class="fa fa-trash-o"></i>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                  <li><a href="#" class="deleteComment" data-comment="{{id}}">Deletar comentário</a></li>
                                </ul>
                              </div>
                            </div>
                            {{/if}}
                            <a href="{{#if isMe}}/timeline{{else}}/friend/{{owner.id}}/timeline{{/if}}">{{owner.name}}</a><br>
                            <div class="date small">{{formatedCreated}}</div>
                          </div>
                          {{body}}
                          <footer>
                            {{#if isLiked}}
                            <a href="#" class="likeComment" data-action="dislike" data-comment="{{id}}" data-user="{{currentUser.id}}">Descurtir</a> 
                            {{else}}
                            <a href="#" class="likeComment" data-action="like" data-comment="{{id}}" data-user="{{currentUser.id}}">Curtir</a>
                            {{/if}} / <a href="/comment-likes/{{id}}" data-toggle="modal" data-target="#commentLikes">{{likes.length}} <i class="fa fa-thumbs-o-up"></i> <span class="likes-length" data-length="{{likes.length}}">Curtidas</span></a>
                          </footer>
                        </li>
                        <!-- /comment -->
                        {{/each}}
                      </ul>
                    </div>
                    <footer>
                      <form action="/comment" method="post" id="comment">
                        <div class="form-group">
                          <input type="hidden" name="postId" value="{{contextId}}">
                          <input type="text" class="form-control" name="body" id="body" placeholder="Deixe seu comentário...">
                        </div>
                      </form>
                    </footer>
                  </footer>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
$('.deletePost').click(function(){
  var $id = $(this).data('post');
  var url = '/post/'+$id;
  io.socket.request({
    method: 'delete',
    url: url,
    params: {},
    headers: {}
  });
});

$('.deleteComment').click(function(){
  var $id = $(this).data('comment');
  var url = '/comment/'+$id;

  io.socket.request({
    method: 'delete',
    url: url,
    params: {},
    headers: {}
  });
});

$(function(){
  $application.timeline();

  $('.likePost').on('click', function(e){
    e.preventDefault();
    var $elm = $(this);
    var $post = $elm.data('post');
    var $user = $elm.data('user');
    var $action = $elm.data('action');

    var url = '/post/'+$post+'/'+$action;
    $.post(url, {post: $post, owner: $user}, function( data ) {
      location.reload();
    });
  });

  $('.likeComment').on('click', function(e){
    e.preventDefault();
    var $elm = $(this);
    var $comment = $elm.data('comment');
    var $user = $elm.data('user');
    var $action = $elm.data('action');

    var url = '/comment/'+$comment+'/'+$action;
    $.post(url, {comment: $comment, owner: $user}, function( data ) {
      location.reload();
    });
  });

  io.socket.on('user {{currentUser.id}} post', function(result) {
    if(result.verb === 'deleted') $('#post-'+result.id).fadeOut('slow');
  });

  io.socket.on('user {{currentUser.id}} comment', function(result) {
    if(result.verb === 'deleted') $('#comment-'+result.id).fadeOut('slow');
  });
});
</script>
