<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Pessoas que curtiram esse post</h4>
</div>
<div class="modal-body">
	<div class="list-group friends-list">
	  {{#each model}}
	  {{!-- friend-item --}}
	  <div class="list-group-item friends-item">
	    <div class="pull-left"><a href="/friend/{{owner.id}}/timeline" class="avatar"><img class="media-object" src="{{owner.avatar}}" width="42"></a></div>
	    <div class="name"><a href="/friend/{{owner.id}}/timeline">{{owner.name}}</a></div>
	  </div>
	  {{!-- /friend-item --}}
	  {{/each}}
	</div>
</div>
