<ul class="nav nav-pills">
  <li role="presentation"><a href="/admin/newsticker">Newsticker</a></li>
  <li role="presentation"><a href="/admin/news">Notícias</a></li>
  <li role="presentation"><a href="/admin/projects">Projetos</a></li>
  <li role="presentation"><a href="/admin/users">Usuários</a></li>
</ul>
