<section class="footer">
  <div class="container">
  	<div class="row">
  		<div class="pull-left">#VEMPROJOGO!</div>
  		{{#if authenticated}}
	  		<div class="pull-right">
	  			<ul class="list-inline">
	  				<li><a href="/faq"><i class="fa fa-question-circle"></i> Perguntas frequentes</a></li>
	  				<li><a href="/docs/regulamento-do-programa-vemprojogo-revisao-03.03.pdf" target="_blank"><i class="fa fa-file-text-o"></i> Regulamento do programa</a></li>
            <li><a href="/contact" target="_blank"><i class="fa fa-envelope-o"></i> Dúvidas, sugestões ou reclamações</a></li>
	  			</ul>
	  		</div>
  		{{/if}}
  	</div>
  </div>
</section>
