<section class="header">
  <div class="navbar navbar-application navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"></a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {{#if authenticated}}
          {{#if userSelected.active}}
          <li>
            <a href="/notifications" {{#if notificationsUnread}}class="notification-alert"{{/if}}><i class="fa fa-bell"></i></a>
          </li>
          {{/if}}
          <li class="dropdown user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img src="{{currentUser.avatar}}" class="img-circle avatar">{{currentUser.name}} <span class="caret"></span></a>
            <ul class="dropdown-menu pull-right" role="menu">
              <li><a href="/timeline">Perfil</a></li>
              <li class="divider"></li>
              <li><a href="/auth/logout">Sair</a></li>
            </ul>
          </li>
          {{else}}
          <li><a href="/login" class="login">Entre ou ative seu cadastro para participar do jogo</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
  {{#unless hideNavBarNews}}
  <div class="navbar-news navbar-fixed-top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="pull-left">
            <ul class="nav nav-pills">
              {{#each categories}}
              <li role="presentation"><a href="/categoria/{{id}}" class="{{class}}">{{name}}</a></li>
              {{/each}}
            </ul>
          </div>
          {{!-- <div class="pull-right">
            <form class="navbar-form" role="search">
              <div class="search">
                <div class="input-group">
                <input class="form-control" placeholder="Procurar notícia  …" type="text">
                  <span class="input-group-btn">
                    <a class="btn btn-primary" href="/search"><span class="fa fa-search"></span></a>
                  </span>
                </div>
              </div>
            </form>
          </div> --}}
        </div>
      </div>
    </div>
  </div>
  {{/unless}}
</section>
