<!-- news-item -->
<div class="col-xs-4 news-item">
  <a href="/noticia/{{id}}">
    {{#if photo}}<span class="thumbnail"><img src="{{photo}}" class="img-responsive"></span>{{/if}}
    <span class="subtitle">{{subtitle}}</span>
    <span class="title">{{title}}</span>
  </a>
</div>
<!-- /news-item -->
