<div class="sidebar">
  <div class="user">
    <div class="panel panel-default">
      <div class="panel-body">
        <header>
          <div class="avatar"><img src="{{userSelected.avatar}}"></div>
        </header>
        <footer>

					{{#if userSelected.active}}
          	{{#unless notUpdateAvatar}}<p><a href="javascript:void(0);" data-toggle="modal" data-target="#updateProfilePicture"><i class="fa fa-pencil"></i> Atualizar imagem de perfil</a></p>{{/unless}}
					{{/if}}
          <!-- updateProfilePicture -->
          <div class="modal fade" id="updateProfilePicture" tabindex="-1" role="dialog" aria-labelledby="updateProfilePictureLabel" aria-hidden="true">
            <form action="/user/avatar" method="post" enctype="multipart/form-data" id="updateProfilePicture" enctype="multipart/form-data">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="updateProfilePictureLabel">Atualizar imagem de perfil</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <input type="file" name="avatar" id="avatar">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          {{!-- /updateProfilePicture --}}

          <!-- sendMessage -->
          <div class="modal fade" id="sendMessage" tabindex="-1" role="dialog" aria-labelledby="sendMessageLabel" aria-hidden="true">
            <form action="/messages" method="post" id="sendMessage">
              <div class="modal-dialog">
                <input type="hidden" name="owner" value="{{currentUser.id}}">
                <input type="hidden" name="to" value="{{userSelected.id}}">
                <input type="hidden" name="route" value="/friend/{{userSelected.id}}/timeline">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="sendMessageLabel">Enviar mensagem</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <textarea name="content" rows="10" class="form-control"></textarea>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          {{!-- /sendMessage --}}

          <div class="name">{{userSelected.name}}</div>
          <div class="job-title"><b>{{userSelected.area}}</b><br>{{userSelected.subarea}}</div>

					{{#unless isUserSelected}}
						{{!-- esse sou eu --}}
					{{else}}
						{{!-- esse é meu amigo --}}

            {{#if showDestroyFriend}}
              <a href="javascript:void(0);" class="btn btn-primary btn-block deleteFriend" data-friend="{{userSelected.id}}"><i class="fa fa-user-times"></i> Cancelar</a>
            {{/if}}

						{{#if isMyFriend}}
							<div class="btn-group btn-block">
                <button type="button" class="btn btn-success btn-block dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-check"></i> Amigos <span class="caret"></span>
                </button>
                <ul class="dropdown-menu btn-block" role="menu">
                  <li><a href="#" class="deleteFriend" data-friend="{{userSelected.id}}">Desfazer amizade</a></li>
                </ul>
              </div>
						{{else}}
              {{#unless showDestroyFriend}}
							<form action="/friends" method="post">
                <input type="hidden" name="to" value="{{userSelected.id}}">
                <button class="btn btn-primary btn-block"><i class="fa fa-user-plus"></i> Adicionar amigo</button>
              </form>
              {{/unless}}
						{{/if}}

					{{/unless}}

          {{#if showSendMessage}}
          <p><a href="#" class="btn btn-primary btn-block"  data-toggle="modal" data-target="#sendMessage"><i class="fa fa-envelope"></i> Enviar mensagem</a></p>
          {{/if}}
        </footer>

				{{#if userSelected.active}}
					<hr>
					<nav>
					  <ul class="nav nav-pills nav-stacked">
					    {{#unless isUserSelected}}
					    <li {{#if notificationsUnread}}class="active"{{/if}}><a href="/notifications" {{#if notificationsUnread}}class="notification-alert"{{/if}}><i class="fa fa-bell"></i> Notificações</a></li>
              <li><a href="/my-posts"><i class="fa fa-newspaper-o"></i> Minhas publicações</a></li>
              <li><a href="/timeline"><i class="fa fa-newspaper-o"></i> Timeline</a></li>
					    <li><a href="/about"><i class="fa fa-user"></i> Sobre</a></li>
					    <li><a href="/friends"><i class="fa fa-users"></i> Amigos</a></li>
					    <li><a href="/projects"><i class="fa fa-soccer-ball-o"></i> Projetos</a></li>
					    <li><a href="/messages"><i class="fa fa-envelope"></i> Mensagens</a></li>
					    {{else}}
					    <li><a href="/friend/{{userSelected.id}}/timeline"><i class="fa fa-newspaper-o"></i> Timeline</a></li>
					    <li><a href="/friend/{{userSelected.id}}/about"><i class="fa fa-user"></i> Sobre</a></li>
					    <li><a href="/friend/{{userSelected.id}}/friends"><i class="fa fa-users"></i> Amigos</a></li>
					    <li><a href="/friend/{{userSelected.id}}/projects"><i class="fa fa-soccer-ball-o"></i> Projetos</a></li>
					    {{/unless}}
					  </ul>
					</nav>
				{{/if}}
      </div>
    </div>
  </div>
</div>
<script>
$(function(){
  $application.sidebarProfile();

  $('.deleteFriend').click(function(){
    var $friend = $(this).data('friend');
    var url = '/friends/'+$friend;
    io.socket.request({
      method: 'delete',
      url: url,
      params: {},
      headers: {}
    });
  });

  io.socket.on('user {{currentUser.id}} friend', function(result) {
    if(result.verb === 'deleted') {
     location.reload();
    }
  });
});
</script>
