<!DOCTYPE html>
<html>
  <head>
    <title>#VEMPROJOGO TIM</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!-- If you don't need support for Internet Explorer <= 8 you can safely remove these -->
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="/styles/ie8.css">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="/libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/libraries/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/libraries/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet">
    <link href="/styles/docs.css" rel="stylesheet">
    <link href="/styles/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/styles/select2.css" rel="stylesheet">
    <link href="/styles/ui.css" rel="stylesheet">

    <script src="/libraries/jquery/jquery-1.11.2.min.js"></script>
    <script src="/libraries/select2/select2.full.js"></script>
    <script src="/libraries/select2/pt-BR.js"></script>
    <script src="/libraries/datatables/jquery.dataTables.js"></script>
    <script src="/libraries/datatables/dataTables.bootstrap.js"></script>
    <script src="/libraries/lodash/lodash.js"></script>
    <script src="/libraries/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/libraries/bootstrap-datepicker/js/locales/bootstrap-datepicker.pt-BR.js"></script>
    <script src="/libraries/jquery.serializejson/jquery.serializejson.js"></script>
    <script src="/js-head/application.js"></script>
    <script src="/js-head/login.js"></script>
    <script src="/js-head/password.js"></script>
    <script src="/js-head/timeline.js"></script>
    <script src="/js-head/activeProfile.js"></script>
    <script src="/js-head/updateProfile.js"></script>
    <script src="/js-head/sidebarProfile.js"></script>
    <script src="/js-head/projects.js"></script>

    <script src="/js-head/adminNews.js"></script>

    <script>
    $(function() {
      window.$application = new application();
    });
    </script>
    <!--STYLES-->
    <!--STYLES END-->
  </head>

  <body data-spy="scroll" data-target=".docs-sidebar">
    <section class="application">
      {{>header}}
      {{{body}}}
      {{>footer}}
    </section>

    <!--TEMPLATES-->
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/bootstrap/bootstrap.js"></script>
    <script src="/js/dependencies/cidades-estados-js/cidades-estados-1.2-utf8.js"></script>
    <script src="/js/dependencies/jquery-backstretch/jquery.backstretch.min.js"></script>
    <script src="/js/dependencies/jquery-maskedinput/jquery.maskedinput.min.js"></script>
    <script src="/js/dependencies/jquery-validate/jquery.validate.js"></script>
    <script src="/js/dependencies/jquery-validate/messages_pt_BR.js"></script>
    <script src="/js/dependencies/moment/moment-with-locales.min.js"></script>
    <script src="/js/ui.js"></script>
    <!--SCRIPTS END-->

    <script>
      $(function() {
        io.socket.on('user {{currentUser.id}} notification', function(result) {
          $('a[href="/notifications"]').addClass('notification-alert').parent().addClass('active')
        });
      });
    </script>
  </body>
</html>
