<section class="content friends">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        {{>user-sidebar}}
      </div>
      <div class="col-xs-9">
        <header>
          <h3>Amigos</h3>
        </header>
        <hr>
        <!-- Nav tabs -->
        {{#unless hide}}
        <ul class="nav nav-tabs tab-friends" role="tablist">
          <li role="presentation" class="active"><a href="#myFriends" aria-controls="myFriends" role="tab" data-toggle="tab">Meus amigos</a></li>
          <li role="presentation"><a href="#friendsRequests" aria-controls="friendsRequests" role="tab" data-toggle="tab">Pedidos de amizade</a></li>
          <li role="presentation"><a href="#searchFriends" aria-controls="searchFriends" role="tab" data-toggle="tab">Procurar amigos</a></li>
        </ul>
        {{/unless}}

        <!-- Tab panes -->
        <div class="tab-content">


          <div role="tabpanel" class="tab-pane active" id="myFriends">
            {{!-- friend-list --}}
            <div class="panel-list friends-list">
              {{#each friends}}
              {{!-- friend-item --}}
              <div class="list-group-item friends-item" id="friend-{{id}}">
                <div class="pull-left"><a href="#" class="avatar"><img class="media-object" src="{{user.avatar}}"></a></div>
                {{#unless ../hide}}
                <div class="pull-right">
                  <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-check"></i> Amigos <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                      <li><a href="javascript:void(0);" class="deleteFriend" data-friend="{{user.id}}">Desfazer amizade</a></li>
                    </ul>
                  </div>
                </div>
                {{/unless}}
                <div class="name"><a href="/friend/{{user.id}}/timeline">{{user.name}}</a></div>
                <div class="people-value">{{user.area}} / {{user.subarea}}</div>
                <div class="email">{{user.email}}</div>
              </div>
              {{else}}
              <p class="help-block small">Você ainda não tem nenhum amigo.</p>
              {{!-- /friend-item --}}
              {{/each}}
            </div>
            {{!-- /friend-list --}}
          </div>

          {{#unless hide}}

          <div role="tabpanel" class="tab-pane" id="friendsRequests">
            {{!-- friend-list --}}
            <div class="panel-list friends-list">
              {{#each requests}}
              {{!-- friend-item --}}
              <div class="list-group-item friends-item" id="request-{{id}}">
                <div class="pull-left"><a href="#" class="avatar"><img class="media-object" src="{{user.avatar}}"></a></div>
                <div class="pull-right">
                  {{#if showAccept}}<a href="javascript:void(0);" class="btn btn-primary acceptFriend" data-friend="{{id}}" data-from="{{id}}" data-to="{{id}}"><i class="fa fa-user-plus"></i> Aceitar</a>{{/if}}
                  <a href="javascript:void(0);" class="btn btn-primary deleteFriend" data-friend="{{user.id}}"><i class="fa fa-user-times"></i> Cancelar</a>
                </div>
                <div class="name"><a href="/friend/{{user.id}}/timeline">{{user.name}}</a></div>
                <div class="people-value">{{user.area}} / {{user.subarea}}</div>
                <div class="email">{{user.email}}</div>
              </div>
              {{!-- /friend-item --}}
              {{else}}
              <p class="help-block small">Você não tem nenhum pedido de amizade.</p>
              {{/each}}
            </div>
            {{!-- /friend-list --}}
          </div>

          <div role="tabpanel" class="tab-pane" id="searchFriends">
            <form action="" method="get">
              <div class="form-group">
                <div class="input-group">
                <input class="form-control" name="search" type="text">
                  <span class="input-group-btn">
                    <button class="btn btn-primary"><i class="fa fa-search"></i> Procurar</button>
                  </span>
                </div>
              </div>
            </form>

            {{!-- friend-list --}}
            <div class="panel-list friends-list">
              {{#each searchResults}}
              {{!-- friend-item --}}
              <div class="list-group-item friends-item" id="search-{{id}}">
                <div class="pull-left"><a href="#" class="avatar"><img class="media-object" src="{{avatar}}"></a></div>
                <div class="pull-right">
                  {{#if hasInvited}}
                    <a href="javascript:void(0);" class="btn btn-primary acceptFriendInSearch" data-user="{{id}}"><i class="fa fa-user-plus"></i> Aceitar</a>
                  {{else}}
                  <form action="" method="post">
                    <input type="hidden" name="to" value="{{id}}">
                    <button class="btn btn-primary"><i class="fa fa-user-plus"></i> Adicionar</button>
                  </form>
                  {{/if}}
                </div>
                <div class="name"><a href="/friend/{{id}}/timeline">{{name}}</a></div>
                <div class="people-value">{{area}} / {{subarea}}</div>
                <div class="email">{{email}}</div>
              </div>
              {{!-- /friend-item --}}
              {{/each}}
            </div>
            {{!-- /friend-list --}}
          </div>

          {{/unless}}


        </div>
      </div>
    </div>
  </div>
</section>

<script>
$('.tab-friends').find('a').click(function(){
  window.location.hash = $(this).attr('href');
});

$('.deleteFriend').click(function(){
  var $friend = $(this).data('friend');
  var url = '/friends/'+$friend;
  io.socket.request({
    method: 'delete',
    url: url,
    params: {},
    headers: {}
  });
});

$('.acceptFriend').click(function(){
  var $elm = $(this)
  $friendId = $elm.data('friend');

  var url = '/friends/'+$friendId;
  io.socket.request({
    method: 'put',
    url: url,
    params: {
      status: 'accepted'
    },
    headers: {}
  });
});

$('.acceptFriendInSearch').click(function(){
  var $elm = $(this)
  $user = $elm.data('user');

  var url = '/friends/'+$user+'/accept';
  io.socket.request({
    method: 'put',
    url: url,
    params: {
      status: 'accepted'
    },
    headers: {}
  });
});

$(function(){
  io.socket.on('user {{currentUser.id}} friend', function(result) {
    if(result.verb === 'deleted') {
      if(result.data.status === 'accepted') $('#friend-'+result.id).fadeOut('slow');
      if(result.data.status === 'requested') $('#request-'+result.id).fadeOut('slow');
    }

    if(result.verb === 'updated') {
      if(result.data.status === 'accepted') $('#request-'+result.id).fadeOut('slow');
      if(result.data.status === 'accepted') $('#search-'+result.data.user).fadeOut('slow');
    }
  });

  if(location.search.match(/search/)) $('a[href=#searchFriends]').click()
});
</script>
