<section class="content faq">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <header>
          <h2>Dúvidas, sugestões ou reclamações</h2>
          <hr>
        </header>

        {{#if flash}}
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>{{flash}}</strong>
        </div>
        {{/if}}

        <p>Envie uma mensagem para a comissão gestora do programa #VEMPROJOGO! e tire todas as suas dúvidas, faça uma sugestão ou até mesmo uma reclamação.</p>
        <form action="/contact" method="post" id="contact">
          <div class="form-group">
            <label for="message">Mensagem</label>
            <textarea name="message" id="message" rows="15" class="form-control"></textarea>
          </div>
          <input type="submit" value="Enviar" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</section>
<script>
$(function(){
  // form validation for message
  $application.form.validate($('form#contact'), {
    'message': {
      required: true
    }
  }, {
    'message': {
      required: 'Você não pode enviar uma mensagem em branco'
    }
  });
})
</script>
