<section class="content faq">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <header>
          <h2>Perguntas frequentes</h2>
          <hr>
        </header>
        {{!-- faq-list --}}
        <span class="list-group-item">
          <h4>1. O QUE É O #VEMPROJOGO!?</h4>
          <p>Programa interno de esportes e qualidade de vida, patrocinado pela TIM, realizado pela parceria entre “proponente da ação (colaborador)” e assessoria esportiva especializada.</p>
        </span>

        <span class="list-group-item">
          <h4>2. QUAIS OS DOCUMENTOS SÃO REFERÊNCIAS PARA A PARTICIPAÇÃO NO #VEMPROJOGO?</h4>
          <p>Os principais norteadores para a participação no #VEMPROJOGO! são o REGULAMENTO PARA PARTICIPAÇÃO NO #VEMPROJOGO!, atestado médico e o CÓDIGO DE ÉTICA DA TIM BRASIL, o qual é soberano para dirigir qualquer conduta em discordância com os princípios do programa.</p>
        </span>

        <span class="list-group-item">
          <h4>3. QUEM SÃO OS RESPONSÁVEIS PELO #VEMPROJOGO?</h4>
          <p>O #VEMPROJOGO! possui duas direções organizacionais, são elas:</p>
          <ul>
            <li><strong>COMITÊ COORDENADOR</strong>: órgão máximo da estrutura do programa, composto por representantes da área de People Value da TIM, com a finalidade institucional de zelar pelos princípios gerais do #VEMPROJOGO! A este comitê, o comitê gestor deverá se reportar, apresentando relatórios e submetendo casos especiais à avaliação.</li>
            <li><strong>COMITÊ GESTOR</strong>: empresa de assessoria esportiva contratada para realizar a gestão técnica do programa. Dentre suas atribuições está a de proporcionar maior interação entre os colaboradores e o tema esporte/qualidade de vida, com objetivo de viabilizar a realização de ações estruturadas, em consonância com os princípios gerais do #VEMPROJOGO!</li>
          </ul>
        </span>

        <span class="list-group-item">
          <h4>4. QUEM PODE PARTICIPAR DO #VEMPROJOGO?</h4>
          <ul>
             <li>Colaboradores próprios (TIM e Intelig na HQ e Regionais);</li>
             <li>Estagiários técnicos maiores de 18 anos, com a idade exigida completa até um mês antes do início da abertura das inscrições (09/03/2015);</li>
             <li>Estagiários universitários maiores de 18 anos, com a idade exigida completa até um mês antes da abertura das inscrições (09/03/2015).</li>
           </ul>
        </span>

        <span class="list-group-item">
          <h4>5. COMO FAÇO PARA ME INSCREVER NO #VEMPROJOGO!?</h4>
          <p>Para fazer parte do #VEMPROJOGO o colaborador deverá efetuar o seu cadastro, preenchendo o formulário de inscrição no portal do programa (vemprojogotim.com.br), informando todos os dados solicitados no formulário de inscrição.</p>
        </span>

        <span class="list-group-item">
          <h4>6. É NECESSÁRIO ALGUM DOCUMENTO COMPLEMENTAR PARA PARTICIPAR DO #VEMPROJOGO!?</h4>
          <p>Sim, para participar das atividades do #VEMPROJOGO!, os colaboradores, deverão encaminhar, ao proponente do(s) projeto(s), ATESTADO MÉDICO ESPECÍFICO para a prática de atividade física e esportiva. Caberá ao proponente do projeto enviar a documentação ao Comitê Gestor do #VEMPROJOGO! durante a etapa de inscrições do projeto.</p>
          <p>O atestado médico para ser válido deverá:</p>
          <ul>
            <li>Constar de nome, declaração de aptidão física para a prática de atividade física e esportiva;</li>
            <li>Ter sido expedido a no máximo 30 dias do início das atividades do #VEMPROJOGO (13/04/2015).</li>
          </ul>
        </span>

        <span class="list-group-item">
          <h4>7.  É PERMITIDO PARTICIPAR DO #VEMPROJOGO! COM O CONTRATO DE TRABALHO SUSPENSO?</h4>
          <p>Não, para participar das atividades do #VEMPROJOGO! é necessário que o contrato de trabalho esteja em vigor durante todo o período das atividades (das inscrições até a etapa final). Para inscrever projeto ou participar de alguma atividade do programa, o colaborador deverá estar exercendo suas atividades, ou seja, não poderá estar de licença ou afastamento o período das atividades.</p>
        </span>

        <span class="list-group-item">
          <h4>8. POSSO LEVAR UM AMIGO OU UM FAMILIAR PARA PARTICIPAR DE UMA ATIVIDADE DO #VEMPROJOGO?</h4>
          <p>Não, é expressamente proibida a participação de dependentes e/ou qualquer pessoa que não se enquadre nos requisitos do artigo 4.1 do REGULAMENTO PARA PARTICIPAÇÃO NO #VEMPROJOGO!</p>
        </span>

        <span class="list-group-item">
          <h4>9. QUAIS AS ATIVIDADES SÃO ADEQUADAS AO #VEMPROJOGO!?</h4>
          <ul>
            <li><strong>ATIVIDADES FÍSICAS</strong>: atividade que se refere a qualquer exercício que tenha como consequência o gasto de energia e coloque em movimento uma grande quantidade de fenômenos a nível corporal, psíquico e emocional na pessoa que realiza, como caminhada, danças (dança de salão, dança do ventre, jazz etc.), Tai Chi Chuan,Yoga etc.</li>
            <li><strong>ATIVIDADES ESPORTIVAS</strong>: Atividade física institucionalizada, competitiva e que envolve padronização e cumprimento de regras, aspectos técnicos e organizacionais de cada atividade incentivada, como basquetebol, corrida, futebol, natação, voleibol etc.</li>
          </ul>
        </span>

        <span class="list-group-item">
          <h4>10. JÁ REALIZO UMA ATIVIDADE FÍSICA/ESPORTIVA COM UM GRUPO DO TRABALHO, POSSO TRANSFORMÁ-LA EM UM PROJETO DO #VEMPROJOGO?</h4>
          <p>Sim, basta adequar a atividade dentro dos princípios do programa e formatá-la de acordo com o regulamento e as orientações do formulário de inscrição de projetos, disponível no portal do #VEMPROJOGO!.</p>
        </span>

        <span class="list-group-item">
          <h4>11. COMO FAÇO PARA INSCREVER UM PROJETO?</h4>
          <p>A inscrição deverá ser realizada e só será válida pelo portal do #VEMPROJOGO! (<a href="http://www.vemprojogotim.com.br" target="_blank">www.vemprojogotim.com.br</a>)</p>
        </span>

        <span class="list-group-item">
          <h4>12. É PERMITIDA A PARTICIPAÇÃO EM QUANTOS PROJETOS?</h4>
          <p>Os colaboradores poderão se inscrever e participar em até 2 projetos durante todo o período do programa</p>
        </span>

        <span class="list-group-item">
          <h4>13. QUAIS SÃO AS ATRIBUIÇÕES DE UM PROPONENTE DE PROJETOS?</h4>
          <p>O colaborador PROPONENTE atua como responsável pelo projeto com as atribuições de implementar, gerir e acompanhar o projeto quando aprovado. Compartilhará a responsabilidade com a Assessoria Esportiva de apresentar resultados segundo indicadores estabelecidos, relatórios administrativos, financeiros e demais informações requeridas pelos Comitês do Programa.</p>
        </span>

        <span class="list-group-item">
          <h4>14. É PERMITIDO PARTICIPAR COMO PROPONENTE E PARTICIPANTE DE UM PROJETO?</h4>
          <p>Sim, desde que observado o item 4.3 e letra f do item 6.1 do REGULAMENTO PARA PARTICIPAÇÃO NO #VEMPROJOGO!</p>
        </span>


        <span class="list-group-item">
          <h4>15. É PERMITIDO INSCREVER QUANTOS PROJETOS?</h4>
          <p>O colaborador/proponente poderá inscrever até 2 projetos.</p>
        </span>

        <span class="list-group-item">
          <h4>16. QUAL O PERÍODO DE INSCRIÇÃO DE PROJETOS?</h4>
          <p>As inscrições de projetos da 1ª seleção de projetos do Programa (09/03/2015 a 27/03/2015) serão limitadas a 500 projetos e à disponibilidade financeira do projeto.</p>
        </span>

        <span class="list-group-item">
          <h4>17. QUAL O PERÍODO PERMITIDO PARA A DURAÇÃO DE UM PROJETO?</h4>
          <p>A partir da aprovação, o projeto deverá compreender um período mínimo de 3 e no máximo 7 meses, com início a partir de 13/04/2015 e término em 31/10/2015. Caberá aos Comitês do Programa avaliar a renovação de vigência do projeto.</p>
        </span>

        <span class="list-group-item">
          <h4>18. QUANTOS PARTICIPANTES PODE TER EM CADA PROJETO?</h4>
          <p>Não há limite de participantes, desde que a quantidade obedeça à disponibilidade financeira. É importante destacar que cada projeto deve contar com no mínimo 5 participantes.</p>
        </span>

        <span class="list-group-item">
          <h4>19. COMO INCLUIR OS PARTICIPANTES EM UM PROJETO?</h4>
          <p>A indicação dos participantes para o projeto será feita no momento da inscrição do mesmo. O proponente poderá enviar convite para os seus amigos.</p>
          <p>A inclusão do participante no projeto só será efetivada após o aceite eletrônico, confirmado pelo próprio participante.</p>
        </span>

        <span class="list-group-item">
          <h4>20. QUAIS AS RESTRIÇÕES DE ATIVIDADES NO #VEMPROJOGO?</h4>
          <p>Projetos esportivos que se enquadrem nas categorias de ação, aventura ou radical serão analisados com maior rigor, dada às condições de altura, velocidade ou outras variantes em que são praticados, podendo expor o colaborador ao maior risco.</p>
          <p>É vedada a inscrição de projetos de esporte a motor.</p>
        </span>

        <span class="list-group-item">
          <h4>21. EM CASO DE DÚVIDAS, QUEM DEVO PROCURAR?</h4>
          <p>Deve-se procurar a Leg Assessoria Esportiva por meio do e-mail <a href="mailto:vemprojogo@legassessoria.com.br" target="_blank">vemprojogo@legassessoria.com.br</a></p>
        </span>

        <span class="list-group-item">
          <h4>22.  QUAIS AS RESTRIÇÕES DE ATIVIDADES NO #VEMPROJOGO?</h4>
          <p>Projetos esportivos que se enquadrem nas categorias de ação, aventura ou radical serão analisados com maior rigor, dada às condições de altura, velocidade ou outras variantes em que são praticados, podendo expor o colaborador ao maior risco.</p>
          <p>É vedada a inscrição de projetos de esporte a motor.</p>
        </span>


        <span class="list-group-item">
          <h4>23. COMO ACOMPANHO O STATUS DO MEU PROJETO?</h4>
          <p>Por meio da página de inscrição de projetos, no portal do #VEMPROJOGO, será possível acompanhar o status de cada projeto, que serão classificados da seguinte forma:</p>
          <ol type="a">
            <li>PROJETO INSCRITO: projeto inscrito pendente de habilitação por parte do Comitê Gestor do #VEMPROJOGO!</li>
            <li>PROJETO HABILITADO: projeto dentro dos propósitos do #VEMPROJOGO!, habilitado a participar da ETAPA DE SELEÇÃO DE PROJETOS</li>
            <li>PROJETO APROVADO: projeto aprovado para execução</li>
            <li>PROJETO EM ANDAMENTO: projeto implantado</li>
            <li>PROJETO ENCERRADO: projeto finalizado por prazo</li>
            <li>PROJETO DESCONTINUADO: projeto descontinuado por falta de aderência aos objetivos do programa.</li>
          </ol>
        </span>

        <span class="list-group-item">
          <h4>24. CASO O PROJETO NÃO SEJA SELECIONADO, AINDA HAVERÁ POSSIBILIDADE DE IMPLEMENTÁ-LO?</h4>
          <p>Sim, haverá um banco para registro de projetos não selecionados, embora, enquadrados nos princípios do #VEMPROJOGO!. Nesse caso, o projeto ficará em espera e poderá a vir substituir um possível projeto descontinuado.</p>
        </span>
        {{!-- /faq-list --}}
      </div>
    </div>
  </div>
</section>