<div class="secondary-nav">
  <div class="container">
    <div class="navbar-header">
      <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#secondary-nav">
        <span class="sr-only">Categorias</span>
        <span class="fa fa-ellipsis-h"></span>
      </button>
    </div>
    <div aria-expanded="false" class="collapse navbar-collapse" id="secondary-nav">
      <ul class="nav navbar-nav navbar-left">
      {{!-- {{#each category in model}}
        <li>{{#link-to 'news.category' category class=category.class}}{{category.name}}{{/link-to}}</li>
      {{/each}} --}}
      </ul>
      {{!-- <ul class="nav navbar-nav navbar-right">
        <li>
          <form class="navbar-form" role="search">
            <div class="search-2">
              <div class="input-group">
              <input class="form-control form-control-w-150" placeholder="Procurar …" type="text">
                <span class="input-group-btn">
                  {{#link-to 'news.search' class="btn btn-primary"}}<span class="fa fa-search"></span>{{/link-to}}
                </span>
              </div>
            </div>
          </form>
        </li>
      </ul> --}}
    </div>
  </div>
</div>

{{outlet}}
