<section class="content login">
  <div class="container">
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-6">
        <div class="content">
          <!-- failback -->

          {{#if flash}}
          <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{{flash}}</strong>
          </div>
          {{/if}}
          <!-- /failback -->

          <div class="panel panel-info">
            <div class="panel-heading">
              <i class="fa fa-unlock-alt"></i> Login
            </div>
            <div class="panel-body">
              <form action="/auth/login" method="POST" id="login">
                <div class="form-group">
                  <label for="username">Matrícula</label>
                  <input type="text" class="form-control" name="username" id="username">
                  <p class="help-block small">Apenas os números</p>
                </div>

                <div class="form-group">
                  <label for="password">Senha</label>
                  <input type="password" class="form-control" name="password" id="password">
                  <p class="help-block small">É o seu primeiro login? Se sim, utilize seu CPF como senha. Caso ele começe com o número 0 informe apenas os números subsequentes.</p>
                </div>

                <button type="submit" class="btn btn-primary">Entrar</button> <a href="/password">Esqueceu sua senha?</a>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-3"></div>
    </div>
  </div>
</section>
<script>
$(function(){
  $application.login();
});
</script>
