<section class="content password">
  <div class="container">
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-6">
        <div class="content">
          <!-- failback -->
          {{#if flash}}
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{{flash}}</strong>
          </div>
          {{/if}}
          <!-- /failback -->

          <div class="panel panel-info">
            <div class="panel-heading">
              <i class="fa fa-unlock-alt"></i> Redefinir senha
            </div>
            <div class="panel-body">
              <form action="/reset_password/{{token}}" method="POST" id="newPassword">

                <div class="form-group">
                  <label for="password">Defina uma nova senha</label>
                  <input type="password" class="form-control" name="password" id="password">
                </div>

                <div class="form-group">
                  <label for="passwordComparison">Confirme sua nova senha</label>
                  <input type="password" class="form-control" name="passwordComparison" id="passwordComparison">
                </div>

                <button type="submit" class="btn btn-primary">Redefinir senha</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-3"></div>
    </div>
  </div>
</section>
<script>
$(function(){
  $application.password();
});
</script>
