<section class="content password">
  <div class="container">
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-6">
        <div class="content">
          <!-- failback -->
          {{#if flash}}
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{{flash}}</strong>
          </div>
          {{/if}}
          <!-- /failback -->

          <div class="panel panel-info">
            <div class="panel-heading">
              <i class="fa fa-unlock-alt"></i> Esqueceu sua senha?
            </div>
            <div class="panel-body">
              <form action="/esqueci_senha" method="POST" id="password">
                <div class="form-group">
                  <label for="email">Qual seu e-mail?</label>
                  <input type="text" class="form-control" name="email" id="email">
                </div>

                <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-3"></div>
    </div>
  </div>
</section>
<script>
$(function(){
  $application.password();
});
</script>
