/*
| -------------------------------------------------------------------------
| variables > buttons
| -------------------------------------------------------------------------
*/

// primary button
@btn-primary-color:									#fff;
@btn-primary-bg:										@brand-primary;
@btn-primary-border:								darken(@btn-primary-bg, 6%);

// success button
@btn-success-color:									#fff;
@btn-success-bg:										@brand-success;
@btn-success-border:								darken(@btn-success-bg, 6%);

// info button
@btn-info-color:									  #fff;
@btn-info-bg:										    @brand-info;
@btn-info-border:								    darken(@btn-info-bg, 6%);

// warning button
@btn-warning-color:									#fff;
@btn-warning-bg:										@brand-warning;
@btn-warning-border:								darken(@btn-warning-bg, 6%);

// danger button
@btn-danger-color:									#fff;
@btn-danger-bg:										  @brand-danger;
@btn-danger-border:								  darken(@btn-danger-bg, 6%);

// link button
@btn-link-color:									  @brand-primary;