/*
| -------------------------------------------------------------------------
| buttons > mixins
| -------------------------------------------------------------------------
*/

// flat button style
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-link {
	text-shadow: none;

	&.active,
	&:active,
	&:focus {
		text-shadow: none;
		box-shadow:none;
		outline: none !important;
	}
}

/*
| -------------------------------------------------------------------------
| buttons > color
| -------------------------------------------------------------------------
*/

.button-style(@background-color, @border-color) {
	background: darken(@background-color, 3%);
	border-color: darken(@border-color, 6%);
}

.btn-primary {
	color: @btn-primary-color;
	background: @btn-primary-bg;
	border-color: @btn-primary-border;

	&.active,
	&:active,
	&:focus,
	&:hover {
		.button-style(@btn-primary-bg, @btn-primary-border);
	}
}

.btn-success {
	color: @btn-success-color;
	background: @btn-success-bg;
	border-color: @btn-success-border;

	&.active,
	&:active,
	&:focus,
	&:hover {
		.button-style(@btn-success-bg, @btn-success-border);
	}
}

.btn-info {
	color: @btn-info-color;
	background: @btn-info-bg;
	border-color: @btn-info-border;

	&.active,
	&:active,
	&:focus,
	&:hover {
		.button-style(@btn-info-bg, @btn-info-border);
	}
}

.btn-warning {
	color: @btn-warning-color;
	background: @btn-warning-bg;
	border-color: @btn-warning-border;

	&.active,
	&:active,
	&:focus,
	&:hover {
		.button-style(@btn-warning-bg, @btn-warning-border);
	}
}

.btn-danger {
	color: @btn-danger-color;
	background: @btn-danger-bg;
	border-color: @btn-danger-border;

	&.active,
	&:active,
	&:focus,
	&:hover {
		.button-style(@btn-danger-bg, @btn-danger-border);
	}
}

.btn-link {
	color: @btn-link-color;

	&.active,
	&:active,
	&:focus,
	&:hover {
		color: darken(@btn-link-color, 6%)
	}
}

/*
| -------------------------------------------------------------------------
| buttons > circle
| -------------------------------------------------------------------------
*/

.btn-circle {
	border-radius: 50%;

	&.btn {
		padding-left: 0;
		padding-right: 0;
		width: 34px;
	}

	&.btn-lg {
		width: 46px;
	}

	&.btn-sm {
		width: 30px;
	}

	&.btn-xs {
		width: 22px;
	}
}

/*
| -------------------------------------------------------------------------
| buttons > stacked
| -------------------------------------------------------------------------
*/

.btn-stacked {
	text-align: left;
	padding: 10px 10px 10px 40px;
	position: relative;

	i {
		display: block;
		position: absolute;
		left: 10px;
		top: 18px;
		font-size: 22px;
	}
}