/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/

@import '_variables';

/*
| -------------------------------------------------------------------------
| admin
| -------------------------------------------------------------------------
*/

.admin {
	.menu {
		margin-bottom: 25px;
	}

	.submenu {
		margin-bottom: 25px;
	}

	h3 {
		margin-top: 10px;
		margin-bottom: 25px;
	}

	.modal-body {
		max-height: 425px;
		overflow: auto;

		.list-group {
			margin-bottom: 0;
		}
	}

	th.actions {
		width: 15%;
		white-spacing: nowrap;
	}
}

/*
| -------------------------------------------------------------------------
| admin > projects
| -------------------------------------------------------------------------
*/

.admin {
	&.projects {

	}
}