/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| comments
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| variables
| -------------------------------------------------------------------------
*/
a {
  color: #026dc5;
  text-decoration: none;
}
a:hover {
  color: #014379;
  text-decoration: underline;
}
/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| variables > buttons
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| buttons > mixins
| -------------------------------------------------------------------------
*/
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-link {
  text-shadow: none;
}
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active,
.btn-link.active,
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-link:active,
.btn-default:focus,
.btn-primary:focus,
.btn-success:focus,
.btn-info:focus,
.btn-warning:focus,
.btn-danger:focus,
.btn-link:focus {
  text-shadow: none;
  box-shadow: none;
  outline: none !important;
}
/*
| -------------------------------------------------------------------------
| buttons > color
| -------------------------------------------------------------------------
*/
.btn-primary {
  color: #ffffff;
  background: #026dc5;
  border-color: #025ca7;
}
.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background: #0265b6;
  border-color: #014b88;
}
.btn-success {
  color: #ffffff;
  background: #05ae0e;
  border-color: #04900c;
}
.btn-success.active,
.btn-success:active,
.btn-success:focus,
.btn-success:hover {
  background: #059f0d;
  border-color: #037309;
}
.btn-info {
  color: #ffffff;
  background: #2c93ff;
  border-color: #0d83ff;
}
.btn-info.active,
.btn-info:active,
.btn-info:focus,
.btn-info:hover {
  background: #1d8bff;
  border-color: #0074ee;
}
.btn-warning {
  color: #ffffff;
  background: #ff9500;
  border-color: #e08300;
}
.btn-warning.active,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover {
  background: #f08c00;
  border-color: #c27100;
}
.btn-danger {
  color: #ffffff;
  background: #e9362c;
  border-color: #df2217;
}
.btn-danger.active,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover {
  background: #e8291e;
  border-color: #c31e14;
}
.btn-link {
  color: #026dc5;
}
.btn-link.active,
.btn-link:active,
.btn-link:focus,
.btn-link:hover {
  color: #025ca7;
}
/*
| -------------------------------------------------------------------------
| buttons > circle
| -------------------------------------------------------------------------
*/
.btn-circle {
  border-radius: 50%;
}
.btn-circle.btn {
  padding-left: 0;
  padding-right: 0;
  width: 34px;
}
.btn-circle.btn-lg {
  width: 46px;
}
.btn-circle.btn-sm {
  width: 30px;
}
.btn-circle.btn-xs {
  width: 22px;
}
/*
| -------------------------------------------------------------------------
| buttons > stacked
| -------------------------------------------------------------------------
*/
.btn-stacked {
  text-align: left;
  padding: 10px 10px 10px 40px;
  position: relative;
}
.btn-stacked i {
  display: block;
  position: absolute;
  left: 10px;
  top: 18px;
  font-size: 22px;
}
/*
| -------------------------------------------------------------------------
| forms > mixins
| -------------------------------------------------------------------------
*/
.form-control {
  -webkit-box-shadow: none !important;
  box-shadow: none;
}
.form-control:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.form-control:focus {
  border-color: #026dc5;
}
.has-info .form-control,
.has-info .form-control:focus {
  border-color: #2c93ff;
}
.has-info .error-placement {
  color: #2c93ff;
}
.has-warning .form-control,
.has-warning .form-control:focus {
  border-color: #ff9500;
}
.has-warning .error-placement {
  color: #ff9500;
}
.has-error .form-control,
.has-error .form-control:focus {
  border-color: #e9362c;
}
.has-error .select2-container--default,
.has-error .select2-selection--multiple,
.has-error .select2-selection--single {
  border: 1px solid #e9362c;
}
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .error-placement {
  color: #e9362c;
}
.has-error .help-block.small {
  color: #737373;
}
/*
| -------------------------------------------------------------------------
| forms > file input
| -------------------------------------------------------------------------
*/
.input-group .form-control[readonly] {
  background: none;
}
.input-group .form-control[readonly]:focus {
  border-color: #cccccc;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
/*
| -------------------------------------------------------------------------
| buttons > mixins
| -------------------------------------------------------------------------
*/
.nav-pills > li.active a,
.nav-pills > li.active a:focus,
.nav-pills > li.active a:hover {
  background: #026dc5;
}
/*
| -------------------------------------------------------------------------
| panels
| -------------------------------------------------------------------------
*/
.panel-info {
  border-color: #026dc5;
}
.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #026dc5;
  border-color: #025ca7;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #025ca7;
}
.panel-info > .panel-heading .badge {
  color: #026dc5;
  background-color: #026dc5;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #025ca7;
}
/*
| -------------------------------------------------------------------------
| docs
| -------------------------------------------------------------------------
*/
.docs-content .docs-section .page-header:first-child {
  margin-top: 0;
}
.docs-sidebar .docs-menu {
  position: fixed;
}
.docs-sidebar .docs-menu .nav {
  margin-bottom: 40px;
}
.docs-sidebar .docs-menu .nav > li > a {
  padding: 0;
}
.docs-sidebar .docs-menu .nav > li > a:focus,
.docs-sidebar .docs-menu .nav > li > a:hover {
  background: none;
  color: #026dc5;
}
.docs-sidebar .docs-menu .nav li + li {
  margin-top: 10px;
}
.docs-sidebar .docs-menu .nav-pills > li.active a,
.docs-sidebar .docs-menu .nav-pills > li.active a:focus,
.docs-sidebar .docs-menu .nav-pills > li.active a:hover {
  color: #026dc5;
  background: none;
}
.docs-sidebar .docs-menu .nav-pills a {
  color: #333;
}
.docs-page-sub-header {
  padding-bottom: 9px;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #eee;
}
.docs-fontawesome-icon-list section + section {
  margin-top: 40px;
}
.docs-fontawesome-icon-list .fa-hover {
  font-size: 18px;
  cursor: pointer;
}
.docs-fontawesome-icon-list .fa-hover:hover {
  color: #026dc5;
}
.docs-fontawesome-icon-list .fa-hover + .fa-hover {
  margin-top: 10px;
}
