/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/

@import '_variables';
@import '_buttons';
@import '_forms';
@import '_nav';
@import '_panels';

/*
| -------------------------------------------------------------------------
| docs
| -------------------------------------------------------------------------
*/

// docs content
.docs-content {
	.docs-section {
		.page-header:first-child {
			margin-top: 0;
		}
	}
}

// docs sidebar
.docs-sidebar {
	// padding-top: 50px;

	.docs-menu {
		// padding-top: 40px;
		position: fixed;

		.nav {
			margin-bottom: 40px;

			> li {
				> a {
					padding: 0;

					&:focus,
					&:hover {
						background: none;
						color: @brand-primary;
					}
				}
			}

			li + li {
				margin-top: 10px;
			}
		}

		.nav-pills {
			> li.active {
				a,
				a:focus,
				a:hover {
					color: @brand-primary;
					background: none;
				}
			}

			a {
				color: #333;
			}
		}
	}
}

// sub header
.docs-page-sub-header {
	padding-bottom: 9px;
	margin: 0 0 20px 0;
	border-bottom: 1px solid #eee;
}

// font awesome
.docs-fontawesome-icon-list {

	section + section {
		margin-top: 40px;
	}

	.fa-hover {
		font-size: 18px;
		cursor: pointer;

		&:hover {
			color: @brand-primary;
		}
	}

	.fa-hover + .fa-hover {
		margin-top: 10px;
	}
}