/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| comments
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| variables
| -------------------------------------------------------------------------
*/
a {
  color: #026dc5;
  text-decoration: none;
}
a:hover {
  color: #014379;
  text-decoration: underline;
}
/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| variables > buttons
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| timeline
| -------------------------------------------------------------------------
*/
.posts .post .panel-body footer .list-group .list-group-item {
  border-bottom: 1px solid #dddddd !important;
}
/*
| -------------------------------------------------------------------------
| navbar-header
| -------------------------------------------------------------------------
*/
.panel-body.panel-list .list-group .list-group-item {
  border: 1px solid #dddddd !important;
  border-left: none !important;
  border-right: none !important;
}
.panel-body.panel-list .list-group .list-group-item:first-child {
  border-top: none !important;
}
/*
| -------------------------------------------------------------------------
| .messages
| -------------------------------------------------------------------------
*/
.messages .messages-list {
  border-bottom: 1px solid #dddddd;
}
