/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/

@import '_variables';

/*
| -------------------------------------------------------------------------
| friends
| -------------------------------------------------------------------------
*/

.messages {

	.panel-messages {
		.panel-body {
			padding: 0;
		}

		.col-xs-4 {
			padding-right: 0;
		}

		.col-xs-8 {
			padding-left: 0;
		}
	}

	.messages-list {
		height: 550px;
		max-height: 550px;
		overflow: auto;
		border-right: 1px solid #dddddd;

		.messages-item {
			cursor: pointer;

			&.active {
				background: #eeeeee;

				.name {
					color: @brand-primary;
				}
			}
		}
	}

	.messages-content {
		height: 400px;
		max-height: 400px;
		overflow: auto;
	}

	.messages-footer {
		height: 150px;
		max-height: 150px;
		border-top: 1px solid #dddddd;
		padding: 15px;

		.error-placement {
			position: absolute;
			left: 15px;
		}

		.reply {
			display: inline-block;
			position: absolute;
			right: 30px;
		}

		textarea {
			width: 100%;
			height: 70px;
			resize: none;
			outline: none;
		}
	}

	.messages-item {
		border: none;

		&:before,
		&:after {
			clear: both;
			display: table;
		}

		&:after {
			content: '';
		}

		.avatar {
			display: inline-block;
			width: 24px;
			height: 24px;
			margin-right: 5px;

			img {
				width: 100%;
			}
		}

		.name,
		.excerpt {
			margin-bottom: 5px;
		}

		.name {
			font-weight: bold;
			line-height: 24px;
		}

		.excerpt {
			clear: both;
			color: @gray-light;
		}

		.date {
			display: block;
			color: @gray;
		}

		.message {
			margin-top: 25px;
		}
	}

	.messages-item  + .messages-item  {
		border-top: 1px solid #dddddd;
	}

	.messages-content {
		padding: 15px;

		.messages-item  + .messages-item  {
			padding-top: 25px;
			border-top: 1px solid #dddddd;
			margin-top: 25px;
		}
	}
}