/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/

@import '_variables';



/*
| -------------------------------------------------------------------------
| navbar
| -------------------------------------------------------------------------
*/

.slide {
	height: 300px;
	cursor: pointer;

	ul {
		li {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}

	.caption {
		position: absolute;
		z-index: 9;
		color: #ffffff;
		font-size: 40px;
		height: 40px;
		line-height: 40px;
		top: 20px;
		left: 20px;
	}
}


/*
| -------------------------------------------------------------------------
| navbar
| -------------------------------------------------------------------------
*/

.active-style(@color) {
	color: #ffffff;
	background: @color;
}

.nav-pills-style(@color) {
	font-weight: bold;
	color: @color;

	&:hover {
		color: #ffffff;
		background: @color;
	}
}

.navbar-news {
	.nav-pills {
		.active {
			.vem-pro-jogo {
				.active-style(@vem-pro-jogo);
			}

			.treinos {
				.active-style(@treinos);
			}

			.nutricao {
				.active-style(@nutricao);
			}

			.saude {
				.active-style(@saude);
			}

			.equipamentos {
				.active-style(@equipamentos);
			}
		}

		.vem-pro-jogo {
			.nav-pills-style(@vem-pro-jogo);
		}

		.treinos {
			.nav-pills-style(@treinos);
		}

		.nutricao {
			.nav-pills-style(@nutricao);
		}

		.saude {
			.nav-pills-style(@saude);
		}

		.equipamentos {
			.nav-pills-style(@equipamentos);
		}
	}

	.navbar-form {
		margin-top: 3px;
		padding-left: 0;
		padding-right: 0;
	}
}

/*
| -------------------------------------------------------------------------
| news header & list
| -------------------------------------------------------------------------
*/

.header-style(@color) {
	header {
		color: @color;
		border-bottom: 1px solid #dddddd;

		h2 {
			margin-top: 0;
		}

		h4 {
			color: @gray;
		}

		.date {
			color: @gray;
		}

		a {
			color: @color;

			&:hover {
				color: darken(@color, 15%);
			}
		}

		.label {
			background: @color;
		}

		.date {

		}
	}
}

.news-item-style(@color) {
	.thumbnail,
	.subtitle,
	.title {
		display: block;
	}

	.subtitle {
		color: @gray;
		margin-bottom: 5px;
	}

	.title {
		font-weight: bold;
		color: @color;
		min-height: 40px;
	}

	a {
		&:hover,
		&:focus,
		&:active {
			text-decoration: none;

			.subtitle {
				color: darken(@gray, 15%);
			}

			.title {
				color: darken(@color, 15%);
			}
		}
	}
}

.news {
	.news-list {
		.news-item {
			margin-top: 25px;
			min-height: 97px;
		}
	}

	.vem-pro-jogo {
		.header-style(@vem-pro-jogo);
		.news-item-style(@vem-pro-jogo);
	}

	.treinos {
		.header-style(@treinos);
		.news-item-style(@treinos);
	}

	.saude {
		.header-style(@saude);
		.news-item-style(@saude);
	}

	.nutricao {
		.header-style(@nutricao);
		.news-item-style(@nutricao);
	}

	.equipamentos {
		.header-style(@equipamentos);
		.news-item-style(@equipamentos);
	}
}

/*
| -------------------------------------------------------------------------
| news index
| -------------------------------------------------------------------------
*/

.news {
	&.news-index {
		.vem-pro-jogo {
			display: none;
		}
	}
}

/*
| -------------------------------------------------------------------------
| news single
| -------------------------------------------------------------------------
*/

.news {
	&.news-single {
		header {
			padding-bottom: 25px;
			margin-bottom: 25px;
		}

		.news-list {
			header {
				padding-bottom: 0;
				margin-bottom: 0;
				border-bottom: none;

				h4 {
					color: @gray-dark;
				}
			}

			.news-item {
				min-height: inherit;
			}
		}
	}
}
