/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/

@import '_variables';

/*
| -------------------------------------------------------------------------
| friends
| -------------------------------------------------------------------------
*/

.notifications {

	.notifications-list {
		.notifications-item {
			&:before,
			&:after {
				clear: both;
				display: table;
			}

			&:after {
				content: '';
			}

			&:hover {
				background: #f5f5f5;
			}

			.date {
				color: @gray;
			}
		}
	}
}