/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/

@import '_variables';

/*
| -------------------------------------------------------------------------
| profile timeline
| -------------------------------------------------------------------------
*/

.profile-timeline {
	.post {
		textarea {
			height: 100px;
		}

		input[name=filePhoto] {
			// position: absolute;
			// z-index: 1;
			// opacity: 0;
		}

		#pathPreview {
			display: none;
			width: 100%;
			margin-top: 15px;
			position: relative;

			.photoRemove {
				position: absolute;
				top: 5px;
				right: 10px;
			}

			#pathFileName {
				margin: 0;
				height: 30px;
				line-height: 30px;
			}
		}

		#photoPreview {
			display: none;
			margin-top: 15px;
			position: relative;

			.photoRemove {
				position: absolute;
				top: 10px;
				right: 10px;
			}

			.thumbnail {
				margin: 0;

				img {
					width: 100%;
				}
			}
		}

		.file-inline {
			display: inline-block;
			margin-bottom: 0;
		}
	}

	.posts {
		.post {
			.panel-body {
				padding-bottom: 0;

				.thumbnail {
					margin: 15px 0 0 0;

					img {
						width: 100%;
					}
				}

				.user,
				.comment {
					margin-bottom: 15px;
				}

				.avatar {
					display: inline-block;
					width: 42px;
					height: 42px;
					margin-right: 15px;
					img {
						width: 100%;
					}
				}

				img {
					width: 100%;
				}

				> footer {
					border-top: 1px solid #dddddd;
					border-bottom: 1px solid #dddddd;
					margin: 0 -15px;
					margin-top: 15px;

					> header {
						padding: 5px 15px;
						background: #f4f4f4;
					}

					.comments {
						.list-group {
							border-top: 1px solid #dddddd;
							border-bottom: 1px solid #dddddd;
							margin-bottom: 0;

							.list-group-item {
								background: #f4f4f4;
								border: none;
							}

							.list-group-item + .list-group-item {
								border-top: 1px solid #dddddd;
							}

							footer {
								margin-top: 5px;
							}
						}
					}

					> footer {
						padding: 5px;
						background: #f4f4f4;

						.form-group {
							margin-bottom: 0;
						}

						.help-block {
							&.error-placement {
								margin-bottom: 0;
							}
						}
					}
				}
			}
		}

		.edit-post,
		.edit-comment {
			color: @gray-light;
		}
	}
}