/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/

@import '_variables';

/*
| -------------------------------------------------------------------------
| non responsive treatment
| -------------------------------------------------------------------------
*/

@import '_non-responsive-bootstrap';

/*
| -------------------------------------------------------------------------
| footer
| -------------------------------------------------------------------------
*/

.footer {
	margin-top: 25px;
	border-top: 1px solid #dddddd;
	padding: 15px 0;
	color: #737373;
}

/*
| -------------------------------------------------------------------------
| navbar
| -------------------------------------------------------------------------
*/

.navbar-brand {
	background: url('../image/tim-vem-pro-jogo.png');
	width: 275px;
	height: 31px;
	display: inline-block;
	margin: 9px auto;
}

.nav {
	// dropdown with avatar circle
	.user {
		padding: 0 auto;

		>  a {
			padding: 0 15px;
			line-height: 49px;

			.avatar {
				display: inline-block;
				width: 35px;
				margin-right: 15px;
				border: 1px solid #ffffff;
			}
		}
	}

	.open {
		> a {
			&:focus,
			&:hover {
				background-color: @btn-primary-bg;
			}
		}
	}
}

// navbar-brand
.navbar {
	> .container {
		.navbar-brand {
			margin-left: 0 !important;
		}
	}
}

// navbar-application
.navbar-application {
	z-index: 99;
	background-color: @btn-primary-bg;
	border-color: darken(@brand-primary, 6%);
	color: #ffffff;

	// navbar
	.navbar-nav {
		> li,
		> li.open {
			background: @btn-primary-bg;

			> a {
				color: #ffffff;
				background: @btn-primary-bg;

				&.active,
				&.focus,
				&:hover {
					background: @btn-primary-bg;
				}
			}
		}

		li {
			a {
				color: #ffffff;

				&:hover {
					color: #ffffff;
				}
			}
		}
	}

	.dropdown {
		> a {
			color: #ffffff;
		}

		.dropdown-menu {
			background-color: #ffffff;

			li {
				&.active,
				&:hover,
				&:focus {

					a {
						color: #ffffff;
						background: @btn-primary-bg !important;

						&.active,
						&:hover{
							color: #ffffff;
							background: @btn-primary-bg;
						}
					}
				}

				a {
					color: #333333;
				}

				&.divider {
					background-color: #e5e5e5;
				}
			}
		}
	}
}

// navbar-news
.navbar-news {
	z-index: 9;
	background-color: @gray-lighter;
	margin-top: 50px;
	height: 50px;
	padding: 5px 0;
}

/*
| -------------------------------------------------------------------------
| panel-body > panel-list
| -------------------------------------------------------------------------
*/

.panel-body {
	&.panel-list {
		padding: 0;

		.list-group {
			margin-bottom: 0;

			.list-group-item {
				border: none;
			}

			.list-group-item + .list-group-item {
				border-top: 1px solid #dddddd;
			}
		}
	}
}

/*
| -------------------------------------------------------------------------
| news
| -------------------------------------------------------------------------
*/

@import 'news';


/*
| -------------------------------------------------------------------------
| content
| -------------------------------------------------------------------------
*/

.application {
	> .content {
		padding-top: 140px;

		&.login {
			padding-top: 90px;
		}
	}
}

/*
| -------------------------------------------------------------------------
| social
| -------------------------------------------------------------------------
*/

// user
.user {
	header {
		.avatar {
			width: 181px;
			height: 181px;

			img {
				width: 100%;
				z-index: 9;
			}
		}
	}

	footer {
		padding-top: 15px;

		.name {
			font-size: 24px;
			font-weight: 500;
			line-height: 1.1;
			margin-bottom: 10px;
		}

		.job-title {
			color: #333333;
			margin-bottom: 15px;
		}

		.btn {
			margin-top: 15px;
		}
	}
}

/*
| -------------------------------------------------------------------------
| friends list
| -------------------------------------------------------------------------
*/

.friends-list {
	.friends-item {
		&.list-group-item {
			border: none;
		}

		&:before,
		&:after {
			clear: both;
			display: table;
		}

		&:after {
			content: '';
		}

		&:hover {
			background: #f5f5f5;
		}

		.pull-left {
			max-height: 64px;

			.checkbox-inline {
				height: 64px;
				margin-top: -5px;
				vertical-align: middle;
			}
		}

		.pull-right {
			button {
				i {
					// color: @gray-light;
				}
			}
		}

		.avatar {
			display: inline-block;
			width: 32px;
			height: 32px;
			margin-right: 15px;

			img {
				width: 100%;
			}
		}

		.name {
			font-weight: bold;
		}
	}

	.list-group-item + .list-group-item {
		border-top: 1px solid #dddddd;
	}
}

/*
| -------------------------------------------------------------------------
| faq
| -------------------------------------------------------------------------
*/

.faq {
	.list-group-item {
		&:hover {
			background: #f5f5f5;
		}
	}
}

/*
| -------------------------------------------------------------------------
| about
| -------------------------------------------------------------------------
*/

@import 'about';

/*
| -------------------------------------------------------------------------
| timeline
| -------------------------------------------------------------------------
*/

@import 'timeline';

/*
| -------------------------------------------------------------------------
| friends
| -------------------------------------------------------------------------
*/

@import 'friends';

/*
| -------------------------------------------------------------------------
| projects
| -------------------------------------------------------------------------
*/

@import 'projects';

/*
| -------------------------------------------------------------------------
| notifications
| -------------------------------------------------------------------------
*/

@import 'notifications';

/*
| -------------------------------------------------------------------------
| messages
| -------------------------------------------------------------------------
*/

@import 'messages';

/*
| -------------------------------------------------------------------------
| admin
| -------------------------------------------------------------------------
*/

@import 'admin';

/*
| -------------------------------------------------------------------------
| notification
| -------------------------------------------------------------------------
*/

.notification-alert {
	background: #e9362c !important;
}

/*
| -------------------------------------------------------------------------
| login
| -------------------------------------------------------------------------
*/

a.login {
	&:hover {
		text-decoration: underline !important;
	}
}