<section class="content notifications">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        {{>user-sidebar}}
      </div>
      <div class="col-xs-9">
        <header>
          <h3>Notificações</h3>
        </header>
        <hr>
        <div class="panel-list notifications-list">
          {{#each notifications}}

            {{#if postLiked}}
              {{!-- notification-item --}}
              <div class="list-group-item notifications-item">
                <i class="fa fa-user-plus"></i> <a href="/friend/{{user.id}}/timeline">{{user.name}}</a> curtiu seu <a href="/post/{{context.id}}">post</a>
                <div class="date small">{{createdAt}}</div>
              </div>
              {{!-- notification-item --}}
            {{/if}}

            {{#if commentLiked}}
              {{!-- notification-item --}}
              <div class="list-group-item notifications-item">
                <i class="fa fa-user-plus"></i> <a href="/friend/{{user.id}}/timeline">{{user.name}}</a> curtiu seu <a href="/post/{{context.id}}">comentario</a>
                <div class="date small">{{createdAt}}</div>
              </div>
              {{!-- notification-item --}}
            {{/if}}

            {{#if isComment}}
              {{!-- notification-item --}}
              <div class="list-group-item notifications-item">
                <i class="fa fa-user-plus"></i> <a href="/friend/{{user.id}}/timeline">{{user.name}}</a> comentou seu <a href="/post/{{context.id}}">post</a>
                <div class="date small">{{createdAt}}</div>
              </div>
              {{!-- notification-item --}}
            {{/if}}

            {{#if isFriendRequest}}
              {{!-- notification-item --}}
              <div class="list-group-item notifications-item">
                <i class="fa fa-user-plus"></i> <a href="/friend/{{user.id}}/timeline">{{user.name}}</a> lhe adicionou como <a href="/friends#friendsRequests">amigo</a>
                <div class="date small">{{createdAt}}</div>
              </div>
              {{!-- notification-item --}}
            {{/if}}

            {{#if isFriendAccepted}}
              {{!-- notification-item --}}
              <div class="list-group-item notifications-item">
                <i class="fa fa-user-plus"></i> <a href="/friend/{{user.id}}/timeline">{{user.name}}</a> aceitou seu pedido de <a href="/friends#myFriends">amizade</a>
                <div class="date small">{{createdAt}}</div>
              </div>
              {{!-- notification-item --}}
            {{/if}}

            {{#if isInvite}}
              {{!-- notification-item --}}
              <div class="list-group-item notifications-item">
                <i class="fa fa-user-plus"></i> <a href="/friend/{{user.id}}/timeline">{{user.name}}</a> lhe convidou para participar do projeto <a href="projects/{{context.id}}">{{context.name}}</a>
                <div class="date small">{{createdAt}}</div>
              </div>
              {{!-- notification-item --}}
            {{/if}}

            {{#if isAccepted}}
              {{!-- notification-item --}}
              <div class="list-group-item notifications-item">
                <i class="fa fa-user-plus"></i> <a href="/friend/{{user.id}}/timeline">{{user.name}}</a> aceitou seu pedido para participar do projeto <a href="projects/{{context.id}}">{{context.name}}</a>
                <div class="date small">{{createdAt}}</div>
              </div>
              {{!-- notification-item --}}
            {{/if}}

            {{#if isInviteAccepted}}
              {{!-- notification-item --}}
              <div class="list-group-item notifications-item">
                <i class="fa fa-user-plus"></i> <a href="/friend/{{user.id}}/timeline">{{user.name}}</a> aceitou seu convite para participar do projeto <a href="projects/{{context.id}}">{{context.name}}</a>
                <div class="date small">{{createdAt}}</div>
              </div>
              {{!-- notification-item --}}
            {{/if}}

            {{#if isRequestedToProject}}
              {{!-- notification-item --}}
              <div class="list-group-item notifications-item">
                <i class="fa fa-user-plus"></i> <a href="/friend/{{user.id}}/timeline">{{user.name}}</a> pediu para participar do projeto <a href="projects/{{context.id}}">{{context.name}}</a>
                <div class="date small">{{createdAt}}</div>
              </div>
              {{!-- notification-item --}}
            {{/if}}

            {{#if isMessageReceived}}
              {{!-- notification-item --}}
              <div class="list-group-item notifications-item">
                <i class="fa fa-user-plus"></i> <a href="/friend/{{user.id}}/timeline">{{user.name}}</a> lhe enviou uma <a href="/messages/{{context.owner}}*{{context.to}}">mensagem</a>
                <div class="date small">{{createdAt}}</div>
              </div>
              {{!-- notification-item --}}
            {{/if}}

          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>
