<section class="content notifications">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        {{>user-sidebar}}
      </div>
      <div class="col-xs-9">
        <header>
          <h3>Notificações</h3>
        </header>
        <hr>
        <div class="panel-list notifications-list">
          {{!-- notification-item --}}
          <div class="list-group-item notifications-item">
            <i class="fa fa-user-plus"></i> <a href="#">Fulano de Tal</a> lhe <a href="/friends#friendsRequests">adicionou como amigo</a>.
            <div class="date small">02 de março de 2015 as 14:11</div>
          </div>
          {{!-- notification-item --}}

          {{!-- notification-item --}}
          <div class="list-group-item notifications-item">
            <i class="fa fa-user-plus"></i> <a href="#">Fulano de Tal</a> aceitou seu pedido de amizade.
            <div class="date small">02 de março de 2015 as 14:11</div>
          </div>
          {{!-- notification-item --}}

          {{!-- notification-item --}}
          <div class="list-group-item notifications-item">
            <i class="fa fa-envelope"></i> <a href="#">Fulano de Tal</a> lhe enviou uma <a href="/messages">mensagem</a>.
            <div class="date small">02 de março de 2015 as 14:11</div>
          </div>
          {{!-- notification-item --}}

          {{!-- notification-item --}}
          <div class="list-group-item notifications-item">
            <i class="fa fa-soccer-ball-o"></i> <a href="#">Fulano de Tal</a> lhe convidou para participar do projeto <a href="projects/xxxxxx">Name Project</a>.
            <div class="date small">02 de março de 2015 as 14:11</div>
          </div>
          {{!-- notification-item --}}

          {{!-- notification-item --}}
          <div class="list-group-item notifications-item">
            <i class="fa fa-soccer-ball-o"></i> <a href="#">Fulano de Tal</a> aceitou seu pedido para participar do projeto <a href="projects/xxxxxx">Name Project</a>.
            <div class="date small">02 de março de 2015 as 14:11</div>
          </div>
          {{!-- notification-item --}}
        </div>
      </div>
    </div>
  </div>
</section>
