<section class="content admin">
  <div class="container">
    <div class="row menu">
      <div class="col-xs-12">
        {{>admin-menu}}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <h4>Newsticker</h4>
        <div class="row submenu">
          <div class="col-xs-12">
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#createNewsRecord"><i class="fa fa-plus"></i> Adicionar newsticker</a>
          </div>
        </div>
        <table id="listProjects" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Imagem</th>
              <th>Url</th>
              <th>Deletar</th>
            </tr>
          </thead>

          <tfoot>
            <tr>
              <th>Imagem</th>
              <th>Url</th>
              <th>Deletar</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</section>

<!-- createNewsRecord -->
<div class="modal fade" id="createNewsRecord" tabindex="-1" role="dialog" aria-labelledby="createNewsRecordLabel" aria-hidden="true">
  <form action="" method="post" id="createNews" enctype="multipart/form-data">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="createNewsRecordLabel">Adicionar</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="title">Url</label>
            <input type="text" class="form-control" name="url">
          </div>
          <div class="form-group">
            <label for="photo">Imagem</label>
            <input type="file" class="form-control" name="img">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Adicionar</button>
        </div>
      </div>
    </div>
  </form>
</div>
{{!-- /createNewsRecord --}}

<script>
$(function(){
  $('#listProjects').dataTable( {
    "processing": true,
    "serverSide": true,
    "ordering": false,
    "searching": false,
    "lengthChange": false,
    "language": {
      sEmptyTable: "Nenhum registro encontrado",
      sInfo: "Mostrando de _START_ até _END_ de _TOTAL_ registros",
      sInfoEmpty: "Mostrando 0 até 0 de 0 registros",
      sInfoFiltered: "(Filtrados de _MAX_ registros)",
      sInfoPostFix: "",
      sInfoThousands: ".",
      sLengthMenu: "_MENU_ resultados por página",
      sLoadingRecords: "Carregando...",
      sProcessing: "Processando...",
      sZeroRecords: "Nenhum registro encontrado",
      sSearch: "Pesquisar",
      oPaginate: {
        sNext: "Próximo",
        sPrevious: "Anterior",
        sFirst: "Primeiro",
        sLast: "Último"
      },
      oAria: {
        sSortAscending: ": Ordenar colunas de forma ascendente",
        sSortDescending: ": Ordenar colunas de forma descendente"
      }
    },
    "columnDefs": [
        {
          "render": function ( data, type, row ) {
            return "<img src='/newsticker/"+row[0]+"/img' width='400'>"
          },
          "targets": 0
        },
        {
          "render": function ( data, type, row ) {
            return '<a href="#" class="btn btn-danger btn-xs deleteNewsticker" data-newsticker="'+row[0]+'"><i class="fa fa-trash"></i></a></td>';
          },
          "targets": 2
        }
    ],
    "ajax": {
      "url": "/admin/newsticker/find",
      "dataType": "jsonp"
    }
  }).on('draw.dt', function () {

    $('.deleteNewsticker').click(function(){
      console.log('asdasdd')
      var $newsticker = $(this).data('newsticker');
      var url = '/newsticker/'+$newsticker;
      console.log(url);
      io.socket.request({
        method: 'delete',
        url: url,
        params: {},
        headers: {}
      });
    });
  });

  io.socket.on('user {{currentUser.id}} newsticker', function(result) {
    if(result.verb === 'deleted') location.reload();
  });
});
</script>
