div.dataTables_length label {
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
}

div.dataTables_length select {
  width: 75px;
  display: inline-block;
}

div.dataTables_filter {
  text-align: right;
}

div.dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
}

div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
}

div.dataTables_info {
  padding-top: 8px;
  white-space: nowrap;
}

div.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right;
}

div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  div.dataTables_length,
  div.dataTables_filter,
  div.dataTables_info,
  div.dataTables_paginate {
    text-align: center;
  }
}


table.dataTable td,
table.dataTable th {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}


table.dataTable {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  font-family: 'Glyphicons Halflings';
  opacity: 0.5;
}
table.dataTable thead .sorting:after {
  opacity: 0.2;
  content: "\e150"; /* sort */
}
table.dataTable thead .sorting_asc:after {
  content: "\e155"; /* sort-by-attributes */
}
table.dataTable thead .sorting_desc:after {
  content: "\e156"; /* sort-by-attributes-alt */
}

table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  color: #eee;
}

table.dataTable thead > tr > th {
  padding-left: 8px;
  padding-right: 30px;
}

table.dataTable th:active {
  outline: none;
}

/* Scrolling */
div.dataTables_scrollHead table {
  margin-bottom: 0 !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

div.dataTables_scrollBody table {
  border-top: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
  border-top: none;
}

div.dataTables_scrollFoot table {
  margin-top: 0 !important;
  border-top: none;
}

/* Frustratingly the border-collapse:collapse used by Bootstrap makes the column
   width calculations when using scrolling impossible to align columns. We have
   to use separate
 */
table.table-bordered.dataTable {
  border-collapse: separate !important;
}
table.table-bordered thead th,
table.table-bordered thead td {
  border-left-width: 0;
  border-top-width: 0;
}
table.table-bordered tbody th,
table.table-bordered tbody td {
  border-left-width: 0;
  border-bottom-width: 0;
}
table.table-bordered th:last-child,
table.table-bordered td:last-child {
  border-right-width: 0;
}
div.dataTables_scrollHead table.table-bordered {
  border-bottom-width: 0;
}




/*
 * TableTools styles
 */
.table.dataTable tbody tr.active td,
.table.dataTable tbody tr.active th {
  background-color: #08C;
  color: white;
}

.table.dataTable tbody tr.active:hover td,
.table.dataTable tbody tr.active:hover th {
  background-color: #0075b0 !important;
}

.table.dataTable tbody tr.active th > a,
.table.dataTable tbody tr.active td > a {
  color: white;
}

.table-striped.dataTable tbody tr.active:nth-child(odd) td,
.table-striped.dataTable tbody tr.active:nth-child(odd) th {
  background-color: #017ebc;
}

table.DTTT_selectable tbody tr {
  cursor: pointer;
}

div.DTTT .btn:hover {
  text-decoration: none !important;
}

ul.DTTT_dropdown.dropdown-menu {
  z-index: 2003;
}

ul.DTTT_dropdown.dropdown-menu a {
  color: #333 !important; /* needed only when demo_page.css is included */
}

ul.DTTT_dropdown.dropdown-menu li {
  position: relative;
}

ul.DTTT_dropdown.dropdown-menu li:hover a {
  background-color: #0088cc;
  color: white !important;
}

div.DTTT_collection_background {
  z-index: 2002;  
}

/* TableTools information display */
div.DTTT_print_info {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 150px;
  margin-left: -200px;
  margin-top: -75px;
  text-align: center;
  color: #333;
  padding: 10px 30px;
  opacity: 0.95;

  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
}

div.DTTT_print_info h6 {
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  margin: 1em;
}

div.DTTT_print_info p {
  font-size: 14px;
  line-height: 20px;
}

div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 60px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.9)), color-stop(75%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
}



/*
 * FixedColumns styles
 */
div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftFootWrapper table,
div.DTFC_RightHeadWrapper table,
div.DTFC_RightFootWrapper table,
table.DTFC_Cloned tr.even {
    background-color: white;
    margin-bottom: 0;
}
 
div.DTFC_RightHeadWrapper table ,
div.DTFC_LeftHeadWrapper table {
  border-bottom: none !important;
    margin-bottom: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
 
div.DTFC_RightHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_RightHeadWrapper table thead tr:last-child td:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
 
div.DTFC_RightBodyWrapper table,
div.DTFC_LeftBodyWrapper table {
    border-top: none;
    margin: 0 !important;
}
 
div.DTFC_RightBodyWrapper tbody tr:first-child th,
div.DTFC_RightBodyWrapper tbody tr:first-child td,
div.DTFC_LeftBodyWrapper tbody tr:first-child th,
div.DTFC_LeftBodyWrapper tbody tr:first-child td {
    border-top: none;
}
 
div.DTFC_RightFootWrapper table,
div.DTFC_LeftFootWrapper table {
    border-top: none;
    margin-top: 0 !important;
}


/*
 * FixedHeader styles
 */
div.FixedHeader_Cloned table {
  margin: 0 !important
}

/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| comments
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| variables
| -------------------------------------------------------------------------
*/
a {
  color: #026dc5;
  text-decoration: none;
}
a:hover {
  color: #014379;
  text-decoration: underline;
}
/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| variables > buttons
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| buttons > mixins
| -------------------------------------------------------------------------
*/
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-link {
  text-shadow: none;
}
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active,
.btn-link.active,
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-link:active,
.btn-default:focus,
.btn-primary:focus,
.btn-success:focus,
.btn-info:focus,
.btn-warning:focus,
.btn-danger:focus,
.btn-link:focus {
  text-shadow: none;
  box-shadow: none;
  outline: none !important;
}
/*
| -------------------------------------------------------------------------
| buttons > color
| -------------------------------------------------------------------------
*/
.btn-primary {
  color: #ffffff;
  background: #026dc5;
  border-color: #025ca7;
}
.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background: #0265b6;
  border-color: #014b88;
}
.btn-success {
  color: #ffffff;
  background: #05ae0e;
  border-color: #04900c;
}
.btn-success.active,
.btn-success:active,
.btn-success:focus,
.btn-success:hover {
  background: #059f0d;
  border-color: #037309;
}
.btn-info {
  color: #ffffff;
  background: #2c93ff;
  border-color: #0d83ff;
}
.btn-info.active,
.btn-info:active,
.btn-info:focus,
.btn-info:hover {
  background: #1d8bff;
  border-color: #0074ee;
}
.btn-warning {
  color: #ffffff;
  background: #ff9500;
  border-color: #e08300;
}
.btn-warning.active,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover {
  background: #f08c00;
  border-color: #c27100;
}
.btn-danger {
  color: #ffffff;
  background: #e9362c;
  border-color: #df2217;
}
.btn-danger.active,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover {
  background: #e8291e;
  border-color: #c31e14;
}
.btn-link {
  color: #026dc5;
}
.btn-link.active,
.btn-link:active,
.btn-link:focus,
.btn-link:hover {
  color: #025ca7;
}
/*
| -------------------------------------------------------------------------
| buttons > circle
| -------------------------------------------------------------------------
*/
.btn-circle {
  border-radius: 50%;
}
.btn-circle.btn {
  padding-left: 0;
  padding-right: 0;
  width: 34px;
}
.btn-circle.btn-lg {
  width: 46px;
}
.btn-circle.btn-sm {
  width: 30px;
}
.btn-circle.btn-xs {
  width: 22px;
}
/*
| -------------------------------------------------------------------------
| buttons > stacked
| -------------------------------------------------------------------------
*/
.btn-stacked {
  text-align: left;
  padding: 10px 10px 10px 40px;
  position: relative;
}
.btn-stacked i {
  display: block;
  position: absolute;
  left: 10px;
  top: 18px;
  font-size: 22px;
}
/*
| -------------------------------------------------------------------------
| forms > mixins
| -------------------------------------------------------------------------
*/
.form-control {
  -webkit-box-shadow: none !important;
  box-shadow: none;
}
.form-control:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.form-control:focus {
  border-color: #026dc5;
}
.has-info .form-control,
.has-info .form-control:focus {
  border-color: #2c93ff;
}
.has-info .error-placement {
  color: #2c93ff;
}
.has-warning .form-control,
.has-warning .form-control:focus {
  border-color: #ff9500;
}
.has-warning .error-placement {
  color: #ff9500;
}
.has-error .form-control,
.has-error .form-control:focus {
  border-color: #e9362c;
}
.has-error .select2-container--default,
.has-error .select2-selection--multiple,
.has-error .select2-selection--single {
  border: 1px solid #e9362c;
}
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .error-placement {
  color: #e9362c;
}
.has-error .help-block.small {
  color: #737373;
}
/*
| -------------------------------------------------------------------------
| forms > file input
| -------------------------------------------------------------------------
*/
.input-group .form-control[readonly] {
  background: none;
}
.input-group .form-control[readonly]:focus {
  border-color: #cccccc;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
/*
| -------------------------------------------------------------------------
| buttons > mixins
| -------------------------------------------------------------------------
*/
.nav-pills > li.active a,
.nav-pills > li.active a:focus,
.nav-pills > li.active a:hover {
  background: #026dc5;
}
/*
| -------------------------------------------------------------------------
| panels
| -------------------------------------------------------------------------
*/
.panel-info {
  border-color: #026dc5;
}
.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #026dc5;
  border-color: #025ca7;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #025ca7;
}
.panel-info > .panel-heading .badge {
  color: #026dc5;
  background-color: #026dc5;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #025ca7;
}
/*
| -------------------------------------------------------------------------
| docs
| -------------------------------------------------------------------------
*/
.docs-content .docs-section .page-header:first-child {
  margin-top: 0;
}
.docs-sidebar .docs-menu {
  position: fixed;
}
.docs-sidebar .docs-menu .nav {
  margin-bottom: 40px;
}
.docs-sidebar .docs-menu .nav > li > a {
  padding: 0;
}
.docs-sidebar .docs-menu .nav > li > a:focus,
.docs-sidebar .docs-menu .nav > li > a:hover {
  background: none;
  color: #026dc5;
}
.docs-sidebar .docs-menu .nav li + li {
  margin-top: 10px;
}
.docs-sidebar .docs-menu .nav-pills > li.active a,
.docs-sidebar .docs-menu .nav-pills > li.active a:focus,
.docs-sidebar .docs-menu .nav-pills > li.active a:hover {
  color: #026dc5;
  background: none;
}
.docs-sidebar .docs-menu .nav-pills a {
  color: #333;
}
.docs-page-sub-header {
  padding-bottom: 9px;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #eee;
}
.docs-fontawesome-icon-list section + section {
  margin-top: 40px;
}
.docs-fontawesome-icon-list .fa-hover {
  font-size: 18px;
  cursor: pointer;
}
.docs-fontawesome-icon-list .fa-hover:hover {
  color: #026dc5;
}
.docs-fontawesome-icon-list .fa-hover + .fa-hover {
  margin-top: 10px;
}

/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| comments
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| variables
| -------------------------------------------------------------------------
*/
a {
  color: #026dc5;
  text-decoration: none;
}
a:hover {
  color: #014379;
  text-decoration: underline;
}
/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| variables > buttons
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| timeline
| -------------------------------------------------------------------------
*/
.posts .post .panel-body footer .list-group .list-group-item {
  border-bottom: 1px solid #dddddd !important;
}
/*
| -------------------------------------------------------------------------
| navbar-header
| -------------------------------------------------------------------------
*/
.panel-body.panel-list .list-group .list-group-item {
  border: 1px solid #dddddd !important;
  border-left: none !important;
  border-right: none !important;
}
.panel-body.panel-list .list-group .list-group-item:first-child {
  border-top: none !important;
}
/*
| -------------------------------------------------------------------------
| .messages
| -------------------------------------------------------------------------
*/
.messages .messages-list {
  border-bottom: 1px solid #dddddd;
}

/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle; }
  .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      display: block;
      padding-left: 8px;
      padding-right: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px; }
  .select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    user-select: none;
    -webkit-user-select: none; }
    .select2-container .select2-selection--multiple .select2-selection__rendered {
      display: inline-block;
      overflow: hidden;
      padding-left: 8px;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .select2-container .select2-search--inline {
    float: left; }
    .select2-container .select2-search--inline .select2-search__field {
      box-sizing: border-box;
      border: none;
      font-size: 100%;
      margin-top: 5px; }
      .select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
        -webkit-appearance: none; }

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051; }

.select2-results {
  display: block; }

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0; }

.select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none; }
  .select2-results__option[aria-selected] {
    cursor: pointer; }

.select2-container--open .select2-dropdown {
  left: 0; }

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-search--dropdown {
  display: block;
  padding: 4px; }
  .select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box; }
    .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
      -webkit-appearance: none; }
  .select2-search--dropdown.select2-search--hide {
    display: none; }

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0); }

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px; }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px; }
  .select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold; }
  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      border-color: #888 transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      height: 0;
      left: 50%;
      margin-left: -4px;
      margin-top: -2px;
      position: absolute;
      top: 50%;
      width: 0; }
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto; }
.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default; }
  .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none; }
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px; }
.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text; }
  .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%; }
  .select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left; }
  .select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px; }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #333; }
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder {
  float: right; }
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto; }
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto; }
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0; }
.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default; }
.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none; }
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa; }
.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0; }
.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }
.select2-container--default .select2-results__option[role=group] {
  padding: 0; }
.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999; }
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd; }
.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em; }
  .select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0; }
  .select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em; }
    .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
      margin-left: -2em;
      padding-left: 3em; }
      .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
        margin-left: -3em;
        padding-left: 4em; }
        .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
          margin-left: -4em;
          padding-left: 5em; }
          .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
            margin-left: -5em;
            padding-left: 6em; }
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white; }
.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }

.select2-container--classic .select2-selection--single {
  background-color: #f6f6f6;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, #ffffff 50%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #ffffff 50%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, #ffffff 50%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0); }
  .select2-container--classic .select2-selection--single:focus {
    border: 1px solid #5897fb; }
  .select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px; }
  .select2-container--classic .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-right: 10px; }
  .select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999; }
  .select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-color: #ddd;
    border: none;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    background-image: -webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
    background-image: -o-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
    background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0); }
    .select2-container--classic .select2-selection--single .select2-selection__arrow b {
      border-color: #888 transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      height: 0;
      left: 50%;
      margin-left: -4px;
      margin-top: -2px;
      position: absolute;
      top: 50%;
      width: 0; }
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto; }
.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb; }
  .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
    background: transparent;
    border: none; }
    .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
      border-color: transparent transparent #888 transparent;
      border-width: 0 4px 5px 4px; }
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #eeeeee 50%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0); }
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0); }
.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0; }
  .select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #5897fb; }
  .select2-container--classic .select2-selection--multiple .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px; }
  .select2-container--classic .select2-selection--multiple .select2-selection__clear {
    display: none; }
  .select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px; }
  .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    color: #888;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px; }
    .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #555; }
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right; }
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto; }
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto; }
.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb; }
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0; }
.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0; }
.select2-container--classic .select2-dropdown {
  background-color: white;
  border: 1px solid transparent; }
.select2-container--classic .select2-dropdown--above {
  border-bottom: none; }
.select2-container--classic .select2-dropdown--below {
  border-top: none; }
.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }
.select2-container--classic .select2-results__option[role=group] {
  padding: 0; }
.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey; }
.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: white; }
.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }
.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb; }

/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| comments
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| variables
| -------------------------------------------------------------------------
*/
a {
  color: #026dc5;
  text-decoration: none;
}
a:hover {
  color: #014379;
  text-decoration: underline;
}
/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| variables > buttons
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| non responsive treatment
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| non responsive bootstrap
| -------------------------------------------------------------------------
*/
/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */
/* Account for fixed navbar */
body {
  padding-top: 0;
  padding-bottom: 0;
}
body,
.navbar-fixed-top,
.navbar-fixed-bottom {
  min-width: 970px;
}
/* Don't let the lead text change font-size. */
.lead {
  font-size: 16px;
}
/* Finesse the page header spacing */
.page-header {
  margin-bottom: 30px;
}
.page-header .lead {
  margin-bottom: 10px;
}
/* Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */
/* Reset the container */
.container {
  width: 970px;
  max-width: none !important;
}
.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}
/* Always float the navbar header */
.navbar-header {
  float: left;
}
/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  visibility: visible !important;
}
.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}
.navbar-brand {
  margin-left: -15px;
}
/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px;
}
/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}
/* Undo form expansion */
.navbar-form {
  float: left;
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* Copy-pasted from forms.less since we mixin the .form-inline styles. */
.navbar-form .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.navbar-form .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.navbar-form .form-control-static {
  display: inline-block;
}
.navbar-form .input-group {
  display: inline-table;
  vertical-align: middle;
}
.navbar-form .input-group .input-group-addon,
.navbar-form .input-group .input-group-btn,
.navbar-form .input-group .form-control {
  width: auto;
}
.navbar-form .input-group > .form-control {
  width: 100%;
}
.navbar-form .control-label {
  margin-bottom: 0;
  vertical-align: middle;
}
.navbar-form .radio,
.navbar-form .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.navbar-form .radio label,
.navbar-form .checkbox label {
  padding-left: 0;
}
.navbar-form .radio input[type="radio"],
.navbar-form .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}
.navbar-form .has-feedback .form-control-feedback {
  top: 0;
}
/*
| -------------------------------------------------------------------------
| footer
| -------------------------------------------------------------------------
*/
.footer {
  margin-top: 25px;
  border-top: 1px solid #dddddd;
  padding: 15px 0;
  color: #737373;
}
/*
| -------------------------------------------------------------------------
| navbar
| -------------------------------------------------------------------------
*/
.navbar-brand {
  background: url('../image/tim-vem-pro-jogo.png');
  width: 275px;
  height: 31px;
  display: inline-block;
  margin: 9px auto;
}
.nav .user {
  padding: 0 auto;
}
.nav .user > a {
  padding: 0 15px;
  line-height: 49px;
}
.nav .user > a .avatar {
  display: inline-block;
  width: 35px;
  margin-right: 15px;
  border: 1px solid #ffffff;
}
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: #026dc5;
}
.navbar > .container .navbar-brand {
  margin-left: 0 !important;
}
.navbar-application {
  z-index: 99;
  background-color: #026dc5;
  border-color: #025ca7;
  color: #ffffff;
}
.navbar-application .navbar-nav > li,
.navbar-application .navbar-nav > li.open {
  background: #026dc5;
}
.navbar-application .navbar-nav > li > a,
.navbar-application .navbar-nav > li.open > a {
  color: #ffffff;
  background: #026dc5;
}
.navbar-application .navbar-nav > li > a.active,
.navbar-application .navbar-nav > li.open > a.active,
.navbar-application .navbar-nav > li > a.focus,
.navbar-application .navbar-nav > li.open > a.focus,
.navbar-application .navbar-nav > li > a:hover,
.navbar-application .navbar-nav > li.open > a:hover {
  background: #026dc5;
}
.navbar-application .navbar-nav li a {
  color: #ffffff;
}
.navbar-application .navbar-nav li a:hover {
  color: #ffffff;
}
.navbar-application .dropdown > a {
  color: #ffffff;
}
.navbar-application .dropdown .dropdown-menu {
  background-color: #ffffff;
}
.navbar-application .dropdown .dropdown-menu li.active a,
.navbar-application .dropdown .dropdown-menu li:hover a,
.navbar-application .dropdown .dropdown-menu li:focus a {
  color: #ffffff;
  background: #026dc5 !important;
}
.navbar-application .dropdown .dropdown-menu li.active a.active,
.navbar-application .dropdown .dropdown-menu li:hover a.active,
.navbar-application .dropdown .dropdown-menu li:focus a.active,
.navbar-application .dropdown .dropdown-menu li.active a:hover,
.navbar-application .dropdown .dropdown-menu li:hover a:hover,
.navbar-application .dropdown .dropdown-menu li:focus a:hover {
  color: #ffffff;
  background: #026dc5;
}
.navbar-application .dropdown .dropdown-menu li a {
  color: #333333;
}
.navbar-application .dropdown .dropdown-menu li.divider {
  background-color: #e5e5e5;
}
.navbar-news {
  z-index: 9;
  background-color: #eeeeee;
  margin-top: 50px;
  height: 50px;
  padding: 5px 0;
}
/*
| -------------------------------------------------------------------------
| panel-body > panel-list
| -------------------------------------------------------------------------
*/
.panel-body.panel-list {
  padding: 0;
}
.panel-body.panel-list .list-group {
  margin-bottom: 0;
}
.panel-body.panel-list .list-group .list-group-item {
  border: none;
}
.panel-body.panel-list .list-group .list-group-item + .list-group-item {
  border-top: 1px solid #dddddd;
}
/*
| -------------------------------------------------------------------------
| news
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| navbar
| -------------------------------------------------------------------------
*/
.slide {
  height: 300px;
  cursor: pointer;
}
.slide ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.slide .caption {
  position: absolute;
  z-index: 9;
  color: #ffffff;
  font-size: 40px;
  height: 40px;
  line-height: 40px;
  top: 20px;
  left: 20px;
}
/*
| -------------------------------------------------------------------------
| navbar
| -------------------------------------------------------------------------
*/
.navbar-news .nav-pills .active .vem-pro-jogo {
  color: #ffffff;
  background: #026dc5;
}
.navbar-news .nav-pills .active .treinos {
  color: #ffffff;
  background: #ff5722;
}
.navbar-news .nav-pills .active .nutricao {
  color: #ffffff;
  background: #4caf50;
}
.navbar-news .nav-pills .active .saude {
  color: #ffffff;
  background: #673ab7;
}
.navbar-news .nav-pills .active .equipamentos {
  color: #ffffff;
  background: #ff4081;
}
.navbar-news .nav-pills .vem-pro-jogo {
  font-weight: bold;
  color: #026dc5;
}
.navbar-news .nav-pills .vem-pro-jogo:hover {
  color: #ffffff;
  background: #026dc5;
}
.navbar-news .nav-pills .treinos {
  font-weight: bold;
  color: #ff5722;
}
.navbar-news .nav-pills .treinos:hover {
  color: #ffffff;
  background: #ff5722;
}
.navbar-news .nav-pills .nutricao {
  font-weight: bold;
  color: #4caf50;
}
.navbar-news .nav-pills .nutricao:hover {
  color: #ffffff;
  background: #4caf50;
}
.navbar-news .nav-pills .saude {
  font-weight: bold;
  color: #673ab7;
}
.navbar-news .nav-pills .saude:hover {
  color: #ffffff;
  background: #673ab7;
}
.navbar-news .nav-pills .equipamentos {
  font-weight: bold;
  color: #ff4081;
}
.navbar-news .nav-pills .equipamentos:hover {
  color: #ffffff;
  background: #ff4081;
}
.navbar-news .navbar-form {
  margin-top: 3px;
  padding-left: 0;
  padding-right: 0;
}
/*
| -------------------------------------------------------------------------
| news header & list
| -------------------------------------------------------------------------
*/
.news .news-list .news-item {
  margin-top: 25px;
  min-height: 97px;
}
.news .vem-pro-jogo header {
  color: #026dc5;
  border-bottom: 1px solid #dddddd;
}
.news .vem-pro-jogo header h2 {
  margin-top: 0;
}
.news .vem-pro-jogo header h4 {
  color: #555555;
}
.news .vem-pro-jogo header .date {
  color: #555555;
}
.news .vem-pro-jogo header a {
  color: #026dc5;
}
.news .vem-pro-jogo header a:hover {
  color: #014379;
}
.news .vem-pro-jogo header .label {
  background: #026dc5;
}
.news .vem-pro-jogo .thumbnail,
.news .vem-pro-jogo .subtitle,
.news .vem-pro-jogo .title {
  display: block;
}
.news .vem-pro-jogo .subtitle {
  color: #555555;
  margin-bottom: 5px;
}
.news .vem-pro-jogo .title {
  font-weight: bold;
  color: #026dc5;
  min-height: 40px;
}
.news .vem-pro-jogo a:hover,
.news .vem-pro-jogo a:focus,
.news .vem-pro-jogo a:active {
  text-decoration: none;
}
.news .vem-pro-jogo a:hover .subtitle,
.news .vem-pro-jogo a:focus .subtitle,
.news .vem-pro-jogo a:active .subtitle {
  color: #2f2f2f;
}
.news .vem-pro-jogo a:hover .title,
.news .vem-pro-jogo a:focus .title,
.news .vem-pro-jogo a:active .title {
  color: #014379;
}
.news .treinos header {
  color: #ff5722;
  border-bottom: 1px solid #dddddd;
}
.news .treinos header h2 {
  margin-top: 0;
}
.news .treinos header h4 {
  color: #555555;
}
.news .treinos header .date {
  color: #555555;
}
.news .treinos header a {
  color: #ff5722;
}
.news .treinos header a:hover {
  color: #d43300;
}
.news .treinos header .label {
  background: #ff5722;
}
.news .treinos .thumbnail,
.news .treinos .subtitle,
.news .treinos .title {
  display: block;
}
.news .treinos .subtitle {
  color: #555555;
  margin-bottom: 5px;
}
.news .treinos .title {
  font-weight: bold;
  color: #ff5722;
  min-height: 40px;
}
.news .treinos a:hover,
.news .treinos a:focus,
.news .treinos a:active {
  text-decoration: none;
}
.news .treinos a:hover .subtitle,
.news .treinos a:focus .subtitle,
.news .treinos a:active .subtitle {
  color: #2f2f2f;
}
.news .treinos a:hover .title,
.news .treinos a:focus .title,
.news .treinos a:active .title {
  color: #d43300;
}
.news .saude header {
  color: #673ab7;
  border-bottom: 1px solid #dddddd;
}
.news .saude header h2 {
  margin-top: 0;
}
.news .saude header h4 {
  color: #555555;
}
.news .saude header .date {
  color: #555555;
}
.news .saude header a {
  color: #673ab7;
}
.news .saude header a:hover {
  color: #46287d;
}
.news .saude header .label {
  background: #673ab7;
}
.news .saude .thumbnail,
.news .saude .subtitle,
.news .saude .title {
  display: block;
}
.news .saude .subtitle {
  color: #555555;
  margin-bottom: 5px;
}
.news .saude .title {
  font-weight: bold;
  color: #673ab7;
  min-height: 40px;
}
.news .saude a:hover,
.news .saude a:focus,
.news .saude a:active {
  text-decoration: none;
}
.news .saude a:hover .subtitle,
.news .saude a:focus .subtitle,
.news .saude a:active .subtitle {
  color: #2f2f2f;
}
.news .saude a:hover .title,
.news .saude a:focus .title,
.news .saude a:active .title {
  color: #46287d;
}
.news .nutricao header {
  color: #4caf50;
  border-bottom: 1px solid #dddddd;
}
.news .nutricao header h2 {
  margin-top: 0;
}
.news .nutricao header h4 {
  color: #555555;
}
.news .nutricao header .date {
  color: #555555;
}
.news .nutricao header a {
  color: #4caf50;
}
.news .nutricao header a:hover {
  color: #357a38;
}
.news .nutricao header .label {
  background: #4caf50;
}
.news .nutricao .thumbnail,
.news .nutricao .subtitle,
.news .nutricao .title {
  display: block;
}
.news .nutricao .subtitle {
  color: #555555;
  margin-bottom: 5px;
}
.news .nutricao .title {
  font-weight: bold;
  color: #4caf50;
  min-height: 40px;
}
.news .nutricao a:hover,
.news .nutricao a:focus,
.news .nutricao a:active {
  text-decoration: none;
}
.news .nutricao a:hover .subtitle,
.news .nutricao a:focus .subtitle,
.news .nutricao a:active .subtitle {
  color: #2f2f2f;
}
.news .nutricao a:hover .title,
.news .nutricao a:focus .title,
.news .nutricao a:active .title {
  color: #357a38;
}
.news .equipamentos header {
  color: #ff4081;
  border-bottom: 1px solid #dddddd;
}
.news .equipamentos header h2 {
  margin-top: 0;
}
.news .equipamentos header h4 {
  color: #555555;
}
.news .equipamentos header .date {
  color: #555555;
}
.news .equipamentos header a {
  color: #ff4081;
}
.news .equipamentos header a:hover {
  color: #f30053;
}
.news .equipamentos header .label {
  background: #ff4081;
}
.news .equipamentos .thumbnail,
.news .equipamentos .subtitle,
.news .equipamentos .title {
  display: block;
}
.news .equipamentos .subtitle {
  color: #555555;
  margin-bottom: 5px;
}
.news .equipamentos .title {
  font-weight: bold;
  color: #ff4081;
  min-height: 40px;
}
.news .equipamentos a:hover,
.news .equipamentos a:focus,
.news .equipamentos a:active {
  text-decoration: none;
}
.news .equipamentos a:hover .subtitle,
.news .equipamentos a:focus .subtitle,
.news .equipamentos a:active .subtitle {
  color: #2f2f2f;
}
.news .equipamentos a:hover .title,
.news .equipamentos a:focus .title,
.news .equipamentos a:active .title {
  color: #f30053;
}
/*
| -------------------------------------------------------------------------
| news index
| -------------------------------------------------------------------------
*/
.news.news-index .vem-pro-jogo {
  display: none;
}
/*
| -------------------------------------------------------------------------
| news single
| -------------------------------------------------------------------------
*/
.news.news-single header {
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.news.news-single .news-list header {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
.news.news-single .news-list header h4 {
  color: #333333;
}
.news.news-single .news-list .news-item {
  min-height: inherit;
}
/*
| -------------------------------------------------------------------------
| content
| -------------------------------------------------------------------------
*/
.application > .content {
  padding-top: 140px;
}
.application > .content.login {
  padding-top: 90px;
}
/*
| -------------------------------------------------------------------------
| social
| -------------------------------------------------------------------------
*/
.user header .avatar {
  width: 181px;
  height: 181px;
}
.user header .avatar img {
  width: 100%;
  z-index: 9;
}
.user footer {
  padding-top: 15px;
}
.user footer .name {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 10px;
}
.user footer .job-title {
  color: #333333;
  margin-bottom: 15px;
}
.user footer .btn {
  margin-top: 15px;
}
/*
| -------------------------------------------------------------------------
| friends list
| -------------------------------------------------------------------------
*/
.friends-list .friends-item.list-group-item {
  border: none;
}
.friends-list .friends-item:before,
.friends-list .friends-item:after {
  clear: both;
  display: table;
}
.friends-list .friends-item:after {
  content: '';
}
.friends-list .friends-item:hover {
  background: #f5f5f5;
}
.friends-list .friends-item .pull-left {
  max-height: 64px;
}
.friends-list .friends-item .pull-left .checkbox-inline {
  height: 64px;
  margin-top: -5px;
  vertical-align: middle;
}
.friends-list .friends-item .avatar {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 15px;
}
.friends-list .friends-item .avatar img {
  width: 100%;
}
.friends-list .friends-item .name {
  font-weight: bold;
}
.friends-list .list-group-item + .list-group-item {
  border-top: 1px solid #dddddd;
}
/*
| -------------------------------------------------------------------------
| faq
| -------------------------------------------------------------------------
*/
.faq .list-group-item:hover {
  background: #f5f5f5;
}
/*
| -------------------------------------------------------------------------
| about
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| profile about
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| timeline
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| profile timeline
| -------------------------------------------------------------------------
*/
.profile-timeline .post textarea {
  height: 100px;
}
.profile-timeline .post #pathPreview {
  display: none;
  width: 100%;
  margin-top: 15px;
  position: relative;
}
.profile-timeline .post #pathPreview .photoRemove {
  position: absolute;
  top: 5px;
  right: 10px;
}
.profile-timeline .post #pathPreview #pathFileName {
  margin: 0;
  height: 30px;
  line-height: 30px;
}
.profile-timeline .post #photoPreview {
  display: none;
  margin-top: 15px;
  position: relative;
}
.profile-timeline .post #photoPreview .photoRemove {
  position: absolute;
  top: 10px;
  right: 10px;
}
.profile-timeline .post #photoPreview .thumbnail {
  margin: 0;
}
.profile-timeline .post #photoPreview .thumbnail img {
  width: 100%;
}
.profile-timeline .post .file-inline {
  display: inline-block;
  margin-bottom: 0;
}
.profile-timeline .posts .post .panel-body {
  padding-bottom: 0;
}
.profile-timeline .posts .post .panel-body .thumbnail {
  margin: 15px 0 0 0;
}
.profile-timeline .posts .post .panel-body .thumbnail img {
  width: 100%;
}
.profile-timeline .posts .post .panel-body .user,
.profile-timeline .posts .post .panel-body .comment {
  margin-bottom: 15px;
}
.profile-timeline .posts .post .panel-body .avatar {
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-right: 15px;
}
.profile-timeline .posts .post .panel-body .avatar img {
  width: 100%;
}
.profile-timeline .posts .post .panel-body img {
  width: 100%;
}
.profile-timeline .posts .post .panel-body > footer {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin: 0 -15px;
  margin-top: 15px;
}
.profile-timeline .posts .post .panel-body > footer > header {
  padding: 5px 15px;
  background: #f4f4f4;
}
.profile-timeline .posts .post .panel-body > footer .comments .list-group {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 0;
}
.profile-timeline .posts .post .panel-body > footer .comments .list-group .list-group-item {
  background: #f4f4f4;
  border: none;
}
.profile-timeline .posts .post .panel-body > footer .comments .list-group .list-group-item + .list-group-item {
  border-top: 1px solid #dddddd;
}
.profile-timeline .posts .post .panel-body > footer .comments .list-group footer {
  margin-top: 5px;
}
.profile-timeline .posts .post .panel-body > footer > footer {
  padding: 5px;
  background: #f4f4f4;
}
.profile-timeline .posts .post .panel-body > footer > footer .form-group {
  margin-bottom: 0;
}
.profile-timeline .posts .post .panel-body > footer > footer .help-block.error-placement {
  margin-bottom: 0;
}
.profile-timeline .posts .edit-post,
.profile-timeline .posts .edit-comment {
  color: #777777;
}
/*
| -------------------------------------------------------------------------
| friends
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| friends
| -------------------------------------------------------------------------
*/
.friends .tab-content {
  margin-top: 25px;
}
.friends .friends-list .friends-item:before,
.friends .friends-list .friends-item:after {
  clear: both;
  display: table;
}
.friends .friends-list .friends-item:after {
  content: '';
}
.friends .friends-list .friends-item:hover {
  background: #f5f5f5;
}
.friends .friends-list .friends-item .pull-left {
  max-height: 64px;
}
.friends .friends-list .friends-item .avatar {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-right: 15px;
}
.friends .friends-list .friends-item .avatar img {
  width: 100%;
}
.friends .friends-list .friends-item .name {
  font-weight: bold;
}
.friends .friends-list .friends-item .email {
  color: #777777;
}
/*
| -------------------------------------------------------------------------
| projects
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| projects
| -------------------------------------------------------------------------
*/
.projects .tab-content {
  margin-top: 25px;
}
.projects .modal-body {
  max-height: 425px;
  overflow: auto;
}
.projects .modal-body h4 {
  margin-top: 5px;
  margin-bottom: 25px;
}
.projects .projects-list .projects-item:hover {
  background: #f5f5f5;
}
.projects .projects-item:before,
.projects .projects-item:after {
  clear: both;
  display: table;
}
.projects .projects-item:after {
  content: '';
}
.projects .projects-item .pull-right {
  margin-left: 15px;
}
.projects .projects-item .name {
  margin-bottom: 15px;
}
.projects .projects-item .typeOfActivity,
.projects .projects-item .local,
.projects .projects-item .date {
  margin-bottom: 5px;
}
.projects .projects-item .local {
  color: #777777;
}
.projects .projects-item .description {
  margin-top: 50px;
}
/*
| -------------------------------------------------------------------------
| notifications
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| friends
| -------------------------------------------------------------------------
*/
.notifications .notifications-list .notifications-item:before,
.notifications .notifications-list .notifications-item:after {
  clear: both;
  display: table;
}
.notifications .notifications-list .notifications-item:after {
  content: '';
}
.notifications .notifications-list .notifications-item:hover {
  background: #f5f5f5;
}
.notifications .notifications-list .notifications-item .date {
  color: #555555;
}
/*
| -------------------------------------------------------------------------
| messages
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| friends
| -------------------------------------------------------------------------
*/
.messages .panel-messages .panel-body {
  padding: 0;
}
.messages .panel-messages .col-xs-4 {
  padding-right: 0;
}
.messages .panel-messages .col-xs-8 {
  padding-left: 0;
}
.messages .messages-list {
  height: 550px;
  max-height: 550px;
  overflow: auto;
  border-right: 1px solid #dddddd;
}
.messages .messages-list .messages-item {
  cursor: pointer;
}
.messages .messages-list .messages-item.active {
  background: #eeeeee;
}
.messages .messages-list .messages-item.active .name {
  color: #026dc5;
}
.messages .messages-content {
  height: 400px;
  max-height: 400px;
  overflow: auto;
}
.messages .messages-footer {
  height: 150px;
  max-height: 150px;
  border-top: 1px solid #dddddd;
  padding: 15px;
}
.messages .messages-footer .error-placement {
  position: absolute;
  left: 15px;
}
.messages .messages-footer .reply {
  display: inline-block;
  position: absolute;
  right: 30px;
}
.messages .messages-footer textarea {
  width: 100%;
  height: 70px;
  resize: none;
  outline: none;
}
.messages .messages-item {
  border: none;
}
.messages .messages-item:before,
.messages .messages-item:after {
  clear: both;
  display: table;
}
.messages .messages-item:after {
  content: '';
}
.messages .messages-item .avatar {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.messages .messages-item .avatar img {
  width: 100%;
}
.messages .messages-item .name,
.messages .messages-item .excerpt {
  margin-bottom: 5px;
}
.messages .messages-item .name {
  font-weight: bold;
  line-height: 24px;
}
.messages .messages-item .excerpt {
  clear: both;
  color: #777777;
}
.messages .messages-item .date {
  display: block;
  color: #555555;
}
.messages .messages-item .message {
  margin-top: 25px;
}
.messages .messages-item + .messages-item {
  border-top: 1px solid #dddddd;
}
.messages .messages-content {
  padding: 15px;
}
.messages .messages-content .messages-item + .messages-item {
  padding-top: 25px;
  border-top: 1px solid #dddddd;
  margin-top: 25px;
}
/*
| -------------------------------------------------------------------------
| admin
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| admin
| -------------------------------------------------------------------------
*/
.admin .menu {
  margin-bottom: 25px;
}
.admin .submenu {
  margin-bottom: 25px;
}
.admin h3 {
  margin-top: 10px;
  margin-bottom: 25px;
}
.admin .modal-body {
  max-height: 425px;
  overflow: auto;
}
.admin .modal-body .list-group {
  margin-bottom: 0;
}
.admin th.actions {
  width: 15%;
  white-spacing: nowrap;
}
/*
| -------------------------------------------------------------------------
| admin > projects
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| notification
| -------------------------------------------------------------------------
*/
.notification-alert {
  background: #e9362c !important;
}
/*
| -------------------------------------------------------------------------
| login
| -------------------------------------------------------------------------
*/
a.login:hover {
  text-decoration: underline !important;
}
