<!-- sendMessageSingle -->
<div class="modal fade" id="sendMessageSingle" tabindex="-1" role="dialog" aria-labelledby="sendMessageSingleLabel" aria-hidden="true">
  <form action="/messages" method="post" id="sendMessageSingle">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="sendMessageSingleLabel">Enviar mensagem para …</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <select name="to" class="form-control">
              <option value=""></option>
            </select>
          </div>
          <div class="form-group">
            <textarea name="content" rows="10" class="form-control"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </div>
    </div>
  </form>
</div>
{{!-- /sendMessageSingle --}}

<section class="content messages">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        {{>user-sidebar}}
      </div>
      <div class="col-xs-9">
        <header>
          {{!-- <div class="pull-right"><a href="#" class="btn btn-primary" data-toggle="modal" data-target="#sendMessageSingle"><i class="fa fa-plus"></i> Enviar mensagem para …</a></div> --}}
          <h3>Mensagens</h3>
        </header>
        <hr>
        {{#if activeMessage}}
        <div class="panel panel-default panel-messages">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-4">
                {{!-- /messages-list --}}
                <div class="messages-list">
                  {{#each model}}
                  {{!-- messages-item --}}
                  <div class="list-group-item messages-item messagem-item-url" data-route="/messages/{{group}}">
                    <header>
                      <div class="pull-left"><a href="#" class="avatar"><img class="media-object" src="{{user.avatar}}"></a></div>
                      <div class="name">{{user.name}}</div>
                    </header>
                    <div class="excerpt">{{content}}</div>
                    <div class="date small">{{formatedCreated}}</div>
                  </div>
                  {{!-- messages-item --}}
                  {{/each}}
                </div>
                {{!-- /messages-list --}}
              </div>
              <div class="col-xs-8">
                {{!-- messages-content --}}
                <div class="messages-content">
                  {{#each activeMessage}}
                  {{!-- messages-item --}}
                  <div class="messages-item">
                    <header>
                      <div class="pull-left"><a href="#" class="avatar"><img class="media-object" src="{{owner.avatar}}"></a></div>
                      {{#if isMe}}
                      <div class="name"><a href="/timeline">{{owner.name}}</a></div>
                      {{else}}
                      <div class="name"><a href="/friend/{{owner.id}}/timeline">{{owner.name}}</a></div>
                    {{/if}}
                    </header>
                    <div class="date small">{{formatedCreated}}</div>
                    <div class="message">
                      {{content}}
                    </div>
                  </div>
                  {{!-- /messages-item --}}
                  {{/each}}
                </div>
                {{!-- /messages-content --}}
                <div class="messages-footer">
                  <form action="/messages" method="post" id="sendMessageReply">
                    <input type="hidden" name="to" value="{{sendTo}}">
                    <input type="hidden" name="route" value="{{route}}">
                    <div class="form-group">
                      <textarea name="content" id="content" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary reply">Enviar</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{else}}
          Voce não possui nenhuma mensagem
        {{/if}}
      </div>
    </div>
  </div>
</section>
<script>
$(function(){
  // form validation for message
  $application.form.validate($('form#sendMessageSingle'), {
    'to': {
      required: true
    },
    'content': {
      required: true
    }
  }, {
    'to': {
      required: 'Você precisa escolher para qual amigo deseja mandar uma mensagem'
    },
    'content': {
      required: 'Você não pode enviar uma mensagem em branco!'
    }
  });

  // form validation for message
  $application.form.validate($('form#sendMessageReply'), {
    'content': {
      required: true
    }
  }, {
    'content': {
      required: 'Você não pode enviar uma mensagem em branco!'
    }
  });

  $('.messagem-item-url').click(function(){
    var $elm = $(this);
    var $route = $elm.data('route');
    location.pathname = $route;
  });

  $('.messagem-item-url').filter(function(){
    var pathname = window.location.pathname.toLowerCase().split('/')[2].split('*').sort().join('*');
    var route = $(this).data('route').split('/')[2].split('*').sort().join('*');
    return route === pathname;
  }).addClass('active');

  $('.messages-content').scrollTop($('.messages-content')[0].scrollHeight);
});
</script>
