/*
| -------------------------------------------------------------------------
| fonts > univers ltstd
| -------------------------------------------------------------------------
*/

@import '../fonts/universltstd/universltstd';

/*
| -------------------------------------------------------------------------
| fonts > socicon
| -------------------------------------------------------------------------
*/

@import '../fonts/socicon/socicon';

/*
| -------------------------------------------------------------------------
| fonts > default
|
| http://type-scale.com/
| -------------------------------------------------------------------------
*/

html {
	font-size: 1em;
}

body {
  font-family: 'UniversLTStd55Roman', 'Helvetica Neue', Arial, 'Liberation Sans';
  font-weight: 400;
  line-height: 1.45;
}

h1,
h2,
h3,
h4 {
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: inherit;
	line-height: 1.2;
}

h1 {
  font-size: 3.998em;
}

h2 {
	font-size: 2.827em;
}

h3 {
	font-size: 1.999em;
}

h4 {
	font-size: 1.414em;
}

small {
	font-size: 0.707em;
}