/*
| -------------------------------------------------------------------------
| forms > mixins
| -------------------------------------------------------------------------
*/

// remove shadown {
.form-control {
	-webkit-box-shadow: none !important;
	box-shadow: none;
}

// remove blue blur
.form-control:focus {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

// set border color on focus
.form-control:focus {
	border-color: @brand-primary;
}

// set border color for form-control has info
.has-info {
	.form-control,
	.form-control:focus {
		border-color: @brand-info;
	}

	.error-placement {
		color: @brand-info;
	}
}

// set border color for form-control has warning
.has-warning {
	.form-control,
	.form-control:focus {
		border-color: @brand-warning;
	}

	.error-placement {
		color: @brand-warning;
	}
}

// set border color for form-control has error
.has-error {
	.form-control,
	.form-control:focus {
		border-color: @brand-danger;
	}

	.select2-container--default,
	.select2-selection--multiple,
	.select2-selection--single  {
		border: 1px solid @brand-danger;
	}

	.radio-inline,
	.checkbox-inline,
	.control-label,
	.error-placement {
		color: @brand-danger;
	}

	.help-block.small {
		color: #737373;
	}
}

/*
| -------------------------------------------------------------------------
| forms > file input
| -------------------------------------------------------------------------
*/

.input-group {
	.form-control[readonly] {
		background: none;

		&:focus {
			border-color: #cccccc;
		}
	}
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}