/*
| -------------------------------------------------------------------------
| buttons > mixins
| -------------------------------------------------------------------------
*/

.nav-pills {
	> li {
		&.active {
			a,
			a:focus,
			a:hover {
				background: @brand-primary;
			}
		}
	}
}