/*
| -------------------------------------------------------------------------
| panels
| -------------------------------------------------------------------------
*/

// Panels

.panel-info {
  border-color: @brand-primary;

  & > .panel-heading {
  	color: #ffffff;
    background-color: @brand-primary;
    border-color: darken(@brand-primary, 6%);

    + .panel-collapse > .panel-body {
      border-top-color: darken(@brand-primary, 6%);
    }
    .badge {
      color: @brand-primary;
      background-color: @brand-primary;
    }
  }
  & > .panel-footer {
    + .panel-collapse > .panel-body {
      border-bottom-color: darken(@brand-primary, 6%);
    }
  }
}
