/*
| -------------------------------------------------------------------------
| comments
| -------------------------------------------------------------------------
*/

// mobile first order sizes:
// min-width : 320px
// min-width : 480px
// min-width : 768px
// min-width : 992px
// min-width : 1200px

/*
| -------------------------------------------------------------------------
| variables
| -------------------------------------------------------------------------
*/

// typography

@font-family-sans-serif:         'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family-serif:              Georgia, 'Times New Roman', Times, serif;
@font-family-monospace:          Menlo, Monaco, Consolas, 'Courier New', monospace;
@font-family-base:               @font-family-sans-serif;

@font-size-base:                 14px;
@font-size-large:                ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:                ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:                   floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:                   floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:                   ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:                   ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:                   @font-size-base;
@font-size-h6:                   ceil((@font-size-base * 0.85)); // ~12px

@line-height-base:               1.428571429; // 20/14
@line-height-computed:           floor((@font-size-base * @line-height-base)); // ~20px

@headings-font-family:           inherit;
@headings-font-weight:           500;
@headings-line-height:           1.1;
@headings-color:                 inherit;

// colors
@gray-darker:                    lighten(#000, 13.5%); // #222
@gray-dark:                      lighten(#000, 20%);   // #333
@gray:                           lighten(#000, 33.5%); // #555
@gray-light:                     lighten(#000, 46.7%); // #777
@gray-lighter:                   lighten(#000, 93.5%); // #eee

@brand-primary:                  #026dc5;
@brand-success:                  #05ae0e;
@brand-info:                     #2c93ff;
@brand-warning:                  #ff9500;
@brand-danger:                   #e9362c;

@vem-pro-jogo:                   @brand-primary;
@treinos:                        #ff5722;
@nutricao:                       #4caf50;
@saude:                          #673ab7;
@equipamentos:                   #ff4081;

// links
@link-color: @brand-primary;
@link-hover-color: darken(@link-color, 15%);

// links usage
a {
	color: @link-color;
	text-decoration: none;

	&:hover {
		color: @link-hover-color;
		text-decoration: underline;
	}
}

// components
@padding-base-vertical:          6px;
@padding-base-horizontal:        12px;

@padding-large-vertical:         10px;
@padding-large-horizontal:       16px;

@padding-small-vertical:         5px;
@padding-small-horizontal:       10px;

@padding-xs-vertical:            1px;
@padding-xs-horizontal:          5px;

@line-height-large:              1.33;
@line-height-small:              1.5;

@border-radius-base:             4px;
@border-radius-large:            6px;
@border-radius-small:            3px;

@component-active-color:         #fff;
@component-active-bg:            @brand-primary;

@caret-width-base:               4px;
@caret-width-large:              5px;

/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/

@import 'variables/_buttons';