/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/

@import '_variables';

/*
| -------------------------------------------------------------------------
| friends
| -------------------------------------------------------------------------
*/

.friends {
	.tab-content {
		margin-top: 25px;
	}

	.friends-list {
		.friends-item {

			&:before,
			&:after {
				clear: both;
				display: table;
			}

			&:after {
				content: '';
			}

			&:hover {
				background: #f5f5f5;
			}

			.pull-left {
				max-height: 64px;
			}

			.avatar {
				display: inline-block;
				width: 64px;
				height: 64px;
				margin-right: 15px;

				img {
					width: 100%;
				}
			}

			.name {
				font-weight: bold;
			}

			.email {
				color: @gray-light;
			}
		}
	}
}