/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/

@import '_variables';

/*
| -------------------------------------------------------------------------
| timeline
| -------------------------------------------------------------------------
*/

.posts {
	.post {
		.panel-body {
			footer {
				.list-group {
					.list-group-item {
						border-bottom: 1px solid #dddddd !important;
					}
				}
			}
		}
	}
}

/*
| -------------------------------------------------------------------------
| navbar-header
| -------------------------------------------------------------------------
*/

.panel-body {
	&.panel-list {
		.list-group {
			.list-group-item {
				border: 1px solid #dddddd !important;
				border-left: none !important;
				border-right: none !important;

				&:first-child {
					border-top: none !important;
				}
			}
		}
	}
}


/*
| -------------------------------------------------------------------------
| .messages
| -------------------------------------------------------------------------
*/

.messages {
	.messages-list {
		border-bottom: 1px solid #dddddd;
	}
}
