/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/

@import '_variables';

/*
| -------------------------------------------------------------------------
| projects
| -------------------------------------------------------------------------
*/

.projects {
	.tab-content {
		margin-top: 25px;
	}

	.modal-body {
		max-height: 425px;
		overflow: auto;

		h4 {
			margin-top: 5px;
			margin-bottom: 25px;
		}
	}

	.projects-list {
		.projects-item {
			&:hover {
				background: #f5f5f5;
			}
		}
	}

	.projects-item {
		&:before,
		&:after {
			clear: both;
			display: table;
		}

		&:after {
			content: '';
		}

		.pull-right {
			margin-left: 15px;
		}

		h4 {
			// color: @brand-primary;
		}

		.name {
			margin-bottom: 15px;
		}

		.typeOfActivity,
		.local,
		.date {
			margin-bottom: 5px;
		}

		.local {
			color: @gray-light;
		}

		.description {
			margin-top: 50px;
		}
	}
}
