/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| comments
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| variables
| -------------------------------------------------------------------------
*/
a {
  color: #026dc5;
  text-decoration: none;
}
a:hover {
  color: #014379;
  text-decoration: underline;
}
/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| variables > buttons
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| non responsive treatment
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| non responsive bootstrap
| -------------------------------------------------------------------------
*/
/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */
/* Account for fixed navbar */
body {
  padding-top: 0;
  padding-bottom: 0;
}
body,
.navbar-fixed-top,
.navbar-fixed-bottom {
  min-width: 970px;
}
/* Don't let the lead text change font-size. */
.lead {
  font-size: 16px;
}
/* Finesse the page header spacing */
.page-header {
  margin-bottom: 30px;
}
.page-header .lead {
  margin-bottom: 10px;
}
/* Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */
/* Reset the container */
.container {
  width: 970px;
  max-width: none !important;
}
.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}
/* Always float the navbar header */
.navbar-header {
  float: left;
}
/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  visibility: visible !important;
}
.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}
.navbar-brand {
  margin-left: -15px;
}
/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px;
}
/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}
/* Undo form expansion */
.navbar-form {
  float: left;
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* Copy-pasted from forms.less since we mixin the .form-inline styles. */
.navbar-form .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.navbar-form .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.navbar-form .form-control-static {
  display: inline-block;
}
.navbar-form .input-group {
  display: inline-table;
  vertical-align: middle;
}
.navbar-form .input-group .input-group-addon,
.navbar-form .input-group .input-group-btn,
.navbar-form .input-group .form-control {
  width: auto;
}
.navbar-form .input-group > .form-control {
  width: 100%;
}
.navbar-form .control-label {
  margin-bottom: 0;
  vertical-align: middle;
}
.navbar-form .radio,
.navbar-form .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.navbar-form .radio label,
.navbar-form .checkbox label {
  padding-left: 0;
}
.navbar-form .radio input[type="radio"],
.navbar-form .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}
.navbar-form .has-feedback .form-control-feedback {
  top: 0;
}
/*
| -------------------------------------------------------------------------
| footer
| -------------------------------------------------------------------------
*/
.footer {
  margin-top: 25px;
  border-top: 1px solid #dddddd;
  padding: 15px 0;
  color: #737373;
}
/*
| -------------------------------------------------------------------------
| navbar
| -------------------------------------------------------------------------
*/
.navbar-brand {
  background: url('../image/tim-vem-pro-jogo.png');
  width: 275px;
  height: 31px;
  display: inline-block;
  margin: 9px auto;
}
.nav .user {
  padding: 0 auto;
}
.nav .user > a {
  padding: 0 15px;
  line-height: 49px;
}
.nav .user > a .avatar {
  display: inline-block;
  width: 35px;
  margin-right: 15px;
  border: 1px solid #ffffff;
}
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: #026dc5;
}
.navbar > .container .navbar-brand {
  margin-left: 0 !important;
}
.navbar-application {
  z-index: 99;
  background-color: #026dc5;
  border-color: #025ca7;
  color: #ffffff;
}
.navbar-application .navbar-nav > li,
.navbar-application .navbar-nav > li.open {
  background: #026dc5;
}
.navbar-application .navbar-nav > li > a,
.navbar-application .navbar-nav > li.open > a {
  color: #ffffff;
  background: #026dc5;
}
.navbar-application .navbar-nav > li > a.active,
.navbar-application .navbar-nav > li.open > a.active,
.navbar-application .navbar-nav > li > a.focus,
.navbar-application .navbar-nav > li.open > a.focus,
.navbar-application .navbar-nav > li > a:hover,
.navbar-application .navbar-nav > li.open > a:hover {
  background: #026dc5;
}
.navbar-application .navbar-nav li a {
  color: #ffffff;
}
.navbar-application .navbar-nav li a:hover {
  color: #ffffff;
}
.navbar-application .dropdown > a {
  color: #ffffff;
}
.navbar-application .dropdown .dropdown-menu {
  background-color: #ffffff;
}
.navbar-application .dropdown .dropdown-menu li.active a,
.navbar-application .dropdown .dropdown-menu li:hover a,
.navbar-application .dropdown .dropdown-menu li:focus a {
  color: #ffffff;
  background: #026dc5 !important;
}
.navbar-application .dropdown .dropdown-menu li.active a.active,
.navbar-application .dropdown .dropdown-menu li:hover a.active,
.navbar-application .dropdown .dropdown-menu li:focus a.active,
.navbar-application .dropdown .dropdown-menu li.active a:hover,
.navbar-application .dropdown .dropdown-menu li:hover a:hover,
.navbar-application .dropdown .dropdown-menu li:focus a:hover {
  color: #ffffff;
  background: #026dc5;
}
.navbar-application .dropdown .dropdown-menu li a {
  color: #333333;
}
.navbar-application .dropdown .dropdown-menu li.divider {
  background-color: #e5e5e5;
}
.navbar-news {
  z-index: 9;
  background-color: #eeeeee;
  margin-top: 50px;
  height: 50px;
  padding: 5px 0;
}
/*
| -------------------------------------------------------------------------
| panel-body > panel-list
| -------------------------------------------------------------------------
*/
.panel-body.panel-list {
  padding: 0;
}
.panel-body.panel-list .list-group {
  margin-bottom: 0;
}
.panel-body.panel-list .list-group .list-group-item {
  border: none;
}
.panel-body.panel-list .list-group .list-group-item + .list-group-item {
  border-top: 1px solid #dddddd;
}
/*
| -------------------------------------------------------------------------
| news
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| navbar
| -------------------------------------------------------------------------
*/
.slide {
  height: 300px;
  cursor: pointer;
}
.slide ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.slide .caption {
  position: absolute;
  z-index: 9;
  color: #ffffff;
  font-size: 40px;
  height: 40px;
  line-height: 40px;
  top: 20px;
  left: 20px;
}
/*
| -------------------------------------------------------------------------
| navbar
| -------------------------------------------------------------------------
*/
.navbar-news .nav-pills .active .vem-pro-jogo {
  color: #ffffff;
  background: #026dc5;
}
.navbar-news .nav-pills .active .treinos {
  color: #ffffff;
  background: #ff5722;
}
.navbar-news .nav-pills .active .nutricao {
  color: #ffffff;
  background: #4caf50;
}
.navbar-news .nav-pills .active .saude {
  color: #ffffff;
  background: #673ab7;
}
.navbar-news .nav-pills .active .equipamentos {
  color: #ffffff;
  background: #ff4081;
}
.navbar-news .nav-pills .vem-pro-jogo {
  font-weight: bold;
  color: #026dc5;
}
.navbar-news .nav-pills .vem-pro-jogo:hover {
  color: #ffffff;
  background: #026dc5;
}
.navbar-news .nav-pills .treinos {
  font-weight: bold;
  color: #ff5722;
}
.navbar-news .nav-pills .treinos:hover {
  color: #ffffff;
  background: #ff5722;
}
.navbar-news .nav-pills .nutricao {
  font-weight: bold;
  color: #4caf50;
}
.navbar-news .nav-pills .nutricao:hover {
  color: #ffffff;
  background: #4caf50;
}
.navbar-news .nav-pills .saude {
  font-weight: bold;
  color: #673ab7;
}
.navbar-news .nav-pills .saude:hover {
  color: #ffffff;
  background: #673ab7;
}
.navbar-news .nav-pills .equipamentos {
  font-weight: bold;
  color: #ff4081;
}
.navbar-news .nav-pills .equipamentos:hover {
  color: #ffffff;
  background: #ff4081;
}
.navbar-news .navbar-form {
  margin-top: 3px;
  padding-left: 0;
  padding-right: 0;
}
/*
| -------------------------------------------------------------------------
| news header & list
| -------------------------------------------------------------------------
*/
.news .news-list .news-item {
  margin-top: 25px;
  min-height: 97px;
}
.news .vem-pro-jogo header {
  color: #026dc5;
  border-bottom: 1px solid #dddddd;
}
.news .vem-pro-jogo header h2 {
  margin-top: 0;
}
.news .vem-pro-jogo header h4 {
  color: #555555;
}
.news .vem-pro-jogo header .date {
  color: #555555;
}
.news .vem-pro-jogo header a {
  color: #026dc5;
}
.news .vem-pro-jogo header a:hover {
  color: #014379;
}
.news .vem-pro-jogo header .label {
  background: #026dc5;
}
.news .vem-pro-jogo .thumbnail,
.news .vem-pro-jogo .subtitle,
.news .vem-pro-jogo .title {
  display: block;
}
.news .vem-pro-jogo .subtitle {
  color: #555555;
  margin-bottom: 5px;
}
.news .vem-pro-jogo .title {
  font-weight: bold;
  color: #026dc5;
  min-height: 40px;
}
.news .vem-pro-jogo a:hover,
.news .vem-pro-jogo a:focus,
.news .vem-pro-jogo a:active {
  text-decoration: none;
}
.news .vem-pro-jogo a:hover .subtitle,
.news .vem-pro-jogo a:focus .subtitle,
.news .vem-pro-jogo a:active .subtitle {
  color: #2f2f2f;
}
.news .vem-pro-jogo a:hover .title,
.news .vem-pro-jogo a:focus .title,
.news .vem-pro-jogo a:active .title {
  color: #014379;
}
.news .treinos header {
  color: #ff5722;
  border-bottom: 1px solid #dddddd;
}
.news .treinos header h2 {
  margin-top: 0;
}
.news .treinos header h4 {
  color: #555555;
}
.news .treinos header .date {
  color: #555555;
}
.news .treinos header a {
  color: #ff5722;
}
.news .treinos header a:hover {
  color: #d43300;
}
.news .treinos header .label {
  background: #ff5722;
}
.news .treinos .thumbnail,
.news .treinos .subtitle,
.news .treinos .title {
  display: block;
}
.news .treinos .subtitle {
  color: #555555;
  margin-bottom: 5px;
}
.news .treinos .title {
  font-weight: bold;
  color: #ff5722;
  min-height: 40px;
}
.news .treinos a:hover,
.news .treinos a:focus,
.news .treinos a:active {
  text-decoration: none;
}
.news .treinos a:hover .subtitle,
.news .treinos a:focus .subtitle,
.news .treinos a:active .subtitle {
  color: #2f2f2f;
}
.news .treinos a:hover .title,
.news .treinos a:focus .title,
.news .treinos a:active .title {
  color: #d43300;
}
.news .saude header {
  color: #673ab7;
  border-bottom: 1px solid #dddddd;
}
.news .saude header h2 {
  margin-top: 0;
}
.news .saude header h4 {
  color: #555555;
}
.news .saude header .date {
  color: #555555;
}
.news .saude header a {
  color: #673ab7;
}
.news .saude header a:hover {
  color: #46287d;
}
.news .saude header .label {
  background: #673ab7;
}
.news .saude .thumbnail,
.news .saude .subtitle,
.news .saude .title {
  display: block;
}
.news .saude .subtitle {
  color: #555555;
  margin-bottom: 5px;
}
.news .saude .title {
  font-weight: bold;
  color: #673ab7;
  min-height: 40px;
}
.news .saude a:hover,
.news .saude a:focus,
.news .saude a:active {
  text-decoration: none;
}
.news .saude a:hover .subtitle,
.news .saude a:focus .subtitle,
.news .saude a:active .subtitle {
  color: #2f2f2f;
}
.news .saude a:hover .title,
.news .saude a:focus .title,
.news .saude a:active .title {
  color: #46287d;
}
.news .nutricao header {
  color: #4caf50;
  border-bottom: 1px solid #dddddd;
}
.news .nutricao header h2 {
  margin-top: 0;
}
.news .nutricao header h4 {
  color: #555555;
}
.news .nutricao header .date {
  color: #555555;
}
.news .nutricao header a {
  color: #4caf50;
}
.news .nutricao header a:hover {
  color: #357a38;
}
.news .nutricao header .label {
  background: #4caf50;
}
.news .nutricao .thumbnail,
.news .nutricao .subtitle,
.news .nutricao .title {
  display: block;
}
.news .nutricao .subtitle {
  color: #555555;
  margin-bottom: 5px;
}
.news .nutricao .title {
  font-weight: bold;
  color: #4caf50;
  min-height: 40px;
}
.news .nutricao a:hover,
.news .nutricao a:focus,
.news .nutricao a:active {
  text-decoration: none;
}
.news .nutricao a:hover .subtitle,
.news .nutricao a:focus .subtitle,
.news .nutricao a:active .subtitle {
  color: #2f2f2f;
}
.news .nutricao a:hover .title,
.news .nutricao a:focus .title,
.news .nutricao a:active .title {
  color: #357a38;
}
.news .equipamentos header {
  color: #ff4081;
  border-bottom: 1px solid #dddddd;
}
.news .equipamentos header h2 {
  margin-top: 0;
}
.news .equipamentos header h4 {
  color: #555555;
}
.news .equipamentos header .date {
  color: #555555;
}
.news .equipamentos header a {
  color: #ff4081;
}
.news .equipamentos header a:hover {
  color: #f30053;
}
.news .equipamentos header .label {
  background: #ff4081;
}
.news .equipamentos .thumbnail,
.news .equipamentos .subtitle,
.news .equipamentos .title {
  display: block;
}
.news .equipamentos .subtitle {
  color: #555555;
  margin-bottom: 5px;
}
.news .equipamentos .title {
  font-weight: bold;
  color: #ff4081;
  min-height: 40px;
}
.news .equipamentos a:hover,
.news .equipamentos a:focus,
.news .equipamentos a:active {
  text-decoration: none;
}
.news .equipamentos a:hover .subtitle,
.news .equipamentos a:focus .subtitle,
.news .equipamentos a:active .subtitle {
  color: #2f2f2f;
}
.news .equipamentos a:hover .title,
.news .equipamentos a:focus .title,
.news .equipamentos a:active .title {
  color: #f30053;
}
/*
| -------------------------------------------------------------------------
| news index
| -------------------------------------------------------------------------
*/
.news.news-index .vem-pro-jogo {
  display: none;
}
/*
| -------------------------------------------------------------------------
| news single
| -------------------------------------------------------------------------
*/
.news.news-single header {
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.news.news-single .news-list header {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
.news.news-single .news-list header h4 {
  color: #333333;
}
.news.news-single .news-list .news-item {
  min-height: inherit;
}
/*
| -------------------------------------------------------------------------
| content
| -------------------------------------------------------------------------
*/
.application > .content {
  padding-top: 140px;
}
.application > .content.login {
  padding-top: 90px;
}
/*
| -------------------------------------------------------------------------
| social
| -------------------------------------------------------------------------
*/
.user header .avatar {
  width: 181px;
  height: 181px;
}
.user header .avatar img {
  width: 100%;
  z-index: 9;
}
.user footer {
  padding-top: 15px;
}
.user footer .name {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 10px;
}
.user footer .job-title {
  color: #333333;
  margin-bottom: 15px;
}
.user footer .btn {
  margin-top: 15px;
}
/*
| -------------------------------------------------------------------------
| friends list
| -------------------------------------------------------------------------
*/
.friends-list .friends-item.list-group-item {
  border: none;
}
.friends-list .friends-item:before,
.friends-list .friends-item:after {
  clear: both;
  display: table;
}
.friends-list .friends-item:after {
  content: '';
}
.friends-list .friends-item:hover {
  background: #f5f5f5;
}
.friends-list .friends-item .pull-left {
  max-height: 64px;
}
.friends-list .friends-item .pull-left .checkbox-inline {
  height: 64px;
  margin-top: -5px;
  vertical-align: middle;
}
.friends-list .friends-item .avatar {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 15px;
}
.friends-list .friends-item .avatar img {
  width: 100%;
}
.friends-list .friends-item .name {
  font-weight: bold;
}
.friends-list .list-group-item + .list-group-item {
  border-top: 1px solid #dddddd;
}
/*
| -------------------------------------------------------------------------
| faq
| -------------------------------------------------------------------------
*/
.faq .list-group-item:hover {
  background: #f5f5f5;
}
/*
| -------------------------------------------------------------------------
| about
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| profile about
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| timeline
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| profile timeline
| -------------------------------------------------------------------------
*/
.profile-timeline .post textarea {
  height: 100px;
}
.profile-timeline .post #pathPreview {
  display: none;
  width: 100%;
  margin-top: 15px;
  position: relative;
}
.profile-timeline .post #pathPreview .photoRemove {
  position: absolute;
  top: 5px;
  right: 10px;
}
.profile-timeline .post #pathPreview #pathFileName {
  margin: 0;
  height: 30px;
  line-height: 30px;
}
.profile-timeline .post #photoPreview {
  display: none;
  margin-top: 15px;
  position: relative;
}
.profile-timeline .post #photoPreview .photoRemove {
  position: absolute;
  top: 10px;
  right: 10px;
}
.profile-timeline .post #photoPreview .thumbnail {
  margin: 0;
}
.profile-timeline .post #photoPreview .thumbnail img {
  width: 100%;
}
.profile-timeline .post .file-inline {
  display: inline-block;
  margin-bottom: 0;
}
.profile-timeline .posts .post .panel-body {
  padding-bottom: 0;
}
.profile-timeline .posts .post .panel-body .thumbnail {
  margin: 15px 0 0 0;
}
.profile-timeline .posts .post .panel-body .thumbnail img {
  width: 100%;
}
.profile-timeline .posts .post .panel-body .user,
.profile-timeline .posts .post .panel-body .comment {
  margin-bottom: 15px;
}
.profile-timeline .posts .post .panel-body .avatar {
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-right: 15px;
}
.profile-timeline .posts .post .panel-body .avatar img {
  width: 100%;
}
.profile-timeline .posts .post .panel-body img {
  width: 100%;
}
.profile-timeline .posts .post .panel-body > footer {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin: 0 -15px;
  margin-top: 15px;
}
.profile-timeline .posts .post .panel-body > footer > header {
  padding: 5px 15px;
  background: #f4f4f4;
}
.profile-timeline .posts .post .panel-body > footer .comments .list-group {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 0;
}
.profile-timeline .posts .post .panel-body > footer .comments .list-group .list-group-item {
  background: #f4f4f4;
  border: none;
}
.profile-timeline .posts .post .panel-body > footer .comments .list-group .list-group-item + .list-group-item {
  border-top: 1px solid #dddddd;
}
.profile-timeline .posts .post .panel-body > footer .comments .list-group footer {
  margin-top: 5px;
}
.profile-timeline .posts .post .panel-body > footer > footer {
  padding: 5px;
  background: #f4f4f4;
}
.profile-timeline .posts .post .panel-body > footer > footer .form-group {
  margin-bottom: 0;
}
.profile-timeline .posts .post .panel-body > footer > footer .help-block.error-placement {
  margin-bottom: 0;
}
.profile-timeline .posts .edit-post,
.profile-timeline .posts .edit-comment {
  color: #777777;
}
/*
| -------------------------------------------------------------------------
| friends
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| friends
| -------------------------------------------------------------------------
*/
.friends .tab-content {
  margin-top: 25px;
}
.friends .friends-list .friends-item:before,
.friends .friends-list .friends-item:after {
  clear: both;
  display: table;
}
.friends .friends-list .friends-item:after {
  content: '';
}
.friends .friends-list .friends-item:hover {
  background: #f5f5f5;
}
.friends .friends-list .friends-item .pull-left {
  max-height: 64px;
}
.friends .friends-list .friends-item .avatar {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-right: 15px;
}
.friends .friends-list .friends-item .avatar img {
  width: 100%;
}
.friends .friends-list .friends-item .name {
  font-weight: bold;
}
.friends .friends-list .friends-item .email {
  color: #777777;
}
/*
| -------------------------------------------------------------------------
| projects
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| projects
| -------------------------------------------------------------------------
*/
.projects .tab-content {
  margin-top: 25px;
}
.projects .modal-body {
  max-height: 425px;
  overflow: auto;
}
.projects .modal-body h4 {
  margin-top: 5px;
  margin-bottom: 25px;
}
.projects .projects-list .projects-item:hover {
  background: #f5f5f5;
}
.projects .projects-item:before,
.projects .projects-item:after {
  clear: both;
  display: table;
}
.projects .projects-item:after {
  content: '';
}
.projects .projects-item .pull-right {
  margin-left: 15px;
}
.projects .projects-item .name {
  margin-bottom: 15px;
}
.projects .projects-item .typeOfActivity,
.projects .projects-item .local,
.projects .projects-item .date {
  margin-bottom: 5px;
}
.projects .projects-item .local {
  color: #777777;
}
.projects .projects-item .description {
  margin-top: 50px;
}
/*
| -------------------------------------------------------------------------
| notifications
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| friends
| -------------------------------------------------------------------------
*/
.notifications .notifications-list .notifications-item:before,
.notifications .notifications-list .notifications-item:after {
  clear: both;
  display: table;
}
.notifications .notifications-list .notifications-item:after {
  content: '';
}
.notifications .notifications-list .notifications-item:hover {
  background: #f5f5f5;
}
.notifications .notifications-list .notifications-item .date {
  color: #555555;
}
/*
| -------------------------------------------------------------------------
| messages
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| friends
| -------------------------------------------------------------------------
*/
.messages .panel-messages .panel-body {
  padding: 0;
}
.messages .panel-messages .col-xs-4 {
  padding-right: 0;
}
.messages .panel-messages .col-xs-8 {
  padding-left: 0;
}
.messages .messages-list {
  height: 550px;
  max-height: 550px;
  overflow: auto;
  border-right: 1px solid #dddddd;
}
.messages .messages-list .messages-item {
  cursor: pointer;
}
.messages .messages-list .messages-item.active {
  background: #eeeeee;
}
.messages .messages-list .messages-item.active .name {
  color: #026dc5;
}
.messages .messages-content {
  height: 400px;
  max-height: 400px;
  overflow: auto;
}
.messages .messages-footer {
  height: 150px;
  max-height: 150px;
  border-top: 1px solid #dddddd;
  padding: 15px;
}
.messages .messages-footer .error-placement {
  position: absolute;
  left: 15px;
}
.messages .messages-footer .reply {
  display: inline-block;
  position: absolute;
  right: 30px;
}
.messages .messages-footer textarea {
  width: 100%;
  height: 70px;
  resize: none;
  outline: none;
}
.messages .messages-item {
  border: none;
}
.messages .messages-item:before,
.messages .messages-item:after {
  clear: both;
  display: table;
}
.messages .messages-item:after {
  content: '';
}
.messages .messages-item .avatar {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.messages .messages-item .avatar img {
  width: 100%;
}
.messages .messages-item .name,
.messages .messages-item .excerpt {
  margin-bottom: 5px;
}
.messages .messages-item .name {
  font-weight: bold;
  line-height: 24px;
}
.messages .messages-item .excerpt {
  clear: both;
  color: #777777;
}
.messages .messages-item .date {
  display: block;
  color: #555555;
}
.messages .messages-item .message {
  margin-top: 25px;
}
.messages .messages-item + .messages-item {
  border-top: 1px solid #dddddd;
}
.messages .messages-content {
  padding: 15px;
}
.messages .messages-content .messages-item + .messages-item {
  padding-top: 25px;
  border-top: 1px solid #dddddd;
  margin-top: 25px;
}
/*
| -------------------------------------------------------------------------
| admin
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| import
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| admin
| -------------------------------------------------------------------------
*/
.admin .menu {
  margin-bottom: 25px;
}
.admin .submenu {
  margin-bottom: 25px;
}
.admin h3 {
  margin-top: 10px;
  margin-bottom: 25px;
}
.admin .modal-body {
  max-height: 425px;
  overflow: auto;
}
.admin .modal-body .list-group {
  margin-bottom: 0;
}
.admin th.actions {
  width: 15%;
  white-spacing: nowrap;
}
/*
| -------------------------------------------------------------------------
| admin > projects
| -------------------------------------------------------------------------
*/
/*
| -------------------------------------------------------------------------
| notification
| -------------------------------------------------------------------------
*/
.notification-alert {
  background: #e9362c !important;
}
/*
| -------------------------------------------------------------------------
| login
| -------------------------------------------------------------------------
*/
a.login:hover {
  text-decoration: underline !important;
}
