<section class="content admin">
  <div class="container">
    <div class="row menu">
      <div class="col-xs-12">
        {{>admin-menu}}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-right"><a href="/admin/users">Voltar para a lista de usuários</a></div>
        <h3>Visualizar usuário</h3>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body panel-list">
            <div class="list-group">
              <div class="list-group-item">
                <strong>Nome Completo</strong><br>
                {{model.name}}
              </div>
              <div class="list-group-item">
                <strong>Data de nascimento</strong><br>
                {{model.birthFormated}}
              </div>
              <div class="list-group-item">
                <strong>Matrícula</strong><br>
                {{model.registrationNumber}}
              </div>
              <div class="list-group-item">
                <strong>Área do People Value</strong><br>
                {{model.area}}
              </div>
              <div class="list-group-item">
                <strong>Subarea do People Value</strong><br>
                {{model.subarea}}
              </div>
              <div class="list-group-item">
                <strong>e-mail</strong><br>
                {{model.email}}
              </div>
              <div class="list-group-item">
                <strong>Telefone 1:</strong><br>
                {{model.phone}}
              </div>
              <div class="list-group-item">
                <strong>Telefone 2:</strong><br>
                {{model.celphone}}
              </div>
              <div class="list-group-item">
                <strong>Número de cartão do plano de saúde:</strong><br>
                {{model.healthInsuranceCard}}
              </div>
              <div class="list-group-item">
                <strong>Modalidade do plano de saúde:</strong><br>
                {{model.healthPlanMode}}
              </div>
              <div class="list-group-item">
                <strong>Nome da operadora do plano de saúde:</strong><br>
                {{model.healthPlanOperator}}
              </div>
              <div class="list-group-item">
                <strong>Peso:</strong><br>
                {{model.weight}}
              </div>
              <div class="list-group-item">
                <strong>Altura:</strong><br>
                {{model.height}}
              </div>
              <div class="list-group-item">
                <strong>Tipo sanguíneo:</strong><br>
                {{model.bloodType}}
              </div>
              <div class="list-group-item">
                <strong>Contato para emergência:</strong><br>
                {{model.emergencyContact}}
              </div>
              <div class="list-group-item">
                <strong>Informações médicas:</strong><br>
                {{model.medicalInformation}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
