<section class="content projects">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        {{>user-sidebar}}
      </div>
      <div class="col-xs-9">
        <header>
          <h3>Projetos</h3>
        </header>
        <hr>
        <!-- Nav tabs -->
        {{#unless hide}}
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#projectsTab" aria-controls="projectsTab" role="tab" data-toggle="tab">Projetos</a></li>
          <li role="presentation"><a href="#myProjectsTab" aria-controls="myProjectsTab" role="tab" data-toggle="tab">Meus projetos</a></li>
          <li role="presentation"><a href="#requisicoesTab" aria-controls="requisicoesTab" role="tab" data-toggle="tab">Convites de projetos</a></li>
          {{#unless hideInscription}}<li role="presentation"><a href="#createProjectTab" aria-controls="createProjectTab" role="tab" data-toggle="tab">Inscrever projetos</a></li>{{/unless}}
        </ul>
        {{/unless}}

        <!-- Tab panes -->
        <div class="tab-content">

          
          <div role="tabpanel" class="tab-pane active" id="projectsTab">
            {{#unless hide}}
            {{!-- project-list --}}
            <div class="panel-list projects-list">
              {{#each model}}
              {{!-- project-item --}}
              <div class="list-group-item projects-item">
                <div class="pull-right">
                  <a href="/projects/{{id}}" class="btn btn-primary"><i class="fa fa-file-text"></i> Ver o projeto</a>
                </div>
                <div class="name"><h4>{{name}}</h4></div>
                <div class="date"><i class="fa fa-soccer-ball-o"></i> Projeto de <a href="/friend/{{owner.id}}/about" target="_blank">{{owner.name}}</a> e <a href="/friend/{{secondaryTenderer.id}}/about" target="_blank">{{secondaryTenderer.name}}</a></div>
                <div class="local"><i class="fa fa-map-marker"></i> {{city}} - {{state}}</div>
                <div class="date"><i class="fa fa-calendar-o"></i> {{startDateFormated}} a {{endDateFormated}}</div>
                <div class="participants">
                  <i class="fa fa-users"></i> {{participants.length}} de {{maxParticipants}} <div class="label label-{{statusClass}}">Projeto {{status}}</div>
                </div>
              </div>
              {{!-- /project-item --}}
              {{else}}
              <p class="help-block small">Até o momento nenhum projeto foi inscrito</p>
              {{/each}}
            </div>
            {{!-- /project-list --}}
          </div>
          {{/unless}}


          <div role="tabpanel" class="tab-pane" id="myProjectsTab">

            {{!-- project-list --}}
            <div class="panel-list projects-list">
              {{#each myProjects}}
              {{!-- project-item --}}
              <div class="list-group-item projects-item">

                {{#if flashInfo}}
                <div class="alert alert-info" role="alert">
                  {{{flashInfo}}}
                </div>
                {{/if}}

                {{#if flashDangerRecusado}}
                  <div class="alert alert-danger" role="alert">
                    <strong>Projeto recusado!</strong> Infelizmente seu projeto não estáva apto a participar do programa #VEMPROJOGO.
                  </div>
                {{/if}}

                {{#if flashSuccess}}
                  <div class="alert alert-success" role="alert">
                    <strong>Projeto concluído!</strong>
                  </div>
                {{/if}}

                {{#if flashDangerDescontinuado}}
                  <div class="alert alert-danger" role="alert">
                    <strong>Projeto descontinuado!</strong>
                  </div>
                {{/if}}

                <div class="pull-right">
                  <a href="/projects/{{id}}" class="btn btn-primary"><i class="fa fa-file-text"></i> Ver o projeto</a>
                </div>
                <div class="name"><h4>{{name}}</h4></div>
                <div class="date"><i class="fa fa-soccer-ball-o"></i> Projeto de <a href="/friend/{{owner.id}}/about" target="_blank">{{owner.name}}</a> e <a href="/friend/{{secondaryTenderer.id}}/about" target="_blank">{{secondaryTenderer.name}}</a></div>
                <div class="local"><i class="fa fa-map-marker"></i> {{city}} - {{state}}</div>
                <div class="date"><i class="fa fa-calendar-o"></i> {{startDateFormated}} a {{endDateFormated}}</div>
                <div class="participants"><i class="fa fa-users"></i> {{participants.length}} de {{maxParticipants}} <div class="label label-{{statusClass}}">Projeto {{status}}</div></div>
              </div>
              {{!-- /project-item --}}
              {{else}}
              <p class="help-block small">Você ainda não está inscrito em um projeto.</p>
              {{/each}}


            </div>
            {{!-- /project-list --}}

          </div>
          {{#unless hide}}
          <div role="tabpanel" class="tab-pane" id="requisicoesTab">

            {{!-- project-list --}}
            <div class="panel-list projects-list">
              {{#each requests}}
              {{!-- project-item --}}
              <div class="list-group-item projects-item">

                {{#if flashInfo}}
                <div class="alert alert-info" role="alert">
                  {{{flashInfo}}}
                </div>
                {{/if}}

                {{#if flashDanger}}
                  <div class="alert alert-danger" role="alert">
                    <strong>Projeto recusado!</strong> Infelizmente seu projeto não estáva apto para participar do programa #VEMPROJOGO.
                  </div>
                {{/if}}

                {{#if flashSuccess}}
                  <div class="alert alert-success" role="alert">
                    <strong>Projeto concluído!</strong> Seu projeto foi concluído com sucesso.
                  </div>
                {{/if}}

                {{#if flashDanger}}
                  <div class="alert alert-danger" role="alert">
                    <strong>Projeto descontinuado!</strong> Seu projeto foi descontinuado.
                  </div>
                {{/if}}

                <div class="pull-right">
                  <a href="/projects/{{id}}" class="btn btn-primary"><i class="fa fa-file-text"></i> Ver o projeto</a>
                </div>
                <div class="name"><h4>{{name}}</h4></div>
                <div class="date"><i class="fa fa-soccer-ball-o"></i> Projeto de <a href="/friend/{{owner.id}}/about" target="_blank">{{owner.name}}</a> e <a href="/friend/{{secondaryTenderer.id}}/about" target="_blank">{{secondaryTenderer.name}}</a></div>
                <div class="local"><i class="fa fa-map-marker"></i> {{city}} - {{state}}</div>
                <div class="date"><i class="fa fa-calendar-o"></i> {{startDateFormated}} a {{endDateFormated}}</div>
                <div class="participants"><i class="fa fa-users"></i> {{participants.length}} de {{maxParticipants}} <div class="label label-{{statusClass}}">Projeto {{status}}</div></div>
              </div>
              {{!-- /project-item --}}
              {{else}}
              <p class="help-block small">Você ainda não recebeu convites para participar de um projeto.</p>
              {{/each}}
            {{/unless}}
            </div>
            {{!-- /project-list --}}

          </div>

          {{#unless hide}}
          <div role="tabpanel" class="tab-pane" id="createProjectTab">
            <form action="" method="post" id="createProject" enctype="multipart/form-data">

              <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" name="name">
              </div>

              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="city">Em qual cidade seu projeto vai acontecer?</label>
                    <select name="city" id="city" class="form-control"></select>
                  </div>
                </div>

                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="state">Em qual estado seu projeto vai acontecer?</label>
                    <select name="state" id="state" class="form-control"></select>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="lineOfAction">Qual é a linha de atuação do seu projeto?</label>
                <div>
                  <label class="radio-inline">
                    <input type="radio" name="lineOfAction" value="Atividade física"> Atividade física
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="lineOfAction" value="Atividade esportiva"> Atividade esportiva
                  </label>
                </div>
              </div>

              <div>
                <label>Qual o período de duração do seu projeto?</label>
                <div class="row">
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label for="endDate">Início</label>
                      <input type="text" name="startDate" class="form-control">
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label for="endDate">Fim</label>
                      <input type="text" name="endDate" class="form-control">
                    </div>
                  </div>
                </div>
                <p class="help-block small">Lembrando que os projetos devem ter no mínimo 3 e no máximo 6 meses de duração.</p>
              </div>

              <div class="form-group">
                <label for="what">No que consiste seu projeto?</label>
                <textarea name="what" rows="5" class="form-control"></textarea>
                <p class="help-block small">Ex: O projeto consiste na organização de um grupo de corrida dos colaboradores da empresa.</p>
              </div>

              <div class="form-group">
                <label for="periodOfActivities">Qual a periodicidade das atividades do seu projeto?</label>
                <textarea name="periodOfActivities" rows="5" class="form-control"></textarea>
                <p class="help-block small">Ex: As atividades ocorrerão duas vezes na semana, terças e quintas-feiras, em dois horários 7 às 9h e 19 às 21h.</p>
              </div>

              <div class="form-group">
                <label for="localOfRealization">Onde as atividades do seu projeto serão realizadas?</label>
                <textarea name="localOfRealization" rows="5" class="form-control"></textarea>
                <p class="help-block small">Ex: As atividades do projeto serão realizadas na Praia do Forte, Posto 01, mais especificamente na areia.</p>
              </div>

              <div class="form-group">
                <label for="suppliesNeeded">O projeto necessita de suprimentos? Se sim, especifique quais.</label>
                <textarea name="suppliesNeeded" rows="5" class="form-control"></textarea>
                <p class="help-block small">Ex: Água, gelo, cones, cordas, apitos, etc.</p>
              </div>

              <div class="form-group">
                <label for="objective">Qual o principal objetivo do seu projeto, e quais os resultados você pretende alcançar com ele?</label>
                <textarea name="objective" rows="5" class="form-control"></textarea>
                <p class="help-block small">Ex: Gerar qualidade de vida e reduzir o sedentarismo entre os colaboradores da empresa.</p>
              </div>

              <div class="form-group">
                <label for="costSpreadsheet">Quanto custa a realização do seu projeto?</label>
                <input type="file" name="costSpreadsheet">
                <p class="help-block small">Faça o <a href="/docs/planilha-orcamentaria-vemprojogo.xls" target="_blank"><i class="fa fa-download"></i> download do modelo de planilha orçamentaria</a>, preencha, e anexe a no campo acima.</p>
              </div>

              <div class="form-group">
                <label for="secondaryTenderer">Proponente 2</label>
                <div>

                  <select name="secondaryTenderer" id="secondaryTenderer" class="form-control" style="width: 100%">
                    <option value="">Selecione um proponente</option>
                    {{#each friends}}
                    <option value="{{user.id}}">{{user.name}}</option>
                    {{/each}}
                  </select>
                </div>
                <p class="help-block small">O proponente 2 além de participante também é o segundo responsável por coordernar o projeto.</p>
              </div>

              <div class="form-group">
                <label for="participants">Participantes</label>
                {{!-- <input type="text" class="form-control" name="participants" id="participants"> --}}
                <select name="participants" id="participants" class="form-control" multiple="multiple" style="width: 100%">
                  {{#each friends}}
                  <option value="{{user.id}}">{{user.name}}</option>
                  {{/each}}
                </select>
                <p class="help-block small">Você precisa convidar um mínimo de 3 amigos. O proponente 1 e 2 já são considerados participantes do projeto.</p>
              </div>


              <div class="form-group">
                <label for="maxParticipants">Qual o número máximo de participantes?</label>
                <div class="row">
                  <div class="col-xs-4">
                    <input type="text" class="form-control" name="maxParticipants">
                  </div>
                </div>
              </div>

              <div class="checkbox">
                <label>
                  <input type="checkbox" name="accept"> Eu declaro que li e estou de acordo com o <a href="/docs/regulamento-do-programa-vemprojogo-revisao-03.03.pdf" target="_blank">regulamento do programa #VEMPROJOGO</a>
                </label>
              </div>

              <input type="submit" value="Inscrever projeto" class="btn btn-primary">
            </form>
          </div>
          {{/unless}}
        </div>
      </div>
    </div>
  </div>
</section>
<script>
$(function(){
  $application.projects();

  $("#participants").select2({
    language: "pt-BR"
  });

  $("#secondaryTenderer").select2({
    language: "pt-BR"
  });
});
</script>
