<section class="content projects">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        {{>user-sidebar}}
      </div>
      <div class="col-xs-9">
        <div class="list-group-item projects-item">

          {{!-- participants --}}
          <div class="modal fade" id="participants" tabindex="-1" role="dialog" aria-labelledby="participantsLabel" aria-hidden="true">
            <form action="#" method="post" enctype="multipart/form-data" id="participants">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="participantsLabel">Participantes do projeto</h4>
                  </div>
                  <div class="modal-body">
                    {{!-- participantes pendentes --}}
                    <h4>Colaboradores pendentes de aprovação</h4>
                    <div class="list-group friends-list">
                      {{#each requests}}
                      {{!-- friend-item --}}
                      <div class="list-group-item friends-item">
                        <div class="pull-right">
                          <div class="btn-group">
                            <button type="button" class="btn btn-link btn-xs dropdown-toggle edit-post" data-toggle="dropdown" aria-expanded="false">
                              <i class="fa fa-pencil"></i>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                              <li><a href="#" data-participant="{{user.id}}" data-project="{{../model.id}}" data-action="aprovado" data-route="/projects/{{../model.id}}">Aprovar participação</a></li>
                              <li><a href="#" data-participant="{{user.id}}" data-project="{{../model.id}}" data-action="recusado" data-route="/projects/{{../model.id}}">Negar participação</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="pull-left"><a href="/friend/{{user.id}}/timeline" class="avatar"><img class="media-object" src="{{user.avatar}}" width="42"></a></div>
                        <div class="name"><a href="/friend/{{user.id}}/timeline">{{user.name}}</a></div>
                      </div>
                      {{!-- /friend-item --}}
                      {{/each}}
                    </div>
                    {{!-- /participantes pendentes --}}

                    {{!-- participantes --}}
                    <h4>Colaboradores participantes</h4>
                    <div class="list-group friends-list">
                      {{#each accepts}}
                      {{!-- friend-item --}}
                      <div class="list-group-item friends-item">
                        {{#if canDelete}}
                        <div class="pull-right">
                          <div class="btn-group">
                            <button type="button" class="btn btn-link btn-xs dropdown-toggle edit-post" data-toggle="dropdown" aria-expanded="false">
                              <i class="fa fa-pencil"></i>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                              <li><a href="#" data-participant="{{user.id}}" data-project="{{../../model.id}}" data-action="recusado" data-route="/projects/{{../../model.id}}">Remover colaborador</a></li>
                            </ul>
                          </div>
                        </div>
                        {{/if}}
                        <div class="pull-left"><a href="/friend/{{user.id}}/timeline" class="avatar"><img class="media-object" src="{{user.avatar}}" width="42"></a></div>
                        <div class="name"><a href="/friend/{{user.id}}/timeline">{{user.name}}</a></div>
                      </div>
                      {{!-- /friend-item --}}
                      {{/each}}
                    </div>
                    {{!-- /participantes --}}

                    {{!-- participantes --}}
                    <h4>Colaboradores convidados</h4>
                    <div class="list-group friends-list">
                      {{#each invites}}
                      {{!-- friend-item --}}
                      <div class="list-group-item friends-item">
                        <div class="pull-right">
                          <div class="btn-group">
                            <button type="button" class="btn btn-link btn-xs dropdown-toggle edit-post" data-toggle="dropdown" aria-expanded="false">
                              <i class="fa fa-pencil"></i>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                              <li><a href="#" data-participant="{{user.id}}" data-project="{{../model.id}}" data-action="recusado" data-route="/projects/{{../model.id}}">Remover colaborador</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="pull-left"><a href="/friend/{{user.id}}/timeline" class="avatar"><img class="media-object" src="{{user.avatar}}" width="42"></a></div>
                        <div class="name"><a href="/friend/{{user.id}}/timeline">{{user.name}}</a></div>
                      </div>
                      {{!-- /friend-item --}}
                      {{/each}}
                    </div>
                    {{!-- /participantes --}}


                  </div>
                </div>
              </div>
            </form>
          </div>
          {{!-- /participants --}}

          {{!-- participants2 --}}
          <div class="modal fade" id="participants2" tabindex="-1" role="dialog" aria-labelledby="participants2Label" aria-hidden="true">
            <form action="#" method="post" enctype="multipart/form-data" id="participants2">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="participants2Label">Colaboradores participantes</h4>
                  </div>
                  <div class="modal-body">
                    {{!-- participantes --}}
                    <div class="list-group friends-list">
                      {{#each accepts}}
                      {{!-- friend-item --}}
                      <div class="list-group-item friends-item">
                        <div class="pull-left"><a href="/friend/{{user.id}}/timeline" class="avatar"><img class="media-object" src="{{user.avatar}}" width="42"></a></div>
                        <div class="name"><a href="/friend/{{user.id}}/timeline">{{user.name}}</a></div>
                      </div>
                      {{!-- /friend-item --}}
                      {{/each}}
                    </div>
                    {{!-- /participantes --}}
                  </div>
                </div>
              </div>
            </form>
          </div>
          {{!-- /participants2 --}}


          {{!-- inviteFriends --}}
          <div class="modal fade" id="inviteFriends" tabindex="-1" role="dialog" aria-labelledby="inviteFriendsLabel" aria-hidden="true">
            <form action="/projects/{{model.id}}/participants" method="post" id="inviteFriends" enctype="multipart/form-data">
              <input type="hidden" name="route" value="/projects/{{model.id}}">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="inviteFriendsLabel">Convidar amigos</h4>
                  </div>
                  <div class="modal-body">
                    <div class="list-group friends-list">
                      {{#each friends}}
                      {{!-- friend-item --}}
                      <div class="list-group-item friends-item">
                        <div class="pull-left">
                          <label class="checkbox-inline">
                            <input type="checkbox" id="invitedFriend" value="{{user.id}}" name="participants">
                          </label>
                          <a href="/friend/{{user.id}}/timeline" class="avatar"><img class="media-object" src="{{user.avatar}}"></a>
                        </div>
                        <div class="name"><a href="/friend/{{user.id}}/timeline">{{user.name}}</a></div>
                      </div>
                      {{!-- /friend-item --}}
                      {{/each}}
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Convidar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          {{!-- /inviteFriends --}}

          <div class="pull-right">
            {{#unless requested}}
            {{#if showActivate}}
            <form action="/projects/{{model.id}}/participants/{{currentUser.id}}/aceitar" class="form-inline" method="post" id="inviteFriends">
              <input type="hidden" name="route" value="/projects/{{model.id}}">
              <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Aceitar convite</button>
            </form>
            <br>
            <form action="/projects/{{model.id}}/participants/{{currentUser.id}}/recusado" class="form-inline" method="post" id="inviteFriends">
              <input type="hidden" name="route" value="/projects/{{model.id}}">
              <button type="submit" class="btn btn-primary"><i class="fa fa-minus"></i> Cancelar convite</button>
            </form>
            {{else}}
              {{#if canParticipate}}
                {{#unless participateIn}}
                  <form action="/projects/{{model.id}}/participants/{{currentUser.id}}/participar" method="post" id="inviteFriends">
                    <input type="hidden" name="route" value="/projects/{{model.id}}">
                    <button type="submit" class="btn btn-primary">
                      <i class="fa fa-plus"></i> Participar</span>
                    </button>
                  </form>
                  {{/unless}}
                {{/if}}
              {{/if}}
            {{/unless}}

            {{#if requested}}
            <form action="/projects/{{model.id}}/participants/{{currentUser.id}}/recusado" class="form-inline" method="post" id="inviteFriends">
              <input type="hidden" name="route" value="/projects/{{model.id}}">
              <button type="submit" class="btn btn-primary"><i class="fa fa-minus"></i> Cancelar participação</button>
            </form>
            {{/if}}

            {{#if participateIn}}
            <div class="btn-group">
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-check"></i> Participando <span class="caret"></span>
              </button>

              <ul class="dropdown-menu pull-right" role="menu">
                <li><a href="#" data-participant="{{currentUser.id}}" data-project="{{model.id}}" data-action="recusado" data-route="/projects/{{model.id}}">Sair do projeto</a></li></li>
              </ul>
            </div>
            {{/if}}

            {{#if showParticipated}}
            <button type="button" class="btn btn-success dropdown-toggle" aria-expanded="false">
              <i class="fa fa-check"></i> Participando
            </button>
            {{/if}}


            {{#if showParticipantsAndInvite}}
              {{#unless inviteFriends}}<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#inviteFriends"><i class="fa fa-user-plus"></i> Convidar amigos</a>{{/unless}}

              <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#participants"><i class="fa fa-group"></i> Participantes</a>
            {{/if}}
          </div>

          <div class="name"><h4>{{model.name}}</h4></div>
          <div class="date"><i class="fa fa-soccer-ball-o"></i> Projeto de <a href="/friend/{{model.owner.id}}/about" target="_blank">{{model.owner.name}}</a> e <a href="/friend/{{model.secondaryTenderer.id}}/about" target="_blank">{{model.secondaryTenderer.name}}</a></div>
          <div class="local">{{model.city}} - {{model.state}}</div>
          <div class="date"><i class="fa fa-calendar-o"></i> {{model.startDateFormated}} a {{model.endDateFormated}}</div>
          <div class="participants"><a href="#" data-toggle="modal" data-target="#participants2"><i class="fa fa-users"></i> {{model.participants.length}} de {{model.maxParticipants}}</a>
          <div class="label label-{{model.statusClass}}">Projeto {{model.status}}</div>
          </div>
          <div class="description">
          <h4>No que consiste o projeto</h4>
          <p>{{model.what}}</p>

          <hr>

          <h4>Período de realização das atividades do projeto</h4>
          <p>{{model.periodOfActivities}}</p>

          <hr>

          <h4>Local de realização do projeto</h4>
          <p>{{model.localOfRealization}}</p>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
$(function(){
  $('a[data-action="aprovado"], a[data-action="recusado"]').click(function(){
    var $elm = $(this);
    var $route = $elm.data('route');
    var $project = $elm.data('project');
    var $participant = $elm.data('participant');
    var $action = $elm.data('action');

    var url = '/projects/'+$project+'/participants/'+$participant+'/'+$action;
    $.post(url, {route: $route}, function( data ) {
      location.reload();
    });
  });
});
</script>
