<section class="content news news-category">
  <div class="container">
    <!-- treinos -->
    <div class="row {{model.class}}">
      <div class="col-xs-12">
        <header>
          <h2>{{model.name}}</h2>
        </header>
        <!-- news-list -->
        <div class="news-list">
          <div class="row">
            {{#each model.articles}}
              {{>news-item}}
            {{/each}}
          </div>
        </div>
        <!-- /news-list -->
      </div>
    </div>
    <!-- /treinos -->
  </div>
</section>
