<section class="content news news-index">
  <div class="container">
    <!-- newsticker -->
    <div class="slide">
      <ul>
        {{#each newsticker}}
          <li><a href="{{url}}"><img src="{{img}}"></a></li>
        {{/each}}
      </ul>
    </div>
    <!-- /newsticker -->

    {{#each model}}
      <div class="row {{class}}">
        <div class="col-xs-12">
          <header>
            <div class="pull-right"><a href="/categoria/{{id}}">Veja mais notícias sobre {{name}}</a></div>
            <h2>{{name}}</h2>
          </header>
          <!-- news-list -->
          <div class="news-list">
            <div class="row">
              {{#each articles}}
                {{>news-item}}
              {{/each}}
            </div>
          </div>
          <!-- /news-list -->
        </div>
      </div>

      <p>&nbsp;</p>
      <p>&nbsp;</p>
    {{/each}}

  </div>
</section>
<script>
  $(function(){
    var $slide      = $('.slide');
        $slide.item = $('.slide').find('li');
    var $img = [];
    var $a   = [];

    if($slide.item.length > 0) {
      $slide.find('ul').css('display', 'none');

      $.each($slide.item, function(i, e) {
        $a[i] = $(e).find('a').attr('href');
      });

      $.each($slide.item, function(i, e) {
        $img[i] = $(e).find('img').attr('src');
      });

      $(window).on('backstretch.show', function(e, instance, index) {
        $(instance.$container).find('a').attr('href', $a[index]);
      });

      $slide.backstretch($img, {duration: 3000, fade: 750});
      $slide.find('.backstretch').find('img').wrap($('<a>', {
        href: ''
      }));
    }
  });
</script>
