<section class="content news news-single">
  <div class="container">
    <div class="row">
      <div class="col-xs-9 {{model.categoryId.class}}">
        <header>
          <h4>{{model.subtitle}}</h4>
          <h2>{{model.title}}</h2>
          <span class="label">{{model.categoryId.name}}</span> <span class="date small"><i class="fa fa-calendar"></i> 02 de Março, 2015</span>
        </header>

        <img src="{{model.photo}}" class="img-responsive"><br><br>

        {{{model.content}}}
      </div>
      <div class="col-xs-3">
        <div class="news-list">
          <header>
            <h4>Últimas notícias</h4>
          </header>
          {{#each lastArticles}}
            <!-- news-item -->
            <div class="news-item {{categoryId.class}}">
              <a href="/noticia/{{id}}">
                <span class="subtitle">{{subtitle}}</span>
                <span class="title">{{title}}</span>
              </a>
            </div>
            <!-- /news-item -->
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>
