<section class="content admin news">
  <div class="container">
    <div class="row menu">
      <div class="col-xs-12">
        {{>admin-menu}}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-right"><a href="/admin/projects">Voltar para a lista de notícias</a></div>
        <h3>Criar notícia</h3>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {{!-- create news --}}
        <div class="row">
          <div class="col-xs-12">
            <form action="" method="post" id="createNews" enctype="multipart/form-data">
              <div class="form-group">
                <label for="title">Título</label>
                <input type="text" class="form-control" name="title">
              </div>

              <div class="form-group">
                <label for="subtitle">Subtítulo</label>
                <input type="text" class="form-control" name="subtitle">
              </div>

              <div class="form-group">
                <label for="subtitle">Categoria</label>
                <select name="categoryId" class="form-control categoryId">
                  <option value=""></option>
                  {{#each categories}}
                  <option value="{{id}}">{{name}}</option>
                  {{/each}}
                </select>
              </div>

              <div class="form-group">
                <label for="photo">Thumbnail</label>
                <input type="file" class="form-control" name="photo">
              </div>

              <div class="form-group">
                <label for="content">Texto</label>
                <textarea class="form-control" name="content" rows="10"></textarea>
              </div>

              <button type="submit" class="btn btn-primary">Adicionar</button>
            </form>
          </div>
        </div>
        {{!-- /create news --}}
      </div>
    </div>
  </div>
</section>