<section class="content admin">
  <div class="container">
    <div class="row menu">
      <div class="col-xs-12">
        {{>admin-menu}}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <h4>Notícias</h4>
      </div>
    </div>
    <div class="row submenu">
      <div class="col-xs-12">
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#createNewsModal"><i class="fa fa-plus"></i> Adicionar notícia</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Título</th>
              <th>Subtítulo</th>
              <th>Categoria</th>
              <th class="actions"></th>
            </tr>
          </thead>
          <tbody>
            {{#each model}}
            <tr id="article-{{id}}">
              <td>{{title}}</td>
              <td>{{subtitle}}</td>
              <td>{{categoryId.name}}</td>
              <td>
                <a href="#" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#readNewsModal-{{id}}"><i class="fa fa-eye"></i></a>
                <a href="#" class="btn btn-success btn-xs" data-toggle="modal" data-target="#updateNewsModal-{{id}}"><i class="fa fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteNewsModal-{{id}}"><i class="fa fa-trash"></i></a></td>
            </tr>
            {{/each}}
          </tbody>
        </table>

        <!-- createNewsModal -->
        <div class="modal fade" id="createNewsModal" tabindex="-1" role="dialog" aria-labelledby="createNewsModalLabel" aria-hidden="true">
          <form action="" method="post" id="createNews" enctype="multipart/form-data">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="createNewsModalLabel">Adicionar</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="title">Título</label>
                    <input type="text" class="form-control" name="title">
                  </div>

                  <div class="form-group">
                    <label for="subtitle">Subtítulo</label>
                    <input type="text" class="form-control" name="subtitle">
                  </div>

                  <div class="form-group">
                    <label for="subtitle">Categoria</label>
                    <select name="categoryId" class="form-control categoryId">
                      <option value=""></option>
                      {{#each categories}}
                      <option value="{{id}}">{{name}}</option>
                      {{/each}}
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="photo">Thumbnail</label>
                    <input type="file" class="form-control" name="photo">
                  </div>

                  <div class="form-group">
                    <label for="content">Texto</label>
                    <textarea class="form-control" name="content" rows="10"></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        {{!-- /createNewsModal --}}

        {{#each model}}
        <!-- readNewsModal -->
        <div class="modal fade" id="readNewsModal-{{id}}" tabindex="-1" role="dialog" aria-labelledby="readNewsLabelModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="readNewsLabelModal">Visualizar</h4>
              </div>
              <div class="modal-body">
                <div class="list-group">
                  <div class="list-group-item">
                    <strong>Título</strong><br>
                    {{title}}
                  </div>
                  <div class="list-group-item">
                    <strong>Subtítulo</strong><br>
                    {{subtitle}}
                  </div>
                  <div class="list-group-item">
                    <strong>Categoria</strong><br>
                    {{categoryId.name}}
                  </div>
                  <div class="list-group-item">
                    <strong>Thumbnail</strong><br>
                    <img src="{{photo}}" alt="">
                  </div>
                  <div class="list-group-item">
                    <strong>Texto</strong><br>
                    {{{content}}}
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>
        {{!-- /readNewsModal --}}

        <!-- updateNewsModal -->
        <div class="modal fade" id="updateNewsModal-{{id}}" tabindex="-1" role="dialog" aria-labelledby="updateNewsModalLabel" aria-hidden="true">
          <form action="/admin/news/{{id}}" method="post" id="updateNews-{{id}}" class="updateNews" enctype="multipart/form-data">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="updateNewsModalLabel">Atualizar</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="title">Título</label>
                    <input type="text" class="form-control" name="title" value="{{title}}">
                  </div>

                  <div class="form-group">
                    <label for="subtitle">Subtítulo</label>
                    <input type="text" class="form-control" name="subtitle" value="{{subtitle}}">
                  </div>

                  <div class="form-group">
                    <label for="subtitle">Categoria</label>
                    <select name="categoryId" class="form-control categoryId" data-selected="{{categoryId.id}}">
                      <option value=""></option>
                      {{#each ../categories}}
                      <option value="{{id}}">{{name}}</option>
                      {{/each}}
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="photo">Thumbnail</label>
                    <input type="file" class="form-control" name="photo">
                  </div>

                  <div class="form-group">
                    <label for="content">Texto</label>
                    <textarea class="form-control" name="content" rows="10">{{content}}</textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary">Atualizar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        {{!-- /updateNewsModal --}}

        <!-- deleteNewsModal -->
        <div class="modal fade" id="deleteNewsModal-{{id}}" tabindex="-1" role="dialog" aria-labelledby="deleteNewsModalLabel" aria-hidden="true">
          <form action="#" method="post" id="deleteNews-{{id}}">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="deleteNewsModalLabel">Deletar</h4>
                </div>
                <div class="modal-body">
                  <form action="">
                    Tem certeza que você deseja deletar a notícia {{title}}?
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-danger deleteArticle" data-article="{{id}}">Deletar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        {{!-- /deleteNewsModal --}}
        {{/each}}
      </div>
    </div>
  </div>
</section>
<script>
$(function(){


  $('.deleteArticle').click(function(e){
    e.preventDefault();

    var $id = $(this).data('article');
    var url = '/admin/news/'+$id;

    io.socket.request({
      method: 'delete',
      url: url,
      params: {},
      headers: {}
    });
  });

  $('.categoryId').each(function(){
    var $elm = $(this);
    var $selected = $elm.data('selected');

    $elm.children('option').each(function(){
      var $option = $(this);
      if($option.attr('value') === $selected) $option.attr('selected', 'selected');
    })
  });

  $application.adminNews();

  // $('.categoryId').selectize({
  //   create: false,
  //   sortField: 'text'
  // });

  io.socket.on('user {{currentUser.id}} article', function(result) {
    if(result.verb === 'updated') {
      location.reload();
    }
    if(result.verb === 'deleted') {
      $('#article-'+result.id).fadeOut('slow');
      $('#deleteNewsModal-'+result.id).modal('toggle');
    }
  });
});


</script>
